<script src="src/controllers/add-strengthprogram.js"></script>
<div class="comm_innerbox" >
   <div class="managebox">
      <div class="str_bx_fld">
         <div class="str_bx_hdr" id="strengthprogramDes">
            <label for="strengthprogdescription">Description :</label>
            <input class="strengthprogdescription _nonempty" type="text" id="strengthprogdescription" />
             <label class="calign" for="clscircuittype">Type :</label>
            <select class="clscircuittype" id="clscircuittype">
            </select>
            <button class="saveStrengthProgramData" onclick="saveStrengthProgramData()">SAVE</button>
         </div>
         <input type="hidden" value="" id="strength_program_id" >
         <div class="programweekdetails strengthdetails" >
             <div class="str_bx_ctn">
                <div class="str_bx_ctn_fld">
                   <label for="idtrainingweek">Training week</label>
                   <input type="number" class="clstrainingweek" id="idtrainingweek" />
                </div>
                <div class="str_bx_ctn_fld">
                   <label for="idseries">Series</label>
                   <input type="number" class="clsseries clsclearvalues" id="idseries" />
                </div>
                <div class="str_bx_ctn_fld">
                   <label for="idRep">Rep</label>
                   <input type="number" class="clsRep clsclearvalues" id="idRep" />
                </div>
                <div class="str_bx_ctn_fld">
                   <label for="idTime">Time</label>
                   <input type="number" class="clsTime clsclearvalues" id="idTime" />
                </div>
                <div class="str_bx_ctn_fld">
                   <label for="idstrength">Strength %</label>
                   <input type="number" class="clsstrength clsclearvalues" id="idstrength" />
                </div>
                <div class="str_bx_ctn_fld">
                   <label for="idrest">Rest</label>
                   <input type="number" class="clsRest clsclearvalues" id="idrest" />
                </div>
                <div class="str_bx_hdr">
                    <button class="saveWeekprgmanually" onclick="saveWeekprgmanually()">SAVE</button>
                </div>

             </div>
          <div class="mar_btm_none st_program_tbl managetable programweektabel">
                                <table cellpadding="0" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Traingswee</th>
                                        <th>Series</th>
                                        <th>Herh</th>
                                        <th>Tijd</th>
                                        <th>Kracht%</th>
                                        <th>Rust</th>
                                    </tr>
                                </thead>
                                    <tbody>
                                        <tr><td colspan="8">No result found</td></tr>
                                    </tbody>
                                </table>

                            </div>
          </div>
      </div>
   </div>
   <div class="clear"></div>
</div>

