<script src="src/controllers/add-machine.js"></script>
<div class="comm_innerbox" >
   <div class="managebox">
      <div class="str_bx_fld">
            <button class="saveStrengthProgramData addMachinedata " onclick="saveStrengthProgramData()">SAVE</button>
            <button class="saveStrengthProgramData removemachinedata " onclick="removeStrengthProgramData()">Remove Machine</button>
         </div>
         <input type="hidden" value="" id="strength_program_id" >
          <div class="mar_btm_none st_program_tbl managetable programtabel">
            <table cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th>Map</th>
                    <th>Machine Name</th>
                </tr>
            </thead>
                <tbody>
                    <tr><td colspan="8">No result found</td></tr>
                </tbody>
            </table>

        </div>
   </div>
</div>
<div class="clear"></div>

