<script src="src/controllers/cardio-test.js"></script>

<script>
    $(function(){
        //maincontent_leftimage();
        $(".main_left").show().removeClass("background3 background2 background4").addClass("background1");

        //$(window).resize(function(){
        //	maincontent_leftimage();
        //});

    });
</script>


<div class="comm_innerbox clscardiomonitorscreen showsideimage" >
    <div class="inner_pagebg">
        <div class="inner_content">
            <div class="pageheader1_box">
                <div class="pageheader1_leftbox">
                    <span>
                        <img id="memberImage" alt="Loading.." src="images/no_image.png">
                    </span>
                    <h3 class="memberName"><img src="images/loading.gif"/></h3>
                </div>
                <div class="pageheader1_rightbox cardio_hdr_field">
                    <div class="pageheader1_fr_field cardio_moni_fld">
                        <label class="transtestdatecls" for="monitor_testdate">Test date</label>
                        <input type="text" id="monitor_testdate" disabled="disabled"/>
                        <!-- -- Need to change the Type to type="date" Later After fixing type="date" issue -- -->
                    </div>
                    <div class="pageheader1_fr_field cardio_moni_fld">
                    <label  class="transtestlevelcls" for="idtestlevels">Test level</label>
                        <select id="idtestlevels" class="blu_input_drop persontestlevel cdbdcmppersontestlevel req-nonzero" disabled tabindex="-1"></select>
                    </div>
                </div>
                <div class="pageheader1_rightbox cardio_hdr_field">
                    <div class="pageheader1_fr_field cardio_moni_fld">
                        <label class="transtestoption" for="idconnectedmachinename">Test Option</label>
                        <input type="text" id="idconnectedmachinename" value="Cycle"  disabled="disabled">
                    </div>
                    <div class="pageheader1_fr_field cardio_moni_fld">
                        <label class="transtestequipment" for="idmachine_equipment">Test Equipment</label>
                        <select id="idmachine_equipment" class="blu_input blu_input_drop">
                            <option selected="selected">Select Equipment</option>
                        </select>
                    </div>
                </div>
                <div class="pageheader1_rightbox cardio_hdr_field">
                    <div class="pageheader1_fr_field cardio_moni_fld">
                        <label class="transagetestcls" for="monitor_ageontest">Age at test Date</label>
                        <input type="text" id="monitor_ageontest" value="25" disabled="disabled">
                    </div>
                    <!--
                    -->
                    <div class="pageheader1_fr_field cardio_moni_fld">
                        <label class="transweighttestcls" for="monitor_weightontest">Weight On testdate</label>
                        <input type="text" id="monitor_weightontest" disabled="disabled">
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="graph_time">
                <div class="time_panel bordernone pageheader1_fr_field">
                    <h4><label class="transtimecls" for="monitor_timer">Time </label><br/><input type="text" id="monitor_timer" class="" value="00:00:00"><label class="transtestcls">test</label></h4>
                </div>
                <div class="time_panel">
                    <h2 id="cHRM" class="colorred">N/A</h2>
                    <label>HRM</label>
                </div>
                <div class="time_panel">
                    <h2 id="cRPM" class="colorblue" >N/A</h2>
                    <label>RPM</label>
                </div>
                <div class="time_panel">
                    <h2 id="cWATT">N/A</h2>
                    <label>WATT</label>
                </div>
            </div>
            <div class="graph_box" id="monitor_hrate"></div>
            <div class="clear"></div>
            <div>
                <!--<button id="monitor_cooldown" class="cooldown_btn" onclick="coolDownTest()">COOLDOWN</button>-->
                <button id="monitor_cooldown" class="cooldown_btn" onclick="startCardioTestDevice(true)">START</button>
            </div>
            <div id="idcybexlog">

            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>