<div class="comm_innerbox" >
    <div class="inner_pagebg">
        <div class="inner_content">
            <div class="row3_box">
                <div class="cols1_box">
                    <img src="images/cardiot1.png" alt="cardiot1" />
                </div>
                <div class="cols2_box">
                    <img src="images/graphbg1.png" alt="graphbg1" />
                </div>
                <div class="cols3_box">
                    <!-- <img src="images/cardiot1.png" alt="cardiot1" /> -->
                    <div class="time_panel">
                        <h2 class="color1">140</h2>
                        <!-- <label>HRM</label> -->
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="row3_box">
                <div class="cols1_box">
                    <div class="cols1_box_image marg_bot" ><img src="images/cardiot2.png" alt="cardiot1" /></div>
                    <div class="cols1_box_image" ><img src="images/cardiot3.png" alt="cardiot1" /></div>
                </div>
                <div class="cols2_box">
                    <img src="images/graphbg2.png" alt="graphbg2" />
                </div>
                <div class="cols3_box">
                    <!-- <img src="images/cardiot1.png" alt="cardiot1" /> -->
                    <div class="time_panel marg_bot">
                        <h2 class="colorred">140</h2>
                        <!-- <label>HRM</label> -->
                    </div>
                    <div class="time_panel">
                        <h2 class="graycolor">140</h2>
                        <!-- <label>HRM</label> -->
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="row3_box">
                <div class="cols1_box">
                    <img src="images/cardiot4.png" alt="cardiot1" />
                </div>
                <div class="cols2_box">
                    <img src="images/graphbg3.png" alt="graphbg3" />
                </div>
                <div class="cols3_box">
                    <span class="timefeild"> 00:18:00 </span>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>