<script src="src/controllers/cardio-test.js"></script>

<script>
    $(function(){
        //maincontent_leftimage();
        $(".main_left").show().removeClass("background1 background2 background3").addClass("background4");

        //$(window).resize(function(){
        //	maincontent_leftimage();
        //});

    });
</script>
<div class="comm_innerbox showsideimage" >
    <div class="comm_rightbox">
        <div class="pageheader1_box" >
            <span>
                <img id="memberImage" src="images/user_image1.png" alt="user_image1" />
            </span>
            <h3>Hallo <b class="memberName"><img src="images/loading.gif" alt="Loading.."/></b>, link Your Heartrate Device.</h3>
                <!--<div class="pageheader1_rightbox">
                    <div class="pageheader1_fr_field">
                    <label>Test date</label>
                    <input type="text" value="15/12/2015" />
                </div>
                <div class="pageheader1_fr_field">
                    <label>Test method</label>
                    <input type="button" class="bluebtn" value="Futrex" />
                </div>
            </div>-->
            <div class="clear"></div>
        </div>
        <div class="heartratebox_outer">
            <div class="but_box">
            <!-- <button class="backbtn" ></button> -->
                <button class="scanheartbtn transheartrate" onclick="ScanHR_BLEDevice()" >Scan for Heartrate Device</button>
                <div class="clear"></div>
            </div>
            <ul class="selectlist_ul heartratebox bordernone" >
                <li>
                    <div class="listdiv_left">
                        <img src="images/userempty_image.png" alt="user_image" />
                    </div>
                    <div class="listdiv_right">
                        <h4><img src="images/loading.gif" alt=" Loading.."/></h4>
                        <p><img src="images/loading.gif" alt=" Loading.."/></p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="clear"></div>
</div>