<script type="text/javascript" src="js/canvasjs.js"></script>
<script type="text/javascript" src="src/controllers/cardio-analysis.js"></script>
<style>
.crd-tst {
	height: 30px;
	width: 60px;
	font-size: 20px;
}
.head_profile {
    float: left!important;
    width: calc(100% - 442px);
    padding: 14px 0px 0px 0!important;
    margin-left: 15px;
}
.use_internalimg {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid #0095ac;
    display: inline-block;
    float: left;
}
.mind-actys {
    float: right;
    width: 200px;
    margin-right: 30px;
    /* margin-top: -70px; */
}
</style>
<div class="comm_innerbox">
    <div class="comm_rightbox">
        <div class="pageheader1_box analysis_btn" >
            <span class="use_internalimg">
                <img src="images/no_image.png" alt="user_image1" id="memberImage" />
            </span>
            <div class="head_profile">
            <p class="memberName"><img src="images/loading.gif"/></p>
			<p class="memberEmail"></p>
			<p class="memberPhone"></p>
			</div>
			<input type="hidden" id="memberid" value=""/>
			<div class="show_manageMenus" style ="width:23%;"></div>
			<!-- <a href="javascript:_movePageTo('manual_data')" id="idsavemanualdata" class="btn" onclick="manualtraining()"> Manual trainingplan</a> -->
			<div class="mul_bttns">
			 <button id="idsavemanualdata" onclick="manualtraining()" class="btn">Manual trainingplan</button>
            <button id="idsaveanalysisdata" onclick="saveAnalysisChart(this)" class="btn transsave">Save Changes</button>
            <button id="idreanalyzedata" class="btn transreanalyse" onclick="ReAnalyzeTest(this)">Re Analyze</button>&nbsp;&nbsp;
            <button id="idcancelreanalyzedata" class="btn transcancel" onclick="CancelReAnalyzeTest(this)" style="display:none">Cancel</button>&nbsp;&nbsp;
			</div>
            <div class="clear"></div>	
        </div>
        <div class="analysis_header_box" ><button id="pretest" class="clsanalysenav"><</button><button id="nexttest" class="clsanalysenav">></button></div>
        <div class="clsanalysis-chart" style="">
            <!--<div id="chartResult" style="height: 300px;" ></div>-->
			<div class="load_dat" style="display:none;"><img src="images/loader.gif"/></div>
            <div id="chartResult" style="min-height: 500px;"></div>
        </div>
        <!-- <div style="border:1px solid #909090; text-align:right; background-color:#ECECEC"> -->
        <div class="analysis_header_box" >
		<div class="frst_div" style="float:left;width:100%;">
            <button id="idjumptrimdown"><</button>
            <label class="analysis_radio_label transtrim" for="jumpopttrim">Trim</label>
            <!-- <input type="radio" class="clsreporttrimjumpoption" name="nmreporttrimjumpoption" value="1"> -->
            <span class="radiobox">
                <input type="radio" value="1" name="nmreporttrimjumpoption" class="clsreporttrimjumpoption" id="jumpopttrim">
            </span>
            <label class="analysis_radio_label transjump" for="jumpopt">Jump</label>
            <!-- <input type="radio" class="clsreporttrimjumpoption" name="nmreporttrimjumpoption" value="0" checked> -->

            <span class="radiobox radiobtn">
                <input type="radio"  value="0" checked name="nmreporttrimjumpoption" class="clsreporttrimjumpoption" id="jumpopt">
            </span>
            &nbsp;
            <button id="idjumptrimup">></button>
            <div class="clear"></div>
		</div>
        </div>
		<div class="analysis_header_box" style="margin-top:25px;">
			<div class="sec_div" style="float:left;width:100%;">
				<label>MAX-HF</label>
				<input class="crd-tst" type="text" value="" id="frt_aaa">
				
				<label>IANT-HF</label>
				<input class="crd-tst" type="text" value="" id="sec_aaa">
				
				<label>MAX-WATT</label>
				<input class="crd-tst" type="text" value="" id="thr">
				
				<label>IANT-WATT</label>
				<input class="crd-tst" type="text" value="" id="frth_aaa">
				
				<label>FITLEVEL</label>
				<input class="crd-tst" type="text" value="" id="fitlevel">
				
				<label>REGR-COEF.</label>
				<input class="crd-tst" type="text" value="" id="regression1">
				<!--<label>REGG.COFF</label>
				<input class="crd-tst" type="text" value="" id="fth_aaa"> -->
			</div>	
		</div>		
        <div class="clsanalysis-chart" style="margin-top:25px;" >
            <div id="CATchartResult" style="height: 500px;" ></div>
        </div>
        <textarea class="clsanalysis-chart" id="analysenotes" onclick="$(this).select()" placeholder="Please Enter Chart analysis note" style="padding:5px; width:99%"></textarea>
        <!--
        <div class="clsanalysis_tabs">
            <div class="clsanalysis_tabs_hdr">
                <span class="first tabschart1 atve_tabs" >Heart Rate Graph</span>
                <span class="last tabschart2">CAT Heart Rate Graph</span>
                <div class="clear"></div>
            </div>
            <div class="clsanalysis_tabs_cnt" id="clsanalysis_tabs_cnt" >
                <div class="clsanalysis-chart tabs_cnt1" style="display: block;" >
                    <div id="chartResult" style="height: 300px;" ></div>
                </div>
                <div class="clsanalysis-chart tabs_cnt2" style="display: none" >
                    <div id="CATchartResult" style="height: 500px;" ></div>
                </div>
            </div>
        </div>-->
    </div>
    <div class="clear"></div>
</div>