<script src="src/controllers/change-strengthprogram.js"></script>
<div class="comm_innerbox" >
                <div class="managebox">
                    <div class="headerfieldbox">
                        <input type="text" class="int_nw" id="client_id_name" placeholder="Name" disabled/>
                        <input type="text" class="int_nw mar_left" id="client_id_email" placeholder="Email" disabled/>
                        <ul class="footermenu">
                            <li>
                                <a href="javascript:_movePageTo('add-machineprogram')">
                                    <img alt="addicon" src="images/addicon.png">
                                    <h4>Add Program</h4>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" onclick="saveNewProgrmDetails()">
                                    <img alt="addicon" src="images/addicon.png">
                                    <h4>Save Program</h4>
                                </a>
                            </li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    <span class="popup_new_bg"></span>
                    <div class="popup_new">
                    <div class="grid-block">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <thead>
                                <tr class="grid-title trheader">
                                    <td class="trheader">&nbsp;</td>
                                    <td class="trheader">Machines</td>
                                </tr>
                            </thead>
                            <tbody class="strengthmachinelist">
                                <tr>
                                    <td><label for="machineanmecheck" style="display:none"></label><input class="strength_test_activity_option" name="strength_machine[name][strength_machine_id]" type="checkbox" value="name" id="machineanmecheck"/>
                                        <input name="strength_machine[name][strength]" type="hidden" value="name" />
                                    </td>
                                    <td>machine name</td>
                                </tr><tr>
                                    <td><label for="machinedumble" style="display:none"></label><input class="strength_test_activity_option" name="strength_machine[name][strength_machine_id]" type="checkbox" value="name" id="machinedumble"/>
                                        <input name="strength_machine[name][strength]" type="hidden" value="name" />
                                    </td>
                                    <td>Dumbels</td>
                                </tr><tr>
                                    <td><label for="machinelifts" style="display:none"></label><input class="strength_test_activity_option" name="strength_machine[name][strength_machine_id]" type="checkbox" value="name" id="machinelifts"/>
                                        <input name="strength_machine[name][strength]" type="hidden" value="name" />
                                    </td>
                                    <td>Lifts</td>
                                </tr>
                                <tr>
                                    <td><label for="machinethreadmill" style="display:none"></label><input class="strength_test_activity_option" name="strength_machine[name][strength_machine_id]" type="checkbox" value="name" id="machinethreadmill"/>
                                        <input name="strength_machine[name][strength]" type="hidden" value="name" />
                                    </td>
                                    <td>Thread Mill</td>
                                </tr>
                                <tr>
                                    <td><label for="machineweight" style="display:none"></label><input class="strength_test_activity_option" name="strength_machine[name][strength_machine_id]" type="checkbox" value="name" id="machineweight"/>
                                        <input name="strength_machine[name][strength]" type="hidden" value="name" />
                                    </td>
                                    <td>Weights</td>
                                </tr>
                                <tr>
                                    <td><label for="machinepullup" style="display:none"></label><input class="strength_test_activity_option" name="strength_machine[name][strength_machine_id]" type="checkbox" value="name" id="machinepullup"/>
                                        <input name="strength_machine[name][strength]" type="hidden" value="name" />
                                    </td>
                                    <td>Pull-ups</td>
                                </tr>
                                <tr>
                                    <td><label for="machinepullupid" style="display:none"></label><input class="strength_test_activity_option" name="strength_machine[name][strength_machine_id]" type="checkbox" value="name" id="machinepullupid"/>
                                        <input name="strength_machine[name][strength]" type="hidden" value="name" />
                                    </td>
                                    <td>Push-ups</td>
                                </tr>
                         </tbody>
                        </table>
                    </div>
                    <div class="row-sec btn-sec">
                        <input type="button" class="pop_cancel_btn btn black-btn fr" value="CANCEL">
                        <input type="button" class="btn black-btn fr strengthprgmid" strengthprgmid=""  value="SAVE">
                        <!--<input type="button" onclick="strengthTestAddActivities()" class="btn black-btn fr strengthprgmid" strengthprgmid=""  value="SAVE">-->
                    </div>
                </div>
                    <input type="hidden" value="" class="selectedNew_ProgamID" />
                    <!--<div class="tabsbox">
                        <span>Cardio test todo</span>
                        <span>Bodycomp. test todo</span>
                        <span>Flexibility test todo</span>
                        <span>Reports to print</span>
                        <span>Overtraining</span>
                    </div>--->
                    <div class="st_program">
                        <div class="st_program_lf">
                            <div class="mar_btm_none st_program_tbl managetable programtabel">
                                <table cellpadding="0" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Number</th>
                                            <th>Beschrijving</th>
                                            <th>Type 1</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr><td colspan="8"><img src="images/loading.gif"/></td></tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="mar_btm_none st_program_tbl managetable programweektabel">
                                <table cellpadding="0" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Traingswee</th>
                                        <th>Series</th>
                                        <th>Herh</th>
                                        <th>Tijd</th>
                                        <th>Kracht%</th>
                                        <th>Rust</th>
                                    </tr>
                                </thead>
                                    <tbody>
                                        <tr><td colspan="8">No result found</td></tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                        <div class="st_program_rf">
                            <ul>
                                <li><span class="current_color" ></span>Current Program : <span class="currenProgramName prognmae"></span></li>
                                <li><span class="new_color" ></span> New Program Will be: <span class="selectedProgramName prognmae"></span></li>
                            </ul>

                            <div class="st_program_btn_box">
                                <div class="st_par_box">
                                    <label for="strpgmperid">+/-</label>
                                    <input type="text" class=""  id="strpgmperid" />
                                    <label>%</label>
                                </div>
                                <button>Go Back to week 1</button>
                                <div class="clear" ></div>
                                <div class="st_par_box">
                                    <label for="strpgmgoback">+/-</label>
                                    <input type="text" class="" id="strpgmgoback"/>
                                    <label>%</label>
                                </div>
                                <button>Continue with Current Week</button>
                                <div class="clear" ></div>
                                <button>Go Back to Week 1 Change Future Training values </button>
                                <button>Continue with Current Week</button>
                                <button>Go Back to Week 1</button>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
