<script src="src/controllers/change-shedulemachine.js"></script>
    <div class="comm_innerbox" >
                <div class="managebox">
                    <div class="headerfieldbox">
                        <input type="text" class="int_nw" id="client_id_name" placeholder="Name" disabled />
                        <input type="text" class="int_nw mar_left" id="client_id_email" placeholder="Email" disabled />
                        <div class="clear"></div>
                    </div>
                    <div class="tabsbox">
                        <span class="transcardio">Cardio test todo</span>
                        <span class="transbodycomp">Bodycomp. test todo</span>
                        <span class="transflexibility">Flexibility test todo</span>
                        <span class="transreports">Reports to print</span>
                        <span class="transovertraining">Overtraining</span>
                    </div>
                    <div class="st_program">
                        <div class="selectmachine_th" >
                            <span class="" ></span>
                            <p class="transsltmachine">Selected machine </p>:<label id="selectedMachinedet"></label>
                        </div>
                        <div class="st_program_lf">
                            <div class="mar_btm_none st_program_tbl managetable programtabel">
                                <table cellpadding="0" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Select</th>
                                            <th>Number</th>
                                            <th>Beschrijving</th>
                                            <th>karacht</th>
                                            <th>Pin</th>
                                            <th>Action</th>
                                        </tr>
                                    <thead>
                                    <tbody>
                                        <tr><td colspan="8"><img src="images/loading.gif"/></td></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="st_program_rf">
                            <div class="mar_btm_none st_program_tbl managetable programweektabel" id="saveExercisetable">
                                <table cellpadding="0" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Traingswee</th>
                                            <th>Series</th>
                                            <th>Herh</th>
                                            <th>Tijd</th>
                                            <th>Kracht%</th>
                                            <th>Rust</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr><td colspan="8">No Result found</td></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="clear"></div>
                    <div class="tabsbox">
                        <span onclick="SavechangesselcMachiennextTraining()" class="transchangemachien">Save Changes for the Selected Machine </span>
                    </div>
                        <div class="clear"></div>
                    </div>
                </div>
    </div>
<div class="clear"></div>