<script src="src/controllers/checkresult.js"></script>
<script src="src/controllers/chartshow.js"></script>
<style>
span.radiobox.fl_lf {float: left;}
.aaa img {margin: 23px 60px;}
.bbb img {margin: 23px 60px;}
.ccc img {margin: 23px 60px;}
.ddd img {margin: 23px 60px;}
.main_content_bx.chks {pointer-events: none;}
.popup_move {border-radius: 30px;bottom: 0;height: 575px;left: 0;margin: auto;position: fixed;right: 0;text-align: center;
top: 0;width: 900px;padding: 20px 10px 10px 10px;display: none;z-index: 9999;}
.popup_move {background: #fff none repeat scroll 0 0;border: 2px solid #0095ac;}
.popup_eat {border-radius: 30px;bottom: 0;height: 575px;left: 0;margin: auto;position: fixed;right: 0;text-align: center;
top: 0;width: 900px;padding: 20px 10px 10px 10px;display: none;z-index: 9999;}
.popup_eat {background: #fff none repeat scroll 0 0;border: 2px solid #0095ac;}
.popup_mind {border-radius: 30px;bottom: 0;height: 575px;left: 0;margin: auto;position: fixed;right: 0;text-align: center;
top: 0;width: 900px;padding: 20px 10px 10px 10px;display: none;z-index: 9999;}
.popup_mind {background: #fff none repeat scroll 0 0;border: 2px solid #0095ac;}
.cross {float: right;margin-right: 20px;}
.head_profile {
    float: right!important;
    width: calc(100% - 95px)!important;
    padding: 14px 0 0 0!important;
}
</style>
<!---------------------POP FOR DISPLAY THE GRAPH (12-04-17)-------------- -->
<div style="display:none;" id="ppup_move" class="popup_move">
	<div  class="cross"><img id="movecross" src="images/cancel.png"></div>
	<div id="container_move" style="min-width: 850px; height: 550px; margin: 0 auto"><img src="images/loading.gif"/></div>
</div>
<div style="display:none;" id="ppup_eat" class="popup_eat">
	<div  class="cross"><img id="eatcross" src="images/cancel.png"></div>
	<div id="container_eat" style="min-width: 850px; height: 550px; margin: 0 auto"><img src="images/loading.gif"/></div>
</div>
<div style="display:none;" id="ppup_mind" class="popup_mind">
	<div class="cross"><img id="mindcross"  src="images/cancel.png"></div>
	<div id="container_mind" style="min-width: 850px; height: 550px; margin: 0 auto"><img src="images/loading.gif"/></div>
</div>
<!-- ---------------------------END ------------------------------- -->
<div class="consult_bx chks">
        <div class="internal_userleft" style="width: 100%; float: none; margin-top: 3px; ">
		<div class="check_result_profile">
            <span class="use_internalimg">
               <img alt="Loading.." src="images/no_image.png" id="memberImage">
            </span>
            <div class="head_profile">
            <p class="memberName"><img src="images/loading.gif"/></p>
			<p class="memberEmail"></p>
			<p class="memberPhone"></p>
			</div>
			</div>
			<div class="mind-acty">
				<div class="cheak_dropdownformenus" ></div>
			<a href="javascript:mindStatus()" class="btn newtest" style=" float: right;margin-top: 26px;width: 211px;margin-right: 10px;font-size: 13px;padding: 9px 0;">Activeren MIND-vragenlijst</a>
			<input type="hidden" value="" id="usid">
		
			</div>
        </div>

        <div class="">
            <div class="check_reslt">
                <div class="left_reslt">
                    <div class="part_1">
                        <div class="block_a">
                            <h3>Bewustwording</h3>
                            <p id="move"><span id="stsp" class="radiobox ">
                              <input type="radio" value="0" name="nmreporttrimion" class="clsreporttrimion" id="" disabled="disabled">
                              </span>
                              <!-- <span class="spwdth"><strong>MOVE</strong><br /> Stappenteller<br /> Gemiddelde/dag=<span id="stps"></span></span> -->
							<span class="spwdth"><strong>MOVE</strong><br /> Activiteiten dag =<span id="stps"></span></span></p>
                                <p id="eat"><span id="ate" class="radiobox ">
                              <input type="radio" value="0" name="nmreporttrimion" class="clsreporttrimion" id="" disabled="disabled">
                              </span>
                                <span class="spwdth"><strong>EAT</strong><br /> Activiteiten dag= <span id="ets"> </span></span></p>
                               <p id="mind"><span id="md" class="radiobox ">
                              <input type="radio" value="0" name="nmreporttrimion" class="clsreporttrimion" id="" disabled="disabled">
                              </span>
                                <span class="spwdth"><strong>MIND</strong><br /> Activiteiten dag= <span id="mnd"> </span> </span></p>

                        </div>
                        <div class="block_a">
                            <h3>MyVitality score</h3>
                            <div class="circle_img">
                                <div id="resultchart" style="width:200px;height:200px;margin:0 auto"></div>
                            </div>
                            <div class="clo"><span id="cld">0</span>In the cloud</div>
                        </div>
                        <div class="clear_fix"></div>
                        <div class="block_c">
                            <h3>Doel</h3>
                            <div class="radio_div">
                                <label><span id="frt" class="radiobox fl_lf">
                                 <input type="radio" value="0" name="nmreporttrimion" class="clsreporttrimion" id="">
                                 </span><span class="lab">Fitter</span></label>
                                                              <label><span id="snd" class="radiobox fl_lf">
                                 <input type="radio" value="0" name="nmreporttrimion" class="clsreporttrimion" id="">
                                 </span><span class="lab">Afvallen</span></label>
                                                              <label><span id="thr" class="radiobox fl_lf">
                                 <input type="radio" value="0" name="nmreporttrimion" class="clsreporttrimion"  id="">
                                 </span><span class="lab">Minder stress</span></label>
                                                              <label><span id="frth" class="radiobox fl_lf">
                                 <input type="radio" value="0" name="nmreporttrimion" class="clsreporttrimion" id="">
                                 </span><span class="lab">Vitaler(algemeen)</span></label>
                            </div>

                        </div>
                        <div class="clear_fix"></div>
                        <div class="block_d">
                            <h3>Medische informatie</h3>
                            <div class="radio_div" id="medical">
                                <!--li class="qwe"> </li-->
                            </div>

                        </div>
                    </div>
                </div>

                <div class="right_reslt">
                    <div class="part_1">
                        <div class="block_b">
                            <h3>Persoonlijkheidsprofiel</h3>
                            <h4>Extravert, uitleven, naar buiten gericht</h4>
                            <div class="v_text">
							<img style="width:70%;" src="images/ego.png">
                                <!-- <h4 class="vertical_tx">Ego georiënteerd</h4> --></div>
                            <div class="four_blk">
                                <div class="blk1 aa"><span><div id="aaaa" style="display:none;" class="aaa"><img src="images/dot.png"></div></span></div>
                                <div class="blk1 bb"><span><div id="bbbb" style="display:none;" class="bbb"><img src="images/dot.png"></div></span></div>
                                <div class="blk1 cc"><span><div id="cccc" style="display:none;"  class="ccc"><img src="images/dot.png"></div></span></div>
                                <div class="blk1 dd"><span><div id="dddd" style="display:none;" class="ddd"><img src="images/dot.png"></div></span></div>
                            </div>
                            <div class="v_text rt">
							
							 <img style="width:70%;"  src="images/gro.png">
                                <!-- <h4 class="vertical_tx rt">Groepsgeoriënteerd</h4> --></div>
                            <h4>Introvert, onderdrukken, naar binnen gericht</h4>
                        </div>
                        <div class="clear_fix"></div>
                        <div class="block_c">
                            <h3>Gezondheidsvaardigheden</h3>
                            <div class="radio_div">
                                <label><span id="high" class="radiobox fl_lf">
                                 <input  type="radio" value="0" name="nmreporttrimion" class="clsreporttrimion" id="">
                                 </span><span class="lab">Hoog</span></label>
                                                              <label><span id="low" class="radiobox fl_lf">
                                 <input type="radio" value="0" name="nmreporttrimion" class="clsreporttrimion" id="">
                                 </span><span class="lab">Laag</span></label>
                            </div>

                        </div>
                        <div class="clear_fix"></div>
                        <div class="block_d">
                            <h3>Voorkeur</h3>
                            <div class="radio_div">
                                <label><span id="move_low" class="radiobox fl_lf">
                                 <input type="radio" value="0" name="nmreporttrimion" class="clsreporttrimion" id="">
                                 </span><span class="lab">MOVE</span></label>
                                                              <label><span id="eat_low" class="radiobox fl_lf">
                                 <input type="radio" value="0" name="nmreporttrimion" class="clsreporttrimion" id="">
                                 </span><span class="lab">EAT</span></label>
                                                              <label><span id="mind_low" class="radiobox fl_lf">
                                 <input type="radio" value="0" name="nmreporttrimion" class="clsreporttrimion" id="">
                                 </span><span class="lab">MIND</span></label>
                                                              <label><span id="valt_low" class="radiobox fl_lf ">
                                 <input type="radio" value="0" name="nmreporttrimion" class="clsreporttrimion" id="">
                                 </span><span class="lab">VITALITY</span></label>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>

</div>
