<script src="src/controllers/strengthuserlist.js"></script> 
<div class="chestpress_box" >
    <div class="chestpress_box_header">
        <span class="user_iconbox" >
            <img src="images/user_image1.png" alt="user_image1" />
        </span>
        <h4>Chest Press</h4>
        <button class="startpro_btn" >Start <br/> Program</button>
    </div>
    <div class="clear"></div>
    <div class="chest_detail_fl">
        <div class="chestpress_left">
            <span>2A</span>
            <h4>Chest Press</h4>
        </div>
        <div class="clear"></div>
        <img src="images/chestpress3.png" alt="chestpress3.png" />
    </div>
    <div class="chest_detail_fr">
        <div class="chest_btn_list">
            <span>1<label>/5</label></span>
            <h5>SERIE</h5>
        </div>
        <div class="chest_btn_list">
            <span>1<label>/5</label></span>
            <h5>REPS</h5>
        </div>
        <div class="chest_btn_list">
            <span class="bin_img"> </span>
            <span>5</span>
        </div>
    </div>

    <div class="clear"></div>

    <div class="chest_prog_box" >
        <img src="images/chestpress_prog.png" alt="chestpress_prog" />
    </div>

    <div class="chest_btn_box" >
        <div class="heart_box">
            <span class="" >140</span>
            <span class="heart_icon" ></span>
        </div>
        <input class="hearttime_input" value="00:00:00" placeholder="00:00:00"  />
        <button class="hearttime_shop_btn" > Shop </button>
    </div>

    <div class="shoping_box" >
        <div class="shoping_box_left">
            <img src="images/watchimage.png" alt="watchimage" />
        </div>
        <div class="shoping_box_right">
            <h4>Do you already own a HeartRate-monitor ?<br/>
Ask your MOVESMART.coach for advice or check our shop !</h4>
        </div>
        <div class="clear"></div>
    </div>


</div>

