<script src="src/controllers/strengthuserlist.js"></script>
<div class="chestpress_box stregth_usrlist" >
        <div class="chestpress_header_box">
            <div class="chestpress_left">
                <span>2A</span>
                <h4 class="devicemacname">Chest Press</h4>
            </div>
            <div class="chestpress_right">
                <img src="images/chestpress1.png" alt="loading.." />
            </div>
            <div class="clear"></div>
        </div>
    <div class="chestpress_list_box">
        <h4>Select your name</h4>
        <ul class="strengthusrlist">
            <li>
                <h4><img src="images/loading.gif" /> loading..</h4>
            </li>
        </ul>
    </div>
    <div class="clear"></div>
</div>

<div class="chestpress_box strength_usrlist_detail" style="display:none" >
    <div class="chestpress_box_header">
        <span class="user_iconbox" >
            <img src="images/user_image1.png" alt="user_image1" class="slctusrimage"/>
        </span>
        <h4 class="slctusrname">Chest Press</h4>
        <button class="startpro_btn" onclick="startProgramClock()">Start <br/> Program</button>
    </div>
    <div class="clear"></div>
    <div class="chest_detail_fl">
        <div class="chestpress_left">
            <span>2A</span>
            <h4 class="devicemacname">Chest Press</h4>
        </div>
        <div class="clear"></div>
        <img src="images/chestpress1.png" alt="chestpress1.png" />
    </div>
    <div class="chest_detail_fr">
        <div class="chest_btn_list">
            <span><strong class="clscurrentseries">1</strong><label class="clsmaxseriescnt">/5</label></span>
            <h5>SERIE</h5>
        </div>
        <div class="clear"></div>
        <div class="chest_btn_list">
            <span><strong class="strength_count">0</strong><label class="clsmaxrepscnt">/5</label></span>
            <h5>REPS</h5>
        </div>
        <div class="clear"></div>
        <div class="chest_btn_list">
            <span class="bin_img"> </span>
            <span class="clspinposition">0</span>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
    <div class="chest_prog_box" >
        <h4>ROM</h4>
        <div class="chest_prog_graph">
            <div class="chest_graph_activebg"></div>
        </div>
    </div>
    <div class="chest_btn_box" >
        <div class="heart_box">
            <span class="" id="strength_hmrate">0</span>
            <span class="heart_icon" ></span>
        </div>
        <input class="hearttime_input" value="00:00:00" placeholder="00:00:00"  id="timer"/>
        <button class="hearttime_shop_btn" onclick="stopClock()"> Stop </button>
    </div>
    <div class="shoping_box swiperproductbox">
        <div class="swiper-wrapper" >
            <div class="swiper-slide">
                <div class="shoping_box_left">
                    <img src="images/watchimage.png" alt="watchimage" />
                </div>
                <div class="shoping_box_right">
                    <h4>Do you already own a HeartRate-monitor ?<br/>
                        Ask your MOVESMART.coach for advice or check our shop !</h4>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="shoping_box_left">
                    <img src="images/watchimage.png" alt="watchimage" />
                </div>
                <div class="shoping_box_right">
                    <h4>Do you already own a HeartRate-monitor ?<br/>
                        Ask your MOVESMART.coach for advice or check our shop !</h4>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="shoping_box_left">
                    <img src="images/watchimage.png" alt="watchimage" />
                </div>
                <div class="shoping_box_right">
                    <h4>Do you already own a HeartRate-monitor ?<br/>
                        Ask your MOVESMART.coach for advice or check our shop !</h4>
                </div>
            </div><div class="swiper-slide">
                <div class="shoping_box_left">
                    <img src="images/watchimage.png" alt="watchimage" />
                </div>
                <div class="shoping_box_right">
                    <h4>Do you already own a HeartRate-monitor ?<br/>
                        Ask your MOVESMART.coach for advice or check our shop !</h4>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="chectpress_popup_outer" ></div>
    <div class="chectpress_popup">
        <ul class="userstrengthdevice">
            <li>
                <div class="listdiv_right">
                    <h4><img src="images/loading.gif"/>Loading.. </h4>
                </div>
            </li>
        </ul>
    <span class="chectpressskip_btn" >skip</span>
    <span class="chectpressclose_btn" >close</span>
</div>
<h5 id="btmcustomfooter" class="chestpress_list_footer" >Free training ? <br/> Put your pin position and start</h5>