<script src="src/controllers/manage-memberdetails.js"></script>
<script src="src/controllers/swiper.min.js"></script>
<script src="src/controllers/manage-bodycomposition.js"></script>
<script>
$(document).ready(function(){
    var x=$(window).width();
    var a=x-30;
	var b=x-30;
	var c=x-30;
    $("#slide_width").css('width', a);
	$("#slide_width_second").css('width', b);
	$("#slide_width_third").css('width', c);
});
</script>
<style>
.head_profile {
    float: left!important;
    width: calc(100% - 442px);
    padding: 14px 0px 0px 0!important;
    margin-left: 15px;
}
.use_internalimg {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid #0095ac;
    display: inline-block;
    float: left;
}
.mind-actys {
    float: right;
    width: 200px;
    margin-right: 30px;
    /* margin-top: -70px; */
}
</style>
<div class="consult_bx">
	<div class="internal_userleft" style="width: 100%; float: none; margin-top: 15px; ">
            <span class="use_internalimg">
                <img alt="Loading.." src="images/no_image.png" id="memberImage">
            </span>
		<div class="head_profile">
		<p class="memberName"><img src="images/loading.gif"/></p>
		<p class="memberEmail"></p>
		<p class="memberPhone"></p>
		</div>
		<div class="mind-actys">
		 <div class="consult_dropdownformenus" style ="width:23%;"></div>
        <a href="javascript:sendReport()" class="btn newtest" style="float: right;margin-top: 17px;width: 112px;margin-right:10px;"> Send Report </a>
		</div>
	</div>
	<div class="clear"></div>
	<div class="swiper-container">
		<div class="swiper-wrapper">
			<!-- ----------------------------  First Slide ---------------------------------------- -->
			<div class="swiper-slide">
				<div id="slide_width">	
				<div class="consult_one">
					<div class="consult_grid_box">
						<div class="consu_left" >
							<img src="images/logo1.png" alt="logo1" />
						</div>
						<div class="consu_center" >
							<ul>
								<li data-id="1" data-type="75" data-cat="movesmart" >
								<span class="curntfitnesslevel">1</span>
								<h4 class="">Conditie</h4>
								</li>
								<li data-id="1"  data-type="77" data-cat="movesmart">
								<span class="curstrengthlevl">0</span>
								<h4 class="">Kracht</h4>
								</li>
								<li data-id="1"  data-type="76" data-cat="movesmart">
								<span class="curagilitylevel">1</span>
								<h4 class="">Lenigheid</h4>
								</li>
							</ul>
						</div>
						<div class="consu_right movelevel" >
							<img src="" alt="logo1" />
						</div>
						<div class="clear"></div>
					</div>

					<div class="consult_grid_box">
						<div class="consu_left" >
							<img src="images/logo2.png" alt="logo2" />
						</div>
						<div class="consu_center eat" >
							<ul>
								<li data-id="2"  data-ch="bc" data-type="26" data-cat="eat">
									<span class="bmi">1</span>
									<h4>Lichaamssamenstelling</h4>
								</li>
								<li data-id="2"  data-ch="vt" data-type="67" data-cat="eat">
									<span class="vat">1</span>
									<h4>Visceraal vet</h4>
								</li>
								<li data-id="2"  data-ch="gl" data-type="68" data-cat="eat">
									<span class="glucose">1</span>
									<h4>Glucose</h4>
								</li>
								<li data-id="2"  data-ch="cd" data-type="8" data-cat="eat">
									<span class="colestrol">1</span>
									<h4>Cholesterol</h4>
								</li>
							</ul>
						</div>
						<div class="consu_right eats" >
							<img src="" alt="logo1" />
						</div>
						<div class="clear"></div>
					</div>
					
					<div class="consult_grid_box">
						<div class="consu_left" >
							<img src="images/logo3.png" alt="logo3" />
						</div>
						<div class="consu_center" >
							<ul>
								<li data-id="3"  data-type="70" data-cat="mind">
									<span class="vita16">1</span>
									<h4>Vitaliteit</h4>
								</li>
								<li data-id="3"  data-type="73" data-cat="mind">
									<span class="slaap">1</span>
									<h4>Slaap</h4>
								</li>
								<li data-id="3"  data-type="35" data-cat="mind">
									<span class="stress">1</span>
									<h4>Stress</h4>
								</li>  
								<li data-id="3"  data-type="74" data-cat="mind">
									<span class="mindful">1</span>
									<h4>Aandacht</h4>
								</li>
							</ul>
						</div>
						<div class="consu_right switch" >
							<img src="" alt="logo1" />
						</div>
						<div class="clear"></div>
					</div>
				</div>

				<div class="consult_two">
			
					<div class="consult_graph_box">
						<div class="consult_graph_left">
							<h5>MOVESMART score: </h5>
							<p>op 03 - 08 - 2016</p>
							<img src="images/consult_graph1.png" class="consult_imag" alt="consult_graph1" />
						</div>
						<button class="circle_btn">Check <br>resultaat </button>
						<div class="clear"></div>
					</div>
					
					<div class="consult_graph_box">
						<div class="consult_graph_left">
							<h5>MOVESMART score: </h5>
							<p>op 03 - 08 - 2016</p>
							<img src="images/consult_graph1.png" class="consult_imag" alt="consult_graph1" />
						</div>
						<div class="clear"></div>
					</div>

					<div class="consult_graph_box">
						<div class="consult_graph_left">
							<div class="new_credit_coinbox">
								<div class="new_credit_coin coin_left move_credit" >
									<span></span>
									<span></span>
								</div>
								<div class="new_credit_coin coin_center eat_credit" >
									<span></span>
									<span></span>
									<span></span>
									<span></span>
								</div>
								<div class="new_credit_coin coin_right mind_credit" >
									<span></span>
									<span></span>
									<span></span>
									<span></span>
									<span></span>
								</div>
							</div>
							<h3>400</h3>
							<label>In the Cloud</label>
						</div>
						<button class="circle_btn">Belonen</button>
						<div class="clear"></div>
						</div>
					<div class="consult_graph_box">
						<div class="consult_graph_left">
							<div class="graph_bg_progress">
								<img alt="graph_top_bg" src="images/graph_top_bg.png" class="graph_top_bg">
								<img alt="graph_top_bg" src="images/graph_bottom_bg.png" class="graph_bottom_bg">
								<div class="graph_center_bg clsnocurve"></div>
							</div>
						</div>
					<button class="circle_btn">Belonen</button>
					<div class="clear"></div>
					</div>
				</div>
			
				</div>
			</div>
			<!-- ----------------------------  First Slide ---------------------------------------- -->
			<!-- ----------------------------  Second Slide ---------------------------------------- -->
			<div class="swiper-slide">
				<div id="slide_width_second">
						<div style="float:left;width:100%;">
							<h3 style="float:left;color:#0095ac;margin:10px 0 0 0;">Trainingsschema</h3>
						</div>
						<div style="border: 1px solid #0095ac; border-radius: 10px;float: left;width: 98%;">
							<div style="float: left;width: 39%;padding:5px 0 0 5px">
								<div style="float: left;width: 50%;">
									<p>Conditie niveau:</p>
								</div>
								<div id="prglvl" style="float: left;width: 50%;margin-top:25px;">
									<img  style="width:80%;" src=""> 
								</div>
							</div>
							<div style="float: right;width: 45%;">
								<div style="float: left;width: 100%;margin: 10px 0 5px 0;">
									<p style="float: left;width:150px;margin: 0;">Persoonlijke doelstelling:</p>
									<p id="personalgoal" style="width:150px; float: left;border: 1px solid #0095ac;border-radius: 15px;margin: 0 0 0 15px;padding: 5px;"></p>
								</div>
								<!--<div style="float: left;width: 100%;margin: 10px 0 5px 0;">
								<p style="float: left;width:150px;margin: 0;">Medische beperking</p>
								<p id="" style="width:150px; float: left;border: 1px solid #0095ac;border-radius: 15px;margin: 0 0 0 15px;padding: 5px;"></p>
								</div>-->
								<div style="float: left ;width: 100%;margin: 10px 0 5px 0;">  
									<p style="float: left;width:150px;margin: 0;">MAX - HF:</p>
									<p id="maxhf" style="width:150px; float: left;border: 1px solid #0095ac;border-radius: 15px;margin: 0 0 0 15px;padding: 5px;"></p>
								</div>
								<div style="float: left ;width: 100%;margin: 10px 0 5px 0;">  
									<p style="float: left;width:150px;margin: 0;">IAND - HF:</p>
									<p id="iandhf" style="width:150px; float: left;border: 1px solid #0095ac;border-radius: 15px;margin: 0 0 0 15px;padding: 5px;"></p>
								</div>
								<div style="float: left ;width: 100%;margin: 10px 0 5px 0;">  
									<p style="float: left;width:150px;margin: 0;">MAX - WATT:</p>
									<p id="maxwattt" style="width:150px; float: left;border: 1px solid #0095ac;border-radius: 15px;margin: 0 0 0 15px;padding: 5px;"></p>
								</div>
								<div style="float: left;width: 100%;margin: 10px 0 5px 0;">
									<p style="float: left;width:150px;margin: 0;">IAND - P</p>
									<p id="iandp" style="width:150px; float: left;border: 1px solid #0095ac;border-radius: 15px;margin: 0 0 0 15px;padding: 5px;"></p>
								</div>
							</div>
						</div>
						<div style="border: 1px solid #0095ac; border-radius: 10px;float: left;width: 94%;margin-top:1%;padding:0 2% 2% 2%">
							<h3 style="width:100%;float:left;color:#0095ac;margin:10px 0 0 0;">Trainingswaardes</h3>
							<table style="border-collapse:collapse;width: 100%;text-align:center;">
								<tr>
									<th style="width: 25%; border-bottom: 1px solid #0095ac;padding:5px 0;">% IAND P</th>
									<th style="width: 25%; border-bottom: 1px solid #0095ac;padding:5px 0;">Doel </th>
									<th style="width: 25%; border-bottom: 1px solid #0095ac;padding:5px 0;">Fietsen HF</th>
									<th style="width: 25%; border-bottom: 1px solid #0095ac;padding:5px 0;"> Watt</th>
								</tr>
								<tr>
									<td style="width: 25%;padding:5px 0;">-70%</td>
									<td style="width: 25%;padding:5px 0;">Herstel </td>
									<td id="fietsen_fr" style="width: 25%;padding:5px 0;"></td>
									<td id="watt_fr" style="width: 25%;padding:5px 0;"></td>
								</tr>
								<tr style="">
									<td style="color:#fff;padding:5px 0;width: 25%;background:#0095ac;border-bottom-left-radius:10px!important;border-top-left-radius:10px!important;">70%-90%</td>
									<td style="color:#fff;padding:5px 0;width: 25%;background:#0095ac;">Basisuithouding</td>
									<td id="fietsen_thr" style="color:#fff;padding:5px 0;width: 25%;background:#0095ac;"></td>
									<td id="watt_thr" style="color:#fff;padding:5px 0;width: 25%;background:#0095ac;border-top-right-radius:10px!important;border-bottom-right-radius: 10px!important;"></td>
								</tr>
								<!--tr>
									<td style="padding:5px 0;width: 25%;">90%-97%</td>
									<td style="padding:5px 0;width: 25%;">Tempo /weerstand</td>
									<td id="fietsen_frt" style="padding:5px 0;width: 25%;"></td>
									<td id="watt_frt" style="padding:5px 0;width: 25%;"></td>
								</tr-->
							</table>
						</div>
				</div>
			</div>
			<!-- ----------------------------  Second Slide ---------------------------------------- -->
			<!-- ----------------------------  Third Slide ---------------------------------------- -->
			<div class="swiper-slide">
				<div id="slide_width_third">	
					<div style="border: 1px solid #0095ac; border-radius: 10px;float: left;width: 94%;margin-top:2%;padding:0 2% 2% 2%">
						<h3 style="width:100%;float:left;color:#0095ac;margin:10px 0 0 0;">Te behalen credits</h3>
						<table style="width: 100%;text-align:center;">
							<tr>
								<td style="width: 9%;">Weken</td>
								<td style="width: 7%;padding:5px 0"><p style="background: #0095ac none repeat scroll 0 0;    border-radius: 18px;color: #fff;margin: auto;padding: 4px 5px;width: 20px;">1</p></td>
								<td style="width: 7%;padding:5px 0"><p style="background: #0095ac none repeat scroll 0 0;    border-radius: 18px;color: #fff;margin: auto;padding: 4px 5px;width: 20px;">2</p></td>
								<td style="width: 7%;padding:5px 0"><p style="background: #0095ac none repeat scroll 0 0;    border-radius: 18px;color: #fff;margin: auto;padding: 4px 5px;width: 20px;">3</p></td>
								<td style="width: 7%;padding:5px 0"><p style="background: #0095ac none repeat scroll 0 0;    border-radius: 18px;color: #fff;margin: auto;padding: 4px 5px;width: 20px;">4</p></td>
								<td style="width: 7%;padding:5px 0"><p style="background: #0095ac none repeat scroll 0 0;    border-radius: 18px;color: #fff;margin: auto;padding: 4px 5px;width: 20px;">5</p></td>
								<td style="width: 7%;padding:5px 0"><p style="background: #0095ac none repeat scroll 0 0;    border-radius: 18px;color: #fff;margin: auto;padding: 4px 5px;width: 20px;">6</p></td>
								<td style="width: 7%;padding:5px 0"><p style="background: #0095ac none repeat scroll 0 0;    border-radius: 18px;color: #fff;margin: auto;padding: 4px 5px;width: 20px;">7</p></td>
								<td style="width: 7%;padding:5px 0"><p style="background: #0095ac none repeat scroll 0 0;    border-radius: 18px;color: #fff;margin: auto;padding: 4px 5px;width: 20px;">8</p></td>
								<td style="width: 7%;padding:5px 0"><p style="background: #0095ac none repeat scroll 0 0;    border-radius: 18px;color: #fff;margin: auto;padding: 4px 5px;width: 20px;">9</p></td>
								<td style="width: 7%;padding:5px 0"><p style="background: #0095ac none repeat scroll 0 0;    border-radius: 18px;color: #fff;margin: auto;padding: 4px 5px;width: 20px;">10</p></td>
								<td style="width: 7%;padding:5px 0"><p style="background: #0095ac none repeat scroll 0 0;    border-radius: 18px;color: #fff;margin: auto;padding: 4px 5px;width: 20px;">11</p></td>
								<td style="width: 7%;padding:5px 0"><p style="background: #0095ac none repeat scroll 0 0;    border-radius: 18px;color: #fff;margin: auto;padding: 4px 5px;width: 20px;">12</p></td>
							</tr>
							<tr>
								<td style="width: 9%;">Credits</td>
								<td id="credits_1" style="width: 7%!important;"></td>
								<td id="credits_2" style="width: 7%;"></td>
								<td id="credits_3" style="width: 7%;"></td>
								<td id="credits_4" style="width: 7%;"></td>
								<td id="credits_5" style="width: 7%;"></td>
								<td id="credits_6" style="width: 7%;"></td>
								<td id="credits_7" style="width: 7%;"></td>
								<td id="credits_8" style="width: 7%;"></td>
								<td id="credits_9" style="width: 7%;"></td>
								<td id="credits_10" style="width: 7%;"></td>
								<td id="credits_11" style="width: 7%;"></td>
								<td id="credits_12" style="width: 7%;"></td>
							</tr>
						</table>
					</div>
					<div style="border: 1px solid #0095ac; border-radius: 10px;float: left;width: 94%;margin-top:2%;padding:0 2% 2% 2%">
						<h1 style="width:100%;float:left;color:#0095ac;margin:10px 0 0 0;">Credits per activiteit</h1>
						<table style="width: 100%;text-align:center;" cellspacing="10">
							<tr>
								<td style="width: 20%;">
									<div><img style="width: 75px;" src="images/bottomcircle.png"></div>
								</td>
								<td style="width: 20%;">
									<p><img style="width: 75px;" src="images/bottomcircle1.png"></p>
								</td>
								<td style="width: 20%;">
									<p><img style="width: 75px;"  src="images/bottomcircle2.png"></p>
								</td>
								<td style="width: 20%;">
									<p><img style="width: 75px;" src="images/bottomcircle3.png"></p>
								</td>
								<td style="width: 20%;">
									<p><img style="width: 75px;"  src="images/bottomcircle4.png"></p>
								</td>
							</tr>
							<tr>
								<td style="width: 20%;">Rennen</td>
								<td style="width: 20%;">Fietsen MTB</td>
								<td style="width: 20%;">Zwemmen</td>
								<td style="width: 20%;">Wandelen</td>
								<td style="width: 20%;">Roeien</td>
							</tr>
							<tr>
								<td id="run" style="width: 20%;border: 1px solid #0095ac; border-radius: 10px;font-size:10px;"> </td>
								<td id="cycle" style="width: 20%;border: 1px solid #0095ac; border-radius: 10px;font-size:10px;"></td>
								<td id="swim" style="width: 20%;border: 1px solid #0095ac; border-radius: 10px;font-size:10px;"></td>
								<td id="walk" style="width: 20%;border: 1px solid #0095ac; border-radius: 10px;font-size:10px;"></td>
								<td id="boat" style="width: 20%;border: 1px solid #0095ac; border-radius: 10px;font-size:10px;"></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<!-- ----------------------------  Third Slide ---------------------------------------- -->
		</div>
	<div class="swiper-pagination"></div>
	</div>
	<div class="consult_bg"></div>
	<div class="consult_popup">
		<span class="consult_closed" >X</span>
		<div class="popupcst_left">
			<span>1</span>
			<h4>Consult</h4>
		</div>
		<div class="popupcst_right">
		</div>
		<div class="clear"></div>
	</div>
	
</div>
<script>
var swiper = new Swiper('.swiper-container', {
	pagination: '.swiper-pagination',
	paginationClickable: true
});
</script>