<script src="src/controllers/edit-profile.js"></script>
<div class="comm_innerbox" >
    <div class="profile_box" >
        <div class="profile_three_box">
            <input class="blu_input req-nonempty transfirstname" type="text" placeholder="First Name " id="userfirstname" />
            <input class="blu_input req-nonempty translastname" type="text" placeholder="Name"  id="userlastname"/>
            <input class="blu_input disabled transemail" type="email" placeholder="Email"  id="useremail" disabled="disabled">
            <input class="blu_input transphone" type="number" placeholder="Phone" id="userphone" min="0" onkeypress="return _isNumber(event)"/>
            <div class="field_in_box inpt_bx width90" >
                <span class="selectchrbox blu_input width100" id="usergenderdata_text" > Male </span>
                <label for="usergenderdata" style="display:none"></label>
                <select id="usergenderdata" class="blu_input req-nonempty select_opcity" name="gender_details">
                    <option value="0">Male</option>
                    <option value="1">Female</option>
                </select>
            </div>

            <div class="group_checkbox_outer associativeclubs">
                <ul class="clublist"></ul>
                <br/>
                <br/>
                <br/>
                <p class="linkedcls translinked">Linked club/Organization</p>
            </div>

        </div>
        <div class="profile_three_box">
            <div class="questions_list">
            <input class="blu_input" type="text" value="What's your Favorite Pet?" placeholder="what's your favorite pet?" />
            <input class="blu_input" type="text" value="What's your Favorite colour?" placeholder="What's your Favorite colour?" />
            <input class="blu_input" type="text" value="Name family member?" placeholder="Name family member?" />
            </div>
            <div class="group_checkbox_outer" style="display:none"> <!--Hidden By Sankar since it is not required at the moment -->
                <!--<ul>
                    <li>
                        <span class="radiobox"><label  style="display:none" for="editprofilegrpadmin"></label><input type="radio" class="editprofile_group" name="editprofile_group" value="1" id="editprofilegrpadmin" /></span>
                        <label class="transadministrator">Administrator</label>
                    </li>
                    <li>
                        <span class="radiobox"><label for="editprofilegrpcardio" style="display:none"></label><input type="radio" class="editprofile_group" name="editprofile_group" value="2" id="editprofilegrpcardio"/></span>
                        <label class="transcardio">Cardio</label>
                    </li>
                    <li>
                        <span class="radiobox"><label for="editprofilegrpstrength" style="display:none"></label><input type="radio" class="editprofile_group" name="editprofile_group" value="3" id="editprofilegrpstrength"/></span>
                        <label class="transstrengh">Strength</label>
                    </li>
                    <li>
                        <span class="radiobox"><label for="editprofilegrpnutrition" style="display:none"></label><input type="radio" class="editprofile_group" name="editprofile_group" id="editprofilegrpnutrition" value="4"/></span>
                        <label class="transnutrition">Nutrition</label>
                    </li>
                    <li>
                        <span class="radiobox"><label for="editprofilegrpnutrition" style="display:none"></label><input type="radio" class="editprofile_group" name="editprofile_group" value="5"/></span>
                        <label class="transstrenth">Strength</label>
                    </li>
                    <li>
                        <span class="radiobox"><input type="radio" class="editprofile_group" name="editprofile_group" value="6"/></span>
                        <label class="transgroupmessage">Group Messages</label>
                    </li>
                    <li>
                        <span class="radiobox"><input type="radio" placeholder="Password" class="editprofile_group" name="editprofile_group" value="7"></span>
                        <label class="transallclients">All Clients</label>
                    </li>
                </ul>-->
                <br/>
                <br/>
                <br/>
                <p class="transright">Rights</p>
            </div>

        </div>
        <div class="profile_three_box" id="profilepicform">
            <div class="profileimages ">
                <input type="file" id = "profilepic"  name ="profilepic"  style="display:none;width:80px;height:80px;"/>
                <img src='images/no_image.png' alt="user_image1" id="userprofile"/>
                <span class="getimg transgetpicture">Get Picture</span>
            </div>
            <div class="choosephoto_popup">
                <div class="choosephotocnt">
                    <h2 class="capturephotoopt" selectopt="0">
                        <span class="galleryicon" ></span>
                        <label class="transgallery">Gallery</label>
                        <!--<input type="file" id="prodimgfile" name="prodimgfile"/>-->
                    </h2>
                    <h2 id="idcapturephoto" class="capturephotoopt" selectopt="1">
                        <span class="photoicon" ></span>
                        <label class="transcamera">Camera</label>
                    </h2>
                </div>
                <span class="hidePg"></span>
            </div>
            <div class="two_radiobox">
                <div class="two_radiobox_inner" >
                    <span class="radiobox" id="isactive"><input type="radio" placeholder="Password" ></span>
                    <label class="transactive">Active</label>
                </div>
                <div class="two_radiobox_inner" >
                    <span class="radiobox" id="isnotactive"><input type="radio" placeholder="Password" ></span>
                    <label class="transnonactive" >Non-Active</label>
                </div>
                <div class="clear"></div>
            </div>
            <br/>
            <div class="field_in_box">
                <input type="button" disabled class="transparameters" placeholder="Extra Parameters" value="Extra Parameters/">
            </div>
            <div class="field_in_box">
                <input type="text" placeholder="Login email" value="Login email" id="loginemail" disabled="disabled"/>
            </div>
            <div class="field_in_box">
                <input type="password" class="transpasword" placeholder="Password" value="" id="userpswrd">
            </div>
            <!--- As per Latest Discussion , Captach is not  neccessory for this build -TASKID="" DatedOn = '20160121'-->
            <!--<div class="recapchabox">
                <div class="recapchaimage" >
                    <img src="images/captcha.png" alt="captcha" />
                </div>
                <input type="text" value="Type here What You see" placeholder="Type here What You see" />
                <div class="clear"></div>
            </div>
            <br/>--->
            <div class="field_in_box inpt_bx width90">
                <span class="selectchrbox blu_input" id="languagelist_text" >Language</span>
                <label for="languagelist" style="display:none"></label>
                <select id="languagelist"  name="languageid" class="editableselect select_opcity">
                </select>
            </div>
            <input type="button" class="savebtn1 transsave" id="saveProfieldata" value="Save" />
            <!-- <button class="savebtn1" id="saveProfieldata">Save</button> -->
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>