<script src="src/controllers/forgotpasword.js"></script>
<div class="forgetbox">
    <br/>
    <h4 class="headh4">Please answer the security questions.</h4>
    <br/>
    <br/>
    <form id="" >
        <div class="questions_list">
            <div style="text-align:center"><img src="images/loading.gif"/></div>
        </div>
        <!--<div class="feild_fg_inbox">
            <input type="text" value="What's your favorite pet?" placeholder="What's your favorite pet?" />
            <span class="comp_text" >*</span>
        </div>
        <div class="feild_fg_inbox">
            <input type="text" value="what's your favorite colour?" placeholder="What's your favorite colour?" />
            <span class="comp_text" >*</span>
        </div>
        <div class="feild_fg_inbox">
            <input type="text" value="Name family member?" placeholder="Name family member?" />
            <span class="comp_text" >*</span>
        </div>--->
        <br/>
        <!--<div class="recapchabox"><!--- as per Latest Discussion Captach was not necessarry for this build---->
            <!--<div class="recapchaimage">
                <!-- Captcha Placeholder-->
                    <!--<img src="images/captcha.png" alt="captcha" />
            </div>
            <input type="text" value="Type here What You see" placeholder="Type here What You see" />
            <div class="clear"></div>
        </div>---->
        <br/>
        <div class="feild_fg_inbox">
            <input type="hidden" value="" id="useremaildata" />
            <input class="savebtn transsave" type="button" value="Send" onclick="sendRequest()" />
        </div>
    </form>
    <span class="compulsory_text" >Compulsory *</span>
</div>
