<script>
    $(document).ready(function(){
        TranslateGenericText();
        _setPageTitle(GetLanguageText(PAGE_TTL_HOME));
        manageMenu();
        $(".main_left").show().removeClass("background4 background2 background3").addClass("background1");
        setTimeout(menupage_boxmargin_top, 100);
    });
function manageMenu(){
    /**
     * @param loginfo.menuListDynamic[0] This is menu list dynamic details
     * @param eachmenu.is_visible This is isvisible
     * @param eachmenu.menu_page_id This is menu page id
     */
    var loginfo	=	getCurrentLoginInfo();
    var _HTML	=	'';
    if((!$.isEmptyObject(loginfo)) &&(loginfo.menuListDynamic[0])){
       
        $.each(loginfo.menuListDynamic[0],function(i,eachmenu){
              
               
               if( (eachmenu.is_visible==1) && MENU[eachmenu.menu_page_id]){
                              
               if(i == '14'){
                _HTML+= '<li class="menuid_menu_page_id">'
                            +'<a href=javascript:_movePageTo(\"'+MENU[eachmenu.menu_page_id].template+'\")>'
                                +'<img src="'+MENU[eachmenu.menu_page_id].icon+'">'
                                +'<h4>'+MENU[eachmenu.menu_page_id].title+'</h4>'
                        +'</a>'+'</li>';
                }
               if(i == '15'){
               _HTML+= '<li class="menuid_menu_page_id">'
               +'<a href=javascript:_movePageTo(\"manage-test\")>'
               +'<img src="'+MENU[eachmenu.menu_page_id].icon+'">'
               +'<h4>'+MENU[eachmenu.menu_page_id].title+'</h4>'
               +'</a>'+'</li>';
               }
			  if(i == '16'){
               _HTML+= '<li class="menuid_menu_page_id">'
               +'<a href=javascript:_movePageTo(\"dashboard\")>'
               +'<img src="'+MENU[eachmenu.menu_page_id].icon+'">'
               +'<h4>DASHBOARD</h4>'
               +'</a>'+'</li>';
               }
               }
               
        });
        $("#home_menu").html(_HTML);
    }
}

function menupage_boxmargin_top(){
        var contactheight = $(".menupage.loginmenu").outerHeight();
        var header = $(".header").outerHeight();
        var footer = $("footer").outerHeight();
        var windowHEIGHT = $( window ).height();
        var contentheight = windowHEIGHT-(header+footer);
        var balanceheight = contentheight-contactheight;
        var margintop = (balanceheight)/2;
        if (margintop<0){
            margintop = 0;
        }
        $(".menupage.loginmenu ").css({
            "margin-top": margintop
        });
    }

    $(window).resize(function(){
        menupage_boxmargin_top();
    });
</script>
<form id="manageMenu">
<div class="comm_innerbox showsideimage" >
    <div class="menupage loginmenu">
         <ul id="home_menu">
            <li class="menuid_12" style="display:none">
                <a href="javascript:_movePageTo('manage-member')" >
                    <img src="images/icon3.png" alt="icon1" />
                    <h4 class="transmanagemembersmenu">MANAGE MEMBERS</h4>
                </a>
            </li>
            <li class="menuid_13" style="display:none">
                <a href="javascript:_movePageTo('cardio-test')" >
                    <img src="images/icon4.png" alt="icon2" />
                    <h4 class="transtests">TESTS</h4>
                </a>
            </li>
			  <!-- <li class="menuid_14" style="display:none">
                <a href="javascript:_movePageTo('dashboard')" >
                    <img src="images/icon5.png" alt="icon1" />
                    <h4 class="transtests">DASHBOARD</h4>
                </a>
            </li>  -->
           <!-- <li class="menuid_14" style="display:none">
                <!--<a href="javascript:_movePageTo('manage-reports')" >-  ->
                <a href="javascript:_movePageTo('consult')" >
                    <img src="images/icon5.png" alt="icon1" />
                    <h4 class="transreportsmenu">REPORTS</h4>
                </a>
            </li>-->
           <!--
            <li class="menuid_15" style="display:none">
                <a href="javascript:_movePageTo('manage-newmachinesexerciseprogram')" >
                    <img src="images/icon6.png" alt="icon2" />
                    <h4 class="newmachinesexe">NEW MACHINES EXERCISSES PROGRAMS</h4>
                </a>
            </li>
            -->
            <!--Hide till active link<li class="menuid_16" style="display:none">
                <a href="javascript:_movePageTo('manage-points')" >
                    <img src="images/icon7.png" alt="icon2" />
                    <h4 class="transpoint">POINTS</h4>
                </a>
            </li>-->
            <!--
            <li class="menuid_17" style="display:none">
                <a href="javascript:_movePageTo('manage-calender')" >
                    <img src="images/icon8.png" alt="icon2" />
                    <h4 class="transcalendar">CALENDAR</h4>
                </a>
            </li>
             
            <li class="menuid_18" style="display:none">
                <a href="javascript:_movePageTo('manage-messages')" >
                    <img src="images/icon10.png" alt="icon10" />
                    <h4 class="transmessagesmenu">MESSAGES</h4>
                    <strong>3</strong>
                </a>
            </li>
            <li class="menuid_19" style="display:none">
                <a href="javascript:_movePageTo('manage-contact')" >
                    <img src="images/icon9.png" alt="icon9" />
                    <h4 class="transcontact">CONTACT</h4>
                </a>
            </li>
            <li class="menuid_20" style="display:none">
                <a href="javascript:_movePageTo('strength-program')" >
                    <img src="images/icon11.png" alt="icon11" />
                    <h4 class="transstrengthover">STRENGTH OVERVIEW</h4>
                </a>
            </li>
             -->
        </ul>
		
    </div>
</div>
</form>
