<script src="src/controllers/login.js"></script>
<style>
.popup.hh {
    height: 245px;
}
</style>
<div class="comm_innerbox showsideimage" >
    <div class="loginpage" >
        <div class="loginmenu">
            <ul class="tickouter">
                <li>
                    <a href="javascript:void(0)" >
                        <img src="images/icon1.png" alt="icon1" />
                        <h4 class="transcardiotest">Cardio Test</h4>
                    </a>
                    <input type="hidden" class="selected_page" value="1" />
                </li>
                <li>
                    <a href="javascript:void(0)" >
                        <img src="images/icon2.png" alt="icon2" />
                        <h4 class="transstrengthtest">Strength Test</h4>
                    </a>
                    <input type="hidden" class="selected_page" value="2" />
                </li>
            </ul>
        </div>
        <div class="loginform">
		<div class="loginform_inner">
            <form id="loginform1" >
                <div class="loginmessage">
                    <label class="errortext" style="color:red;"></label>
                </div>
                <div class="field_in_box">
                    <input type="email" class="req-nonempty chkvalue transname" id="loginid" value="" placeholder="Username"  />
                    <label class="errortext" for="loginid" style="color:red;"></label>
                </div>
                <div class="field_in_box">
                    <input type="password" class="chkvalue req-nonempty transpassword" id="loginpswd" value="" placeholder="Password" />
                    <label class="errortext" for="loginpswd" style="color:red;"></label>
                </div>
                <div class="field_in_box aligncenter remembermargintop">
                    <span class="checkouter" ><input class="check" type="checkbox" id="is_remindme" value="" placeholder="Password" /></span>
                    <label class="transrememberme">Remember me</label>
                </div>
                <div class="field_in_box">
                    <input type="button" class="btn transsubmit" id="idbuttonlogin" value="Login" onclick=""/>
                </div>
                <div class="field_in_box forgotmargin aligncenter" >
                                <a href="javascript:void(0)" class="forgot transforgot" >Forgot Password?</a>
                </div>
            </form>
			</div>
        </div>
        <div class="clear"></div>
    </div>
</div>