<script>
$(function(){
    TranslateGenericText();

        $(".main_left").show().removeClass("background1 background2 background4").addClass("background3");

        setTimeout(twomenubox_margin_top, 100);

});

function twomenubox_margin_top(){
    var  $loginpage =$(".loginpage");
    var contactheight = $loginpage.outerHeight();
    var header = $(".header").outerHeight();
    var footer = $("footer").outerHeight();
    var windowHEIGHT = $( window ).height();
    var contentheight = windowHEIGHT-(header+footer);
    var balanceheight = contentheight-contactheight;
    var margintop = (balanceheight)/2;
    if (margintop<0){
        margintop = 0;
    }
    $loginpage.css({
        "margin-top": margintop
    });
}

$(window).resize(function(){
    twomenubox_margin_top();
});	
</script>
<div class="comm_innerbox showsideimage" >
    <div class="loginpage" >
        <div class="loginmenu twomenubox">
            <ul>
                <li>
                    <a href="javascript:_movePageTo('cardio-test')" >
                        <img src="images/meunicon1.png" alt="meunicon1" />
                        <h4 class="transcardiotest">Cardio Test</h4>
                    </a>
                </li>

                <li>
                    <a href="javascript:_movePageTo('strength-program')" >
                        <img src="images/menuicon2.png" alt="menuicon2" />
                        <h4 class="transstrengthtest">Strength Test</h4>
                    </a>
                </li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>
