<script src="src/controllers/manage-bodycomposition.js"></script>
<style>
.wdh_50 {
    width: 48% !important;
    text-align: left; 
}
.head_profile {
    float: left!important;
    width: calc(100% - 442px);
    padding: 14px 0px 0px 0!important;
    margin-left: 15px;
}
.use_internalimg {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid #0095ac;
    display: inline-block;
    float: left;
}
.mind-actys {
    float: right;
    width: 200px;
    margin-right: 30px;
    /* margin-top: -70px; */
}
.loader_back {
    width: 100%;
    height: 700px;
    position: absolute;
    z-index: 9;
    opacity: .5;
}
</style>
<div class="loader_back" style="display:none">
</div>
    <div class="comm_innerbox" >
        
                <div class="comm_rightbox">

                    <div class="pageheader1_box" >
                        <span class="use_internalimg">
                            <img id="memberImage" src="images/no_image.png" alt="user_image1" />
                        </span>
                        <div class="head_profile">
                        <p id="clientname_inputfield"><img src="images/loading.gif"/></p>
						<p id="clientemail_inputfield"></p>
						<p id="clientphone_inputfield"></p>
						</div>
						<div class="mind-actys">
						<div class="show_dropdownformenu" style ="width:23%;"></div>
						</div>
                        <!--<div class="pageheader1_rightbox">
                            <div class="pageheader1_fr_field">
                                <label>Test date</label>
                                <input type="date"   value="" id="testdate"/>
                            </div>
                            <div class="pageheader1_fr_field" >
                                <label>Test method</label>
                                <select id="selectedtestmethodoliges" testitemid="51" class="blu_input_drop clsbdcompmethod clsbdcomptestparamer">
                                    <option value="0">--select--</option>
                                </select>
                                <!--<input type="button" class="bluebtn" value="Futrex" />--
                            </div>
                        </div>-->
                        <div class="clear"></div>
                    </div>

                    <div class="testtab_list">
                        <span class=" fg active" id="bodycomposition" data-id="evtbd" onclick="tabtriggerclick('bodycomposition')">1.Bodycomposition</span>
                        <span class="fg" id="flexibility" data-id="evtfl" onclick="tabtriggerclick('flexibility')" >2.Flexibility</span>
                        <span class="fg" id="cardio" data-id="evtcr" onclick="tabtriggerclick('cardio')" >3.Cardio</span>
                        <span class="fg" id="strength" data-id="evtstg" onclick="tabtriggerclick('strength')" >4.Strength</span>
						<span class="fg" id="mind" data-id="evtfn" onclick="tabtriggerclick('mind')" >Mind</span>
                    </div>
                    <!-- Bodycomposition box st -->
					
					
					
                    
                    <input type="hidden" value="" id="idofclub">
                    <input type="hidden" value="" id="idoftab">
                    <input type="hidden" value="" id="idstartnewtest">
                    <input type="hidden" value="" id="idbmcpleanweight">
                    <input type="hidden" value="1" id="newtest">
                    
                    <div class="bodycom_box bodycomposition" id="savebodycomption" style="display: block;">
					<div class="loader_body" style="display:none;"><img src="images/loader.gif"/></div>
                        <div class="section_topheader">
                            <div class="pageheader1_fr_field wdh_50">
                                <label class="testdatecls transtestdatecls" for="bdycom_testdate">Test date</label>
                                <input type="date" class="date_testdate" value="" id="bdycom_testdate"/>
                            </div>
							<!-- -----Add Dispaly none (5-5-17)----------- -->
                            <div class="pageheader1_fr_field wdh_50" style="display: none;">
                                <label class="testmethodcls" for="selectedtestmethodoliges">Test method</label>
                                <select id="selectedtestmethodoliges" testitemid="51" datavalold="" class="blu_input_drop clsbdcompmethod clsbdcomptestparamer trackIPChanges clsbdcomptestparamer_51">
                                    <option value="0">--select--</option>
                                </select>
                                <!--<input type="button" class="bluebtn" value="Futrex" />-->
                            </div>
                        </div>
                        <div class="bodycom_box_lf">
                            <div class="bodycom_two">
                                <div class="testboxlist_field" >
                                    <label class="gendercls" for="gendertypeid">Gender</label>
                                    <input type="text" value="" class="gendertype" disabled="disabled" id="gendertypeid"/>
                                </div>
                                <div class="testboxlist_field" >
                                    <label class="agecls" for="idbdcomppersonage">Age</label>
                                    <input type="text" value="" id="idbdcomppersonage" class="clsbdcomppersonage" disabled="disabled"/>
                                </div>
                                <div class="testboxlist_field" >
                                    <label class="heightcls" for="heightbdycompid">Height</label>
                                    <input type="number" value=""  testitemid="25" datavalold="" id="heightbdycompid" class="clsbdcomppersonheight clsbdcomptestparamer trackIPChanges clsbdcomptestparamer_25 req-nonempty" onkeypress="return _isNumber(event)"/>
                                </div>
                                <div class="testboxlist_field" >
                                    <label class="weightcls" for="weightbodycompo">Weight</label>
                                    <input type="number" id="weightbodycompo" value="" min="0" testitemid="24"  datavalold="" class="blu_input clsbdcomppersonweight trackIPChanges clsbdcomptestparamer clsbdcomptestparamer_24 req-nonempty " onkeypress="return _isNumber(event)" onclick="this.select();"/>
                                </div>
								<div class="testboxlist_field" >
                                    <label class="visceralfatcls" for="visceralfat">Visceral Fat</label>
                                    <input type="number" id="visceralfat" value="" min="0" testitemid="67"  datavalold=""  class="blu_input clsbdcomppersonvisceralfat trackIPChanges clsbdcomptestparamer clsbdcomptestparamer_67 req-nonempty " onkeypress="return _isNumber(event)" onclick="this.select();"/>
                                </div>
								<div class="testboxlist_field" >
                                    <label class="cholestrolcls" for="cholestrol">Cholesterol</label>
                                    <input type="number" id="cholestrol" value="" min="0" testitemid="8"  datavalold=""  class="blu_input clsbdcomppersoncholestrol trackIPChanges clsbdcomptestparamer clsbdcomptestparamer_8 req-nonempty " onkeypress="return _isNumber(event)" onclick="this.select();"/>
                                </div>
                            </div>
                            <div class="bodycom_two">
                                <div class="testboxlist_field" >
                                    <label class="bodyfatcls" for="bodyfatid">Body Fat %</label>
                                    <input type="number" min="0" max="100" value="" step="any" testitemid="28" datavalold="" id="bodyfatid" class="blu_input clsbdcomppersonbodyfat clsbdcomptestparamer trackIPChanges clsbdcomptestparamer_28 req-nonempty" onkeypress="return _isValidPercent(this) && _isNumber(event)" onclick="this.select();" />
                                </div>
                                <div class="testboxlist_field" >
                                    <label class="bmicls" for="bmiid">BMI</label>
                                    <input type="text" value="" testitemid="26" datavalold="" id="bmiid" class="clsbdcomppersonbmi clsbdcomptestparamer trackIPChanges clsbdcomptestparamer_26" disabled="disabled"/>
                                </div>
                                <div class="testboxlist_field" >
                                    <label  for="bellygrowthid">Waist</label>
                                    <input type="number" value="" id="bellygrowthid" testitemid="27" min="0" datavalold="" class="blu_input clsbdcomppersonbellygrowth clsbdcomptestparamer trackIPChanges clsbdcomptestparamer_27 req-nonempty" onkeypress="return _isNumber(event)" onclick="this.select()"/>
                                </div>
								<!-- -----Add Dispaly none (5-5-17)----------- -->
                                <div class="testboxlist_field" style="display: none;" >
                                    <label class="fatfreeweightcls" for="fatfreeweightid">Fat Free Weight</label>
                                    <input type="text" value="" id="fatfreeweightid" testitemid="29" datavalold="" class="clsbdcomppersonfatfreeweight clsbdcomptestparamer trackIPChanges clsbdcomptestparamer_29" disabled="disabled"/>
                                </div>
								
								<div class="testboxlist_field" >
                                    <label class="glucosesobercls" for="glocosesober">Glucose Sober</label>
                                    <input type="number" id="glocosesober" value="" min="0" testitemid="68"  datavalold=""  class="blu_input clsbdcomppersonglocosesober trackIPChanges clsbdcomptestparamer clsbdcomptestparamer_68" onkeypress="return _isNumber(event)"  onkeyup="onevalue()" onclick="this.select();"/>
                                </div>
								<div class="testboxlist_field" >
                                    <label class="glucosecls" for="glucose">Glucose</label>
                                    <input type="number" id="glucose" value="" min="0" testitemid="69"  datavalold=""  class="blu_input clsbdcomppersonglucose trackIPChanges clsbdcomptestparamer clsbdcomptestparamer_69" onkeypress="return _isNumber(event)"  onkeyup="onevalues()" onclick="this.select();"/>
                                </div>
                            </div>

                        </div>

                        <div class="bodycom_box_lr" >
                            <div class="bodycom_radiobox clsbdcomptestparamer clsradiobtnli_31" testitemid="31" id="clsbdcompprofission" style="display:none">
                                <h3 class="preofessioncls">Profession</h3>
                                <ul>
                                    <li><span class="radiobox radiobtn"><input type="radio" class="rdgrp_proffession" name="inp_proffession" value="1" checked="checked" id="profnoneid"/></span><label class="proftxtcls transnone" for="profnoneid">None</label></li>
                                    <li><span class="radiobox"><input type="radio" class="rdgrp_proffession" name="inp_proffession" value="2"  id="proflightid"/></span><label class="proftxtcls translight" for="proflightid">Light</label></li>
                                    <li><span class="radiobox"><input type="radio" class="rdgrp_proffession" name="inp_proffession" value="3" id="profmiddleid"/></span><label class="proftxtcls transmiddle" for="profmiddleid">Middle</label></li>
                                    <li><span class="radiobox"><input type="radio" class="rdgrp_proffession" name="inp_proffession" value="4" id="profheavyid"/></span><label class="proftxtcls transheavy" for="profheavyid">Heavy</label></li>
                                </ul>
                            </div>
                            <div class="bodycom_radiobox clsbdcomptestparamer clsradiobtnli_32" testitemid="32" id="clsbdcompactivity" style="display:none">
                                <h3 class="activitycls">Activity</h3>
                                <ul>
                                    <li><span class="radiobox radiobtn"><input type="radio" class="rdgrp_activity" name="inp_activity" value="1" checked="checked" id="actnoneid"/></span><label class="proftxtcls transnone" for="actnoneid">None</label></li>
                                    <li><span class="radiobox"><input type="radio" class="rdgrp_activity" name="inp_activity" value="2" id="actlightid" /></span><label class="proftxtcls translight" for="actlightid">Light</label></li>
                                    <li><span class="radiobox"><input type="radio" class="rdgrp_activity" name="inp_activity" value="3"  id="actmiddleid"/></span><label class="proftxtcls transmiddle" for="actmiddleid">Middle</label></li>
                                    <li><span class="radiobox"><input type="radio" class="rdgrp_activity" name="inp_activity" value="4" id="actheavyid"/></span><label class="proftxtcls transheavy" for="actheavyid">Heavy</label></li>
                                </ul>
                            </div>

                            <div class="bodycom_radiobox clsbdcomptestparamer clsradiobtnli_33" testitemid="33" id="clsbdcompsport" style="display:none">
                                <h3 class="sportscls">Sports</h3>
                                <ul>
                                    <li><span class="radiobox radiobtn"><input type="radio"  class="rdgrp_sports" name="inp_sports" value="1" checked="checked" id="sportsnineid"/></span><label class="proftxtcls transnone" for="sportsnineid">None</label></li>
                                    <li><span class="radiobox"><input type="radio"  class="rdgrp_sports" name="inp_sports" value="2" id="sportslightid"/></span><label class="proftxtcls translight" for="sportslightid">Light</label></li>
                                    <li><span class="radiobox"><input type="radio"  class="rdgrp_sports" name="inp_sports" value="3" id="sportsmiddleid"/></span><label class="proftxtcls transmiddle" for="sportsmiddleid">Middle</label></li>
                                    <li><span class="radiobox"><input type="radio"  class="rdgrp_sports" name="inp_sports" value="4" id="sportsheavyid"/></span><label class="proftxtcls transheavy" for="sportsheavyid">Heavy</label></li>
                                </ul>
                            </div>

                            <div class="bodycom_radiobox clsbdcomptestparamer clsradiobtnli_34" testitemid="34" id="clsbdcomplifestuyle" style="display:none">
                                <h3 class="lifestylecls">Lifestyle</h3>
                                <ul>
                                    <li>&nbsp;</li>
                                    <li><span class="radiobox radiobtn"><input type="radio" class="rdgrp_lifestyle" name="inp_lifestyle" value='1' checked="checked" id="regularlifeid"/></span><label class="proftxtcls transregular" for="regularlifeid">Regular</label></li>
                                    <li><span class="radiobox"><input type="radio" class="rdgrp_lifestyle" name="inp_lifestyle" value='0' id="unregularlifeid"/></span><label class="proftxtcls transunregular" for="unregularlifeid">Unregular</label></li>
                                    <li>&nbsp;</li>
                                </ul>
                            </div>

                            <div class="bodycom_radiobox bordernone clsbdcomptestparamer clsradiobtnli_35" testitemid="35" id="clsbdcompstress" style="display:none">
                                <h3 class="stresscls">Stress</h3>
                                <ul>
                                    <li>&nbsp;</li>
                                    <li><span class="radiobox radiobtn"><input type="radio" class="rdgrp_stress" name="inp_stress" value="Yes" checked="checked" id="stressyesid"/></span><label class="proftxtcls transyes" for="stressyesid">Yes</label></li>
                                    <li><span class="radiobox"><input type="radio" class="rdgrp_stress" name="inp_stress" value="No" id="stressnoid"/></span><label class="proftxtcls transno" for="stressnoid">No</label></li>
                                    <li>&nbsp;</li>
                                </ul>
                            </div>
                            <div class="clear" ></div>
                            <div class="fieldbox3_outer"style="display:none" >
                                <div class="testboxlist_field" >
                                    <label class="freqweekcls" for="freqweekid">Freq./week</label>
                                    <input type="number"  id="freqweekid" min="0" testitemid="63" datavalold="" class="blu_input clsbdcomppresonfreq clsbdcomptestparamer_63 clsbdcomptestparamer trackIPChanges " onkeypress="return _isNumber(event)" onclick="this.select()"/>
                                </div>
                                <div class="testboxlist_field" >
                                    <label class="intensitycls" for="intensityid">Intensity</label>
                                    <input type="number" id="intensityid" min="0" testitemid="64" datavalold="" class="blu_input clsbdcomppersonIntensity clsbdcomptestparamer_64 clsbdcomptestparamer trackIPChanges " onkeypress="return _isNumber(event)" onclick="this.select()"/>
                                </div>
                                <div class="testboxlist_field" >
                                    <label class="" for="lsthours">Training Time</label>
                                        <div class="time_box">
                                        <select id="lsthours" class="blu_input_drop bodycomptimefield" onchange="">
                                            <option value="00" class="blu_input_drop">HR</option>
                                        </select>:
                                        <label for="lstminutes" style="display:none"></label>
                                        <select id="lstminutes" class="blu_input_drop bodycomptimefield" onchange="">
                                            <option value="00">MIN</option>
                                        </select>
                                    </div>
                                    <input id="timehrmn" type="hidden" testitemid="65" datavalold="" class="clsbdcomptimeoftestperson clsbdcomptestparamer_65 clsbdcomptestparamer trackIPChanges" />
                                    <!--
                                    <input type="text" testitemid="65" datavalold="" class="blu_input clsbdcomptimeoftestperson clsbdcomptestparamer_65 clsbdcomptestparamer trackIPChanges" onclick="this.select()"/>-->
                                </div>
                            </div>

                            <div class="fieldbox3_outer paddingnone marginnone bordernone" style="display:none">
                                <div class="testboxlist_field" >
                                    <label class="laborchargepercls" for="laborchargeperid">Labor Charge %</label>
                                    <input type="number" value="" id="laborchargeperid" min="0" max="100" testitemid="39" datavalold="" class="blu_input clsbdcomppersonlaborcharge clsbdcomptestparamer clsbdcomptestparamer_39 trackIPChanges " onkeypress="return _isValidPercent(this) && _isNumber(event)" onclick="this.select()"/>
                                </div>
                                <div class="testboxlist_field" >
                                    <label class="sportchargecls" for="sportchargeid">Sport Charge</label>
                                    <input type="text" value="" id="sportchargeid"  testitemid="41" datavalold="" class="clsbdcompperonssportcharge clsbdcomptestparamer trackIPChanges clsbdcomptestparamer_41" disabled="disabled"/>
                                </div>
                                <div class="testboxlist_field" >
                                    <label class="laborcharge translaborcharge" for="laborchargeid">Labor Charge</label>
                                    <input type="text" value="" id="laborchargeid" testitemid="43" datavalold="" class="clsbdcomppersonlabourcharge clsbdcomptestparamer trackIPChanges clsbdcomptestparamer_43" disabled="disabled" />
                                </div>
                                <div class="testboxlist_field" >
                                    <label class="basicmetabolismcls transmetabolism" for="basicmetabolismid">Basic metabolism</label>
                                    <input type="text" value="" id="basicmetabolismid" testitemid="40" datavalold="" class="clsbdcomppersonmethabolism clsbdcomptestparamer trackIPChanges clsbdcomptestparamer_40" disabled="disabled"/>
                                </div>
                                <div class="testboxlist_field" >
                                    <label class="sportspecificcls transsportspecific" for="sportspecificid">Sport Specific</label>
                                    <input type="text" value="" id="sportspecificid" testitemid="42" datavalold="" class="clsbdcomppersonsportspecific clsbdcomptestparamer trackIPChanges clsbdcomptestparamer_42" disabled="disabled"/>
                                </div>
                                <div class="testboxlist_field" >
                                    <label class="energyneed" for="energyneedid">Energy need</label>
                                    <input type="text" value=""  id="energyneedid" testitemid = "44" datavalold="" class="clsbdcomppersonenergyneed clsbdcomptestparamer trackIPChanges clsbdcomptestparamer_44" disabled="disabled"/>
                                </div>
                            </div>
                            <div class="nextsave_outer" style="margin-top: 200px;">
                                <!--<button class="btn" onclick="savebodyCompositionTest('0')">Save</button>-->
                                <button class="btn nextcls " id="evtbd" onclick="savebodyCompositionTest('1')">Next</button>
                            </div>

                        </div>
                        <div class="clear"></div>
                    </div>

                    <!-- Bodycomposition box end -->

                    <!-- Flexibility box st -->

                                       <div class="bodycom_box flexibility" id="saveflexibility">
									   <div class="loader_flex" style="display:none;"><img src="images/loader.gif"/></div>
                        <div class="section_topheader">
                            <div class="pageheader1_fr_field">
                                <label class="testdatecls" for="flextestdate">Test date</label>
                                <input type="date"   value="" id="flextestdate"/>
                            </div>
							<!-- -----Add Dispaly none (5-5-17)----------- -->
                            <div class="pageheader1_fr_field" style="display: none;">
                                <label class="transflexlevel" for="flexLevel">Flex Level</label>
                                <input type="number" min="0" onkeypress="return _isNumber(event)" value="6" id="flexLevel" disabled="disabled"/>
                            </div>
                            <!--<div class="pageheader1_fr_field">
                                <label class="transflexcat" for="flexCategory">Flex Cat</label>
                                <input type="number" min="0"  onkeypress="return _isNumber(event)" value="6" id="flexCategory"  disabled="disabled"/>
                            </div>
                            <div class="pageheader1_fr_field widthauto">
                                <input type="button" class="verygood_btn" value="Good" id="flexLevelString"  readonly="readonly"/>
                            </div>-->

                        </div>

                        <div class="flexbox">
                            <div class="flexbox_fl_box">
                                <h4 class="flaxh4 transcalfs">Calfs</h4>
                                <div class="flexleft">
                                    <h5 class="transleft">left</h5>
                                    <div class="chec_int_box" itemid="53">
                                        <span style="display:none;" class="cha_label clsslidervalue53 clsbdcmpflextestparamer trackIPChanges" id="Calfs_l" sliderid="53">0</span>
										<span class="cha_label" id="Calfs_l_new">0</span>
                                        <div class="chec_int_bott">
                                            <button onclick="decInputCalfsl(-2,1,'#Calfs_l',doFlexibilityCalculation)" class="mines_in">-</button>
                                            <button onclick="incInputCalfsl(2,1,'#Calfs_l',doFlexibilityCalculation)" class="add_in">+</button>
                                        </div>
										<div class="point_text">
											<p id="Calfs_l_text">26° – 35°</p>
										</div>
                                    </div>
                                    <!--<div class="double-label-slider clsbdcmpflextestparamer_53" sliderid="53"></div>
                                    <ul class="con_lbl" itemid="53">
                                        <li>-</li>
                                        <li>-</li>
                                        <li class="clsslidervalue53 clsbdcmpflextestparamer trackIPChanges" sliderid="53">0</li>
                                        <li>+</li>
                                        <li>+</li>
                                    </ul>-->
                                </div>
                                <div class="flexright">
                                    <h5 class="transright">right</h5>
                                    <div class="chec_int_box" itemid="54">
                                        <span style="display:none;" class="cha_label clsslidervalue54 clsbdcmpflextestparamer trackIPChanges" id="Calfs_r" sliderid="54">0</span>
										<span class="cha_label" id="Calfs_r_new" >0</span>
                                        <div class="chec_int_bott">
                                            <button onclick="decInputCalfsr(-2,1,'#Calfs_r',doFlexibilityCalculation)" class="mines_in">-</button>
                                            <button onclick="incInputCalfsr(2,1,'#Calfs_r',doFlexibilityCalculation)" class="add_in">+</button>
                                        </div>
										<div class="point_text">
											<p id="Calfs_r_text">26° – 35°</p>
										</div>
                                    </div>
                                    <!--
                                    <div class="double-label-slider clsbdcmpflextestparamer_54" sliderid="54"></div>
                                    <ul class="con_lbl" >
                                        <li>-</li>
                                        <li>-</li>
                                        <li class="clsslidervalue54 clsbdcmpflextestparamer trackIPChanges" sliderid="54">0</li>
                                        <li>+</li>
                                        <li>+</li>
                                    </ul>-->

                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="flexbox_fr_box">
                                <h4 class="flaxh4 transillipsoas" >Illipsoas</h4>
                                <div class="flexleft">
                                    <h5 class="transleft">left</h5>
                                    <div class="chec_int_box" itemid="55">
                                        <span style="display:none;" class="cha_label clsslidervalue55 clsbdcmpflextestparamer trackIPChanges" id="Illipsoas_l" sliderid="55">0</span>
										<span class="cha_label" id="Illipsoas_l_new" >0</span>
                                        <div class="chec_int_bott">
                                            <button onclick="decInputIllipsoasL(-2,1,'#Illipsoas_l',doFlexibilityCalculation)" class="mines_in">-</button>
                                            <button onclick="incInputIllipsoasL(2,1,'#Illipsoas_l',doFlexibilityCalculation)" class="add_in">+</button>
                                        </div>
										<div class="point_text">
											<p id="Illipsoas_l_text">Horizontaal</p>
										</div>
                                    </div>
                                    <!--<div class="double-label-slider clsbdcmpflextestparamer_55" sliderid="55"></div>
                                    <ul class="con_lbl" >
                                        <li>-</li>
                                        <li>-</li>
                                        <li class="clsslidervalue55 clsbdcmpflextestparamer trackIPChanges" sliderid="55">0</li>
                                        <li>+</li>
                                        <li>+</li>
                                    </ul>-->
                                </div>
                                <div class="flexright">
                                    <h5 class="transright">right</h5>
                                    <div class="chec_int_box" itemid="56">
                                        <span style="display:none;" class="cha_label clsslidervalue56 clsbdcmpflextestparamer trackIPChanges" id="Illipsoas_r" sliderid="56">0</span>
										<span class="cha_label" id="Illipsoas_r_new" >0</span>
                                        <div class="chec_int_bott">
                                            <button onclick="decInputIllipsoasR(-2,1,'#Illipsoas_r',doFlexibilityCalculation)" class="mines_in">-</button>
                                            <button onclick="incInputIllipsoasR(2,1,'#Illipsoas_r',doFlexibilityCalculation)" class="add_in">+</button>
                                        </div>
										<div class="point_text">
											<p id="Illipsoas_r_text">Horizontaal</p>
										</div>
                                    </div>
                                    <!--
                                    <div class="double-label-slider clsbdcmpflextestparamer_55" sliderid="55"></div>
                                    <ul class="con_lbl">
                                        <li>-</li>
                                        <li>-</li>
                                        <li class="clsslidervalue55 clsbdcmpflextestparamer trackIPChanges" sliderid="55">0</li>
                                        <li>+</li>
                                        <li>+</li>
                                    </ul>
                                    -->
                                </div>

                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="flexbox">
                            <div class="flexbox_fl_box">

                                <h4 class="flaxh4 transhamstrings">Hamstrings</h4>
                                <div class="flexleft">
                                    <h5 class="transleft">left</h5>
                                    <div class="chec_int_box" itemid="57">
                                        <span style="display:none;" class="cha_label clsslidervalue57 clsbdcmpflextestparamer trackIPChanges" id="Hamstrings_l" sliderid="57">0</span>
										<span class="cha_label" id="Hamstrings_l_new" >0</span>
                                        <div class="chec_int_bott">
                                            <button onclick="decInputHamstringsL(-2,1,'#Hamstrings_l',doFlexibilityCalculation)" class="mines_in">-</button>
                                            <button onclick="incInputHamstringsL(2,1,'#Hamstrings_l',doFlexibilityCalculation)" class="add_in">+</button>
                                        </div>
										<div class="point_text">
											<p id="Hamstrings_l_text">85° - 95°</p>
										</div>
                                    </div>
                                    <!--
                                    <div class="double-label-slider clsbdcmpflextestparamer_57" sliderid="57" ></div>
                                    <ul class="con_lbl">
                                        <li>-</li>
                                        <li>-</li>
                                        <li class="clsslidervalue57 clsbdcmpflextestparamer trackIPChanges" sliderid="57">0</li>
                                        <li>+</li>
                                        <li>+</li>
                                    </ul>
                                    -->
                                </div>
                                <div class="flexright">
                                    <h5 class="transright">right</h5>
                                    <div class="chec_int_box" itemid="58">
                                        <span style="display:none;" class="cha_label clsslidervalue58 clsbdcmpflextestparamer trackIPChanges" id="Hamstrings_r" sliderid="58">0</span>
										<span class="cha_label" id="Hamstrings_r_new" >0</span>
                                        <div class="chec_int_bott">
                                            <button onclick="decInputHamstringsR(-2,1,'#Hamstrings_r',doFlexibilityCalculation)" class="mines_in">-</button>
                                            <button onclick="incInputHamstringsR(2,1,'#Hamstrings_r',doFlexibilityCalculation)" class="add_in">+</button>
                                        </div>
										<div class="point_text">
											<p id="Hamstrings_r_text">85° - 95°</p>
										</div>
                                    </div>
                                    <!--
                                    <div class="double-label-slider clsbdcmpflextestparamer_58" sliderid="58"></div>
                                    <ul class="con_lbl" >
                                        <li>-</li>
                                        <li>-</li>
                                        <li class="clsslidervalue58 clsbdcmpflextestparamer trackIPChanges" sliderid="58">0</li>
                                        <li>+</li>
                                        <li>+</li>
                                    </ul>
                                    -->
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="flexbox_fr_box">
                                <h4 class="flaxh4 transbreast" >Breast</h4>

                                <div class="flexleft">
                                    <h5 class="transleft">left</h5>
                                    <div class="chec_int_box" itemid="59">
                                        <span style="display:none;" class="cha_label clsslidervalue59 clsbdcmpflextestparamer trackIPChanges" id="Breast_l" sliderid="59">0</span>
										<span class="cha_label" id="Breast_l_new" >0</span>
                                        <div class="chec_int_bott">
                                            <button onclick="decInputBreastL(-2,1,'#Breast_l',doFlexibilityCalculation)" class="mines_in">-</button>
                                            <button onclick="incInputBreastL(2,1,'#Breast_l',doFlexibilityCalculation)" class="add_in">+</button>
                                        </div>
										<div class="point_text">
											<p id="Breast_l_text">tegen de tafel</p>
										</div>
                                    </div>
                                    <!--
                                    <div class="double-label-slider clsbdcmpflextestparamer_59" sliderid="59"></div>
                                    <ul class="con_lbl" >
                                        <li>-</li>
                                        <li>-</li>
                                        <li class="clsslidervalue59 clsbdcmpflextestparamer trackIPChanges" sliderid="59">0</li>
                                        <li>+</li>
                                        <li>+</li>
                                    </ul>
                                    -->
                                </div>
                                <div class="flexright">
                                    <h5 class="transright">right</h5>
                                    <div class="chec_int_box" itemid="60">
                                        <span style="display:none;" class="cha_label clsslidervalue60 clsbdcmpflextestparamer trackIPChanges" id="Breast_r" sliderid="60">0</span>
										<span class="cha_label" id="Breast_r_new" >0</span>
                                        <div class="chec_int_bott">
                                            <button onclick="decInputBreastR(-2,1,'#Breast_r',doFlexibilityCalculation)" class="mines_in">-</button>
                                            <button onclick="incInputBreastR(2,1,'#Breast_r',doFlexibilityCalculation)" class="add_in">+</button>
                                        </div>
										<div class="point_text">
											<p id="Breast_r_text">tegen de tafel</p>
										</div>
                                    </div>
                                    <!--<div class="double-label-slider clsbdcmpflextestparamer_60" sliderid="60"></div>
                                    <ul class="con_lbl" >
                                        <li>-</li>
                                        <li>-</li>
                                        <li class="clsslidervalue60 clsbdcmpflextestparamer trackIPChanges" sliderid="60">0</li>
                                        <li>+</li>
                                        <li>+</li>
                                    </ul>
                                    -->
                                </div>

                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="flexbox btr_btm" >
                            <div class="flexbox_fl_box">
                                <h4 class="flaxh4 transquadriceps">Quadriceps</h4>
                                <div class="flexleft">
                                    <h5 class="transleft">left</h5>
                                    <div class="chec_int_box" itemid="61">
                                        <span style="display:none" class="cha_label clsslidervalue61 clsbdcmpflextestparamer trackIPChanges" id="Quadriceps_l" sliderid="61">0</span>
										<span class="cha_label" id="Quadriceps_l_new" >0</span>
                                        <div class="chec_int_bott">
                                            <button onclick="decInputQuadricepsL(-2,1,'#Quadriceps_l',doFlexibilityCalculation)" class="mines_in">-</button>
                                            <button onclick="incInputQuadricepsL(2,1,'#Quadriceps_l',doFlexibilityCalculation)" class="add_in">+</button>
                                        </div>
										<div class="point_text">
											<p id="Quadriceps_l_text">één vuist</p>
										</div>
                                    </div>
                                    <!--
                                    <div class="double-label-slider clsbdcmpflextestparamer_61" sliderid="61"></div>
                                    <ul class="con_lbl" >
                                        <li>-</li>
                                        <li>-</li>
                                        <li class="clsslidervalue61 clsbdcmpflextestparamer trackIPChanges" sliderid="61">0</li>
                                        <li>+</li>
                                        <li>+</li>
                                    </ul>
                                    -->
                                </div>
                                <div class="flexright">
                                    <h5 class="transright">right</h5>
                                    <div class="chec_int_box" itemid="62">
                                        <span style="display:none" class="cha_label clsslidervalue62 clsbdcmpflextestparamer trackIPChanges" id="Quadriceps_r" sliderid="62">0</span>
										<span class="cha_label" id="Quadriceps_r_new" >0</span>
                                        <div class="chec_int_bott">
                                            <button onclick="decInputQuadricepsR(-2,1,'#Quadriceps_r',doFlexibilityCalculation)" class="mines_in">-</button>
                                            <button onclick="incInputQuadricepsR(2,1,'#Quadriceps_r',doFlexibilityCalculation)" class="add_in">+</button>
                                        </div>
										<div class="point_text">
											<p id="Quadriceps_r_text">één vuist</p>
										</div>
                                    </div>
                                    <!--
                                    <div class="double-label-slider clsbdcmpflextestparamer_62" sliderid="62"></div>
                                    <ul class="con_lbl" >
                                        <li>-</li>
                                        <li>-</li>
                                        <li class="clsslidervalue62 clsbdcmpflextestparamer trackIPChanges" sliderid="62">0</li>
                                        <li>+</li>
                                        <li>+</li>
                                    </ul>
                                    -->
                                </div>
                                <div class="clear"></div>
                            </div>

                            <div class="flexbox_fr_box remarksbox">
                                <h4 class="flaxh4 transremarks" >Remarks</h4>
                                <textarea class="bdcmpflexiblityremarks" id="txtflexremarks" title="Flexiblity Remarks"></textarea>
                            </div>
                            <div class="clear"></div>
                            <div class="nextsave_outer">
                                <button class="btn nextcls " id="evtfl" onclick="saveFlexbilityDetails()">Next</button>
                                <!--<button class="btn">Save</button>--->
                            </div>

                            <div class="clear"></div>
                        </div>

                    </div>
                    <!-- Flexibility box end -->


                    <!-- Cardio box st -->
                    <div class="bodycom_box cardio cardiocom_box" id="savecardiotest">
					<div class="loader_cardio" style="display:none;"><img src="images/loader.gif"/></div>
                        <div class="bodycom_two">
                            <div class="testboxlist_field" >
                                <label class="gendercls" for="gender">Gender</label>
                                <input type="text" id="gender" value="" class="gendertype cdbdcmpgendertype" disabled="disabled"/>
                            </div>
                            <div class="testboxlist_field" >
                                <label class="agetestcls transagetestcls" for="ageOnTest">Age at test date</label>
                                <input type="number" id="ageOnTest" value="" class="clsbdcomppersonage cdbdcmpcomppersonage" disabled="disabled"/>
                            </div>
                            <div class="testboxlist_field" >
                                <label class="weighttestcls transweighttestcls" for="idcardiotestweight">Weight on testdate</label>
                                <input type="number" value="" min="0" id="idcardiotestweight"  class="blu_input clsbdcomppersonweight cdbdcmppersonweight req-nonempty trackIPChanges" onkeypress="return _isNumber(event)"/>
                            </div>
                            <div class="testboxlist_field" >
                                <label class="testlevelcls transtestlevelcls" for="testLevel">Test level</label>
                                <input type="hidden" value="" id="tst_lvl_val"></input>
                                <select id="testLevel" class="blu_input_drop persontestlevel cdbdcmppersontestlevel req-nonzero">
                                
                                </select>
                            </div>
                            <!-- <div class="testboxlist_field" > --><!-- -- It should be a drop-down it must be return result like cycle and thread mill--- -->

                         <!--        <label class="testoption transtestoption" for="testoption">Test option</label>
                                <select id="testoption" class="blu_input_drop req-nonempty cdbdcmptestoption">
                                    <option value="1">Cycle (Default)</option>
                                    <option value="2">Treadmill</option>
                                    <option value="3">Field</option>
                                    <option value="4">SpecCycle</option>
                                    <option value="5">Manual</option>
                                </select>
                            </div> -->
                        </div>
                        <div class="bodycom_two">
                            <div class="testboxlist_field" >
                                <label class="coachcls" for="idcoachname" >Coach</label>
                                <input type="text" value="" disabled="disabled" id="idcoachname"/>
                            </div>
                        </div>

                        <div class="bodycom_two">
                            <div class="testboxlist_field" >
                                <label class="testdate" for="testDate" >Testdate</label>
                                <input type="date" id="testDate" value="" class="blu_input_drop persontestdate req-nonempty date_testdate" />
                            </div>
                        </div>
                            <div class="nextsave_outer">
                                <!--<button class="btn" >Save</button>-->
                                <button class="btn nextcls " id="evtcr" onclick="saveCardioTestResultData()"> >>Next</button>
                            </div>

                    </div>
                    <!-- Cardio box end -->
                    <!-- Strength box st -->
                    <div class="bodycom_box strength strengthbox">
					<div class="loader_strength" style="display:none;"><img src="images/loader.gif"/></div>
                       <!-- <div class="bodycom_radiobox">
                            <ul>
                                <li><span class="radiobox radiobtn " ><input type="radio" class="rdgrp_strengthtest" name="inp_proff" value="0" checked="checked" id="calauto" /></span><label class="transcalculate" for="calauto" >Calculate automatically</label></li>
                                <li><span class="radiobox"><input type="radio" class="rdgrp_strengthtest" name="inp_proff" value="1" id="strengthtest"/></span><label for="strengthtest" class="transstrengthtest">Strength test</label></li>
                            </ul>
                        </div>-->
                        <div class="str_new_head">   
                            <div class="testboxlist_field three_input_box" >
                             <label class="" for="situp" >Time</label>
                                <input type="number" id="situpid" value="" typeid="1" name="situpid" class="blu_input_drop st" placeholder="Sit Up value" />
        <label style="margin-top:10px;" class="" for="situp" >Sit Up Value</label>
                            </div>
                            <div class="testboxlist_field three_input_box" >
                             <label class="" for="pushup" >Amount</label>
                                <input type="number" id="pushupid" value="" typeid="2" name="pushupid" class="blu_input_drop st" placeholder="Push up value" />
        <label style="margin-top:10px;" class="" for="pushup" >Push Up Value</label>
                            </div>
                            <div class="testboxlist_field three_input_box" >
                             <label class="" for="time" >Time</label>
                                <input type="number" id="quadriceps" value="" typeid="3" name="quadriceps" class="blu_input_drop st" placeholder="Quadriceps value" />
        <label style="margin-top:10px;" class="" for="time" >Quadriceps Value</label>
                            </div>
       <div class="clear"></div>
	   <!--19-june-2017-->
			<!-- <div class="testsboxlist_field three_input_box" >
                           
                                <button id="free" onclick="get_FreestrengthProg();" class="blu_input_drop st frev">Select FREE Program</button>
                               
                                <select id="listfree" name="free" style ="display:none;" class="listfree progg">
                                       
                                   </select>
        
                        
                        </div> -->
							
							<!-- <div class="testsboxlist_field three_input_box" >
                            
                                <button id="goal" onclick="get_GoalstrengthProg();" class="blu_input_drop st frev" >
                                    Select GOAL Program
                                </button>
                                 <select id="listgoal" name="goal" style ="display:none;" class="listfree progg">
                                       
                                   </select>
        
                            </div> -->
                            <!-- <br></br>
                           <div class="clear"></div>
	                           <div class="testsboxlist_field three_input_box machinelist" >
                              <span id="listmachine" class="machine">
                                 
                                </span>
                                </div> -->
								<input type="hidden" value="" id="type"/>
								<input type="hidden" value="" id="type_pro"/>
	   
	   
	   
	   
                        </div>
                        <!--
                        <div class="str_new_head field_in_box" >
									<div class="three_input_box">
							<select class="freegrmlist" id="strdfreepgmid">Select FREE Program</select>
                        </div>
							<div class="three_input_box">
							<select class="mixpgmlist" id="strcircuitpgmid">Select MIX Program</select>
							</div>
							<div class="three_input_box">
							<select class="circuitpgmlist" id="strmixpgmid">Select CIRCUIT Program</select>
                            </div>
						</div>
                         -->
						<div class="clear"></div>
						<!--
                        <div  class="sele_mech_bx">
							<h5>Select Machines</h5>
							<ul class="pgmmachinelist">
								
                                <img src="images/loading.gif" alt=" Loading.."/>
							</ul>
						</div>
						-->
						<div class="clear"></div>
                         <input type="hidden" id="strdefaultfreepgmid" value="" />
                        <input type="hidden" id="strdefaultcircuitpgmid" value="" />
                        <input type="hidden" id="strdefaultmixpgmid" value="" />
                       
                        <input type="hidden" id="user_Heighthidd" value="" />
                        <input type="hidden" id="user_Weightidd" value="" />
                        <div class="nextsave_outer">
                                <!--<button class="btn transsave savecls" onclick="saveStrengthTest()">Save</button>-->
                                <button class="btn nextcls " id="evtstg" onclick="savestrengthdata()">>> Next</button>
                               <!--  <button class="btn nextarrowcls " id="evtstg" onclick="saveStrengthTest()">>> Next</button> -->
                                <!--<button class="btn savestartcls"  onclick="saveStrengthTest(true);">save/start cardio test</button>-->
                            </div>
                        <div class="clear"></div>
                    </div>
                    <!-- Strength box end -->
					
					<!-- Mind Box start -->
					
					<div class="bodycom_box mind mindcom_box" id="savemindtest">
					<div class="loader_mind" style="display:none;"><img src="images/loader.gif"/></div>
						  <div class="bodycom_two" >
							<div class="testboxlist_field" >
                                    <label class="energylevelcls" for="energylevel">Energy</label>
                                    <input type="number" id="energylevel" value="" min="0" max="35" testitemid="70"  datavalold=""  class="blu_input clsbdcomppersonglocosesober trackIPChanges clsmindtestparamer clsbdcomptestparamer_68 req-nonempty range_check"  onkeyup="energylevel()" onkeypress="return _isNumber(event) " onclick="this.select();"/>
                            </div>
							<div class="testboxlist_field" >
                                    <label class="sleepcls" for="sleep">Sleep</label>
                                    <input type="number" id="sleep" value="" min="0" max="21" testitemid="73"  datavalold=""  class="blu_input clsbdcomppersonglocosesober trackIPChanges clsmindtestparamer clsbdcomptestparamer_73 req-nonempty range_check"  onkeyup="energylevel()" onkeypress="return _isNumber(event)" onclick="this.select();"/>
                            </div>
							<div class="testboxlist_field" >
                                    <label class="stresscls" for="stress">Stress</label>
                                    <input type="number" id="stress" value="" testitemid="35"  datavalold=""  class="blu_input clsbdcomppersonglocosesober trackIPChanges clsmindtestparamer clsbdcomptestparamer_35 req-nonempty range_check"  onblur="stressfun()" onkeypress="return _isNumber(event)" onclick="this.select();"/>
                            </div>
							<div class="testboxlist_field" >
                                    <label class="mindfullnesscls" for="mindfullness">Mindfullness</label>
                                    <input type="number" id="mindfullness" value=""  testitemid="74"  datavalold=""  class="blu_input clsbdcomppersonglocosesober trackIPChanges clsmindtestparamer clsbdcomptestparamer_74 req-nonempty range_check" onblur="mindfullnessfun()" onkeypress="return _isNumber(event)" onclick="this.select();"/>
                            </div>
						  </div>
						  <div class="bodycom_two" >
							<div class="testboxlist_field" >
                                    <label class="motivationcls" for="motivation">Motivation</label>
                                    <input type="number" id="motivation" value="" min="0" max="42" testitemid="71"  datavalold=""  class="blu_input clsbdcomppersonglocosesober trackIPChanges clsmindtestparamer clsbdcomptestparamer_71 req-nonempty range_check" onkeyup="energylevel()" onkeypress="return _isNumber(event)" onclick="this.select();"/>
                            </div>
						  </div>
						  <div class="bodycom_two" >
							<div class="testboxlist_field" >
                                    <label class="resiliencecls" for="resilience">Resilience</label>
                                    <input type="number" id="resilience" value="" min="0" max="35" testitemid="72"  datavalold=""  class="blu_input clsbdcomppersonglocosesober trackIPChanges clsmindtestparamer clsbdcomptestparamer_72 req-nonempty range_check" onkeyup="energylevel()" onkeypress="return _isNumber(event)" onclick="this.select();"/>
                            </div>
						  </div>
						  <div class="bodycom_two" >
							<div style="margin-top:10px;text-align:center;"class="field_in_box" >
								<label  class="personalgoalcls" for="personalgoal">Personal Goal</label>
								<select id="personalgoal" style="text-align:center;" name="personalgoal">
									<option value="1">Ik wil fit worden</option>
									<option value="2">Ik wil afvallen en/of mijn buikomvang verminderen</option>
									<option value="3">Ik wil meer energie</option>
									<option value="4">Ik wil vitaal worden</option>
								</select>
							</div>
						  </div>
						  <div class="nextsave_outer">
                                <!--<button class="btn" >Save</button>-->
                                <button class="btn finishbtncls" id="evtfn" onclick="saveMindTestResultData()"> Finish</button>
                            </div>
                        <div class="clear"></div>
                    </div>
					<!-- Mind Box end -->


                    <div class="clear"></div>

                </div>
                <div class="clear"></div>
            </div>
