<script src="src/controllers/manage-memberdetails.js"></script>
<script>
    $(document).ready(function(){
    TranslateGenericText();
        _setPageTitle(GetLanguageText(PAGE_TTL_FUNCTIONALITY_TEST_LIST));
        var urldata	=	getPathHashData();
        var mid	=	(urldata.args.mid) ? base64_decode(urldata.args.mid) :0;
        getManageMemberTestData('CardioListGrid','.managetable',mid);
        /*setOption_AssociatedClubs("#users_club");
        $("#users_club").val(app_tempvars('club_selected'));*/
    });
    /*SN added 20160215- pagination cardio list*/
$(document).delegate(".listpageindex","click",function(){
    logStatus("Event.listpageindex.Click", LOG_FUNCTIONS);
    try {
        var $self	=	$(this);
        var manageAction	=	"";
        var manageElement	=	"";
        var page		=	$self.attr('page');
        var pageindex	=	$self.attr('pageindex');
        //var action_tab	=	$self.attr('action_tab');
        var urldata	=	getPathHashData();
        var mid	=	(urldata.args.mid) ? base64_decode(urldata.args.mid) :0;
        if(page=='cardio'){
            manageAction	=	'CardioListGrid';
            manageElement	=	'.managetable';
        }
        getManageMemberTestData(manageAction,manageElement,mid,pageindex);
    }catch(e) {
        ShowExceptionMessage("Event.listpageindex.Click", e);
    }
});
</script>
<div class="comm_innerbox" >
    <div class="comm_rightbox">
        <div class="pageheader1_box" >
            <span>
                <img src="images/no_image.png" alt="user_image1" id="memberImage" />
            </span>
            <h3 class="memberName"><img src="images/loading.gif"/></h3>
            <input type="hidden" value="" id="bodycomptostionuserdata" />
            <input type="hidden" value="" id="idbodycomptiontestdata" />
            <a href="javascript:movebodycomption()" class="btn transstarnewtest"> START NEW TEST </a>
            <div class="clear"></div>
        </div>

        <div class="clear"></div>
        <div class="managetable">
            <table class="bdycomposgrid" cellpadding="0" cellspacing="0">

            <tbody>
                <tr><td colspan="5"><img src="images/loading.gif" alt="loading.." /></td></tr>
            </tbody>

            </table>
        </div>
        <div id="weightFat" class="weightFat cardio"></div>
    </div>
    <div class="clear"></div>
</div>

