<script>
$(function(){
    _setPageTitle(GetLanguageText(PAGE_TTL_HEALTHCHECK));
    TranslateGenericText();
        $('.construction').html(GetLanguageText(EXCP_UNDER_CONSTUCTION_PAGE));
});
</script>
<p class="construction"></p>