<script src="js/lib/calender/dhtmlxscheduler.js"></script>
<link href="js/lib/calender/dhtmlxscheduler.css" rel="stylesheet">
<script src="js/lib/calender/dhtmlxscheduler_minical.js"></script>
<script src="src/controllers/manage-calender.js"></script>
<div id="scheduler_here" class="dhx_cal_container" style='width:100%; height:100%;'>
  <div class="dhx_cal_navline">
     <div class="dhx_cal_prev_button">&nbsp;</div>
     <div class="dhx_cal_next_button">&nbsp;</div>
     <div class="dhx_cal_today_button"></div>
     <div class="dhx_cal_date"></div>
     <div class="dhx_minical_icon" id="dhx_minical_icon" onclick="show_minical()">&nbsp;</div>
     <div class="dhx_cal_tab" name="day_tab" style="right:204px;"></div>
     <div class="dhx_cal_tab" name="week_tab" style="right:140px;"></div>
     <div class="dhx_cal_tab" name="month_tab" style="right:76px;"></div>
  </div>
  <div class="dhx_cal_header">
  </div>
  <div class="dhx_cal_data">
  </div>
</div>
<!-- <div class="clear"><div> -->

<!-- <p class="construction"></p> -->