<script src="src/controllers/manage-memberdetails.js"></script>
<script>
    $(document).ready(function(){
        TranslateGenericText();
        _setPageTitle(GetLanguageText(PAGE_TTL_MANAGE_BODYCOMPLIST));
        var urldata	=	getPathHashData();
        var mid	=	(urldata.args.mid) ? base64_decode(urldata.args.mid) :0;
        getManageMemberTestData('bodyCompositionListGrid','.managetable',mid);
    });
</script>
<div class="comm_innerbox" >
    <div class="comm_rightbox">
        <div class="pageheader1_box" >
            <span>
                <img src="images/no_image.png" alt="user_image1" id="memberImage" />
            </span>
            <h3 class="memberName"><img src="images/loading.gif"/></h3>
            <input type="hidden" value="" id="bodycomptostionuserdata" />
            <input type="hidden" value="" id="idbodycomptiontestdata" />
            <a href="javascript:movebodycomption()" class="btn transstarnewtest"> START NEW TEST </a>
            <div class="clear"></div>
        </div>
        <div class="managetable"></div>
    </div>
    <div id="weightFat" class="weightFat"></div>
    <div class="clear"></div>
</div>