<script>
$(function(){
    _setPageTitle(GetLanguageText(PAGE_TTL_MANAGE_POINT));
    TranslateGenericText();
    $('.construction').html(GetLanguageText(EXCP_UNDER_CONSTUCTION_PAGE));

    //maincontent_leftimage();
    $(".main_left").show().removeClass("background1 background2 background4").addClass("background3");

    //$(window).resize(function(){
    //	maincontent_leftimage();
    //});

});
</script>
<p class="construction"></p>