<script src="src/controllers/manage-listmachines.js"></script>

<section>
        <div class="comm_innerbox " id="listNewMachineDetails">
            <div class="managebox" id="clarnewmachinddata">
                <div class=" headerfieldbox1 headerfieldbox2 ">
                    <input type="hidden" value="" id="idmachineImage" name="" />
                    <input type="hidden" value="" id="idmachineVideo" name="" />
                    <input type="hidden" value="" id="machine_edit_id" name="" />
                    <div class="autgenclubs">
                        <label class="transname" for="machinename">Name:</label>
                        <!--<select class="blu_input_drop req-nonzero" id="idmachGroupNamelist"><img src="images/loading.gif"/></select>--->
                        <input type="text" id="machinename" class="blue_bg" />
                        <span id="clubauotgnerateid"  class="blu_input_drop clubauotgnerateid" onclick='return false;'><img src="images/loading.gif"/></span><!-- auto fetech clubid--->
                    </div>
                    <ul class="footermenu">
                        <li>
                            <a href="javascript:_movePageTo('manage-newmachinesexerciseprogram')" >
                                <img src="images/listicon.png" alt="addicon" />
                                <h4 class="translist">LIST</h4>
                            </a>
                        </li>
                        <li id="hideItemsData" >
                            <a href="javascript:void(0)" >
                                <img src="images/editicon.png" alt="editicon" />
                                <h4 class="transedit">EDIT</h4>
                            </a>
                        </li>
                        <li  id="hideAddIcon" >
                            <a href="javascript:void(0)" >
                                <img src="images/addicon1.png" alt="addicon1" onclick="addNewMachine()"/>
                                <h4 class="transadd">ADD</h4>
                            </a>
                        </li>
                        <li id="hideDeleteMenu">
                            <a href="javascript:void(0)" >
                                <img src="images/deleteicon.png" alt="deleteicon" onclick="deleteNewEditMachine()"/>
                                <h4 class="transdelete">DELETE</h4>
                            </a>
                        </li>
                        <li >
                            <a href="javascript:void(0)" onclick="saveNewMachineDetails()" id="saveupdatenewmachinedetails">
                                <img src="images/saveicon.png" alt="saveicon" />
                                <h4 id="Saveandupdatetext" class="transsave">SAVE</h4>
                            </a>
                        </li>
                    </ul>
                    <div class="clear"></div>
                </div>
                <div class="tabsbox">
                    <div class="tabsbox testboxlist_field manalist_mac">
                    <!-- 	<label>Brand</label> -->

                        <div class="select_pal" >
                            <span id="idmachbrandlist_text"  class="select_pal_text " > Brand</span>
                            <label for="idmachbrandlist" style="display:none"></label>
                            <select class="blu_input_drop req-nonzero" id="idmachbrandlist"><option>Please wait loading..</option></select>
                        </div>

                        <div class="select_pal" >
                            <span id="idmachTypelist_text"  class="select_pal_text" > Type</span>
                                <label for="idmachTypelist" style="display:none"></label>
                                <select class="blu_input_drop req-nonzero" id="idmachTypelist"><option>Please wait loading..</option></select>
                        </div>

                        <div class="select_pal" >
                            <span id="idmachGrouplist_text"  class="select_pal_text" > Group</span>
                            <label for="idmachGrouplist" style="display:none"></label>
                            <select class="blu_input_drop req-nonzero" id="idmachGrouplist"><option>Please wait loading..</option></select>
                        </div>

                        <div class="select_pal" >
                            <span id="idmachSubtypelist_text"  class="select_pal_text" > Subtype</span>
                            <label for="idmachSubtypelist" style="display:none"></label>
                            <select class="blu_input_drop req-nonzero" id="idmachSubtypelist"><option>Please wait loading..</option></select>
                        </div>

                    </div>
                </div>
                <div class="exercise_bx1">
                    <span class="btn_bx" >Club n" : <span id="clubiddetails"><img src="images/loading.gif" alt="loading.."/></span></span>
                    <div class="clear"></div>
                    <div class="exercise_bx_get" id="uploadMachineimage">
                        <div class="exercise_bx_iner machienimage"><img src="images/loading.gif" id="imageloader"/>
                            <img src="images/no_image.png" id="exerciseImage" alt="activices" />
                            <h4 class="uploadMachinedetails transgetimage" ><input type="file" id = "uploadMachineImg" class="uploadMachineImg" name ="uploadMachineImgs" />Get Image</h4>
                        </div>
                        <button class="urlbtn transimageurl" id="externalImageUrl">Image url</button>
                        <button class="clearbtn transclear" >clear</button>
                        <span class="popup_new_bg"></span>
                        <div class="popup_new">
                            <label class="transenterurl">Enter url</label>
                            <input type="text"  id="externalUrlPath" class="externalUrlPath transphenterurl" placeholder="Enter url" flag=""/>
                            <button class="btn savecls" onclick="external_Url_Path()" >Save</button>
                        </div>
                    </div>
                    <div class="exercise_bx_get">
                        <div class="exercise_bx_iner machienimage">
                            <img src="images/loading.gif" id="videoloader"/>
                            <img src="images/no_image.png" alt="activices" id="exerciseVideo" />
                                <h4 class="uploadMachineVideoDetails transgetmovie"><input type="file" id = "uploadMachineVideo"  onchange="uploadMachineVideo()" class="" name ="uploadMachinevideo" />Get Movie</h4>
                        </div>
                        <button class="urlbtn transmovieurl" id="externalVideoUrl" flag="0">Movie url</button>
                        <button class="clearbtn transclear" >clear</button>
                        <div class="helpvideobox"></div>
                    </div>
                    <div class="exercise_bx_decrip">
                        <div class="exercise_bx_iner" >
                            <label for="idmachdescription" style="display:none"></label>
                            <textarea id="idmachdescription" ></textarea>
                            <h4 class="transdiscription">Description</h4>
                        </div>
                    </div>
                    <div class="exercise_bx_check">
                        <ul>
                            <li>
                                <span class="checkouter checkbtn" id="idisactivemachine"><input type="checkbox" class="rdgrp_active" name="inp_active" id="inp_active" checked="checked"></span>
                                <label class="transactivelbl" for="inp_active">Active</label>
                            </li>
                            <li>
                                <span class="checkouter" id="idismachienoutoforder" ><input type="checkbox" class="rdgrp_machineworkignorder" name="inp_machineworkignorder" id="rdgrp_machineworkignorder"></span>
                                <label class="transoutord" for="rdgrp_machineworkignorder">Out of order</label>
                            </li>
                            <!--<li>
                                <span class="checkouter"><input type="checkbox" class="rdgrp_mixtraining" name="inp_mixtraining" id="inp_mixtraining" ></span>
                                <label>Use in mix training allowed</label>
                            </li>
                            <li>
                                <span class="checkouter"><input type="checkbox" class="rdgrp_circuittraining" name="inp_circuittraining"  id="inp_circuittraining" ></span>
                                <label>Use in circuit training allowed</label>
                            </li>
                            <li>
                            <span class="checkouter"><input type="checkbox" class="rdgrp_freetraining" name="inp_freetraining"  id="inp_freetraining"></span>
                                <label>use in free training allowed</label>
                            </li>--->
                            <li>
                                <span class="checkouter"><input type="checkbox" class="rdgrp_certified" name="inp_certified"  id="inp_certified"></span>
                                <label class="transcertified" for="inp_certified">Movesmart certified: </label><br/><label class="classbrknex">(only allowed with machines or equipment certified by Movesmart)</label>
                            </li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>

            </div>
            <div class="clear"></div>
        </div>
        <div class="choosephoto_popup">
            <div class="choosephotocnt">
                <h2 class="capturephotoopt" selectopt="0">
                    <span class="galleryicon" ></span>
                    <label class="transgallery">Gallery</label>
                    <!--<input type="file" id="prodimgfile" name="prodimgfile"/>-->
                </h2>
                <h2 id="idcapturephoto" class="capturephotoopt" selectopt="1">
                    <span class="photoicon" ></span>
                    <label class="transcamera">Camera</label>
                </h2>
            </div>
            <span class="hidePg"></span>
        </div>
</section>