<script>
var devicesettings = {};
$(function(){
    maincontent_leff_none();
    //$(".main_left").hide().removeClass("background3 background2 background4") .addClass("background1");

    _setPageTitle(GetLanguageText(PAGE_TTL_SETTINGS));
    TranslateGenericText();
    $('.construction').html(GetLanguageText(EXCP_UNDER_CONSTUCTION_PAGE));
     devicesettings = _getCacheArray('devicesettings');
    //$(window).resize(function(){
    //	maincontent_leftimage();
    //});
    var clubId	=	getselectedclubid();
    getMachineData(clubId,function(response){
        $('#machinelist').html(response);
    });
    getListDeviceData(function(data){
        $('.devicecnt tbody').html(data);
    });
});
function saveDeviceData(){
    //var devicename = $('#machinedeviceid').val();
    var machineid = $('#machinelist').val();
    var tempdevsetting = {};
    tempdevsetting.device = $("#machinedeviceid").val();
    _setCacheArray('devicesettings',tempdevsetting);
    _saveDeviceData(machineid,function(){
        getListDeviceData(function(data){
            $('.devicecnt tbody').html(data);
        });
    });
}
function editDevice(obj,deviceid){
    /**
     * @param row.r_machineid This is machine id
     */
    logStatus(obj,LOG_DEBUG);
    getDeviceById(deviceid,function(response){
        $.each(response,function(i,row){

            $('#machinedeviceid').val(row.device);
            $('#machinelist').val(row.r_machineid);
            $('#deviceid').val(row.deviceid);
        });

    });
}
</script>
<div class="managebox">
    <div class="headerfieldbox">
        <label>Device Name:</label>
        <div class="field_in_box">
            <input type="text" placeholder="Deviceid" id="machinedeviceid" value="" disabled/>
        </div>
        <label>Machine:</label>
        <div class="field_in_box">
            <label for="machinelist" style="display:none"></label>
            <select id="machinelist"></select>
        </div>
        <div class="field_in_box">
            <input type="button"  class="btn" value="Save" onclick="saveDeviceData()"/>
        </div>
    </div>
    <div class="managetable devicecnt">
        <table cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th class="">Device Name</th>
                    <th class="">Machine Name</th>
                    <th class="transaction">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr><td colspan="8"><img src="images/loading.gif"/></td></tr>
            </tbody>
        </table>
    </div>
</div>	