<script>
$(function(){
    _setPageTitle(GetLanguageText(LBL_STRENGTH));
    TranslateGenericText();
    $('.construction').html(GetLanguageText(EXCP_UNDER_CONSTUCTION_PAGE));
});
</script>
<p class="construction"></p>