<script src="src/controllers/manage-cardiotest.js"></script>

<script>
    $(function(){
    //	searchfunction_boxmargin_top();
        setTimeout(searchfunction_boxmargin_top, 100);
    });

    function searchfunction_boxmargin_top(){
        var contactheight = $(".searchfunctionbox").outerHeight();
        var header = $(".header").outerHeight();
        var footer = $("footer").outerHeight();
        var windowHEIGHT = $( window ).height();
        var contentheight = windowHEIGHT-(header+footer);
        var balanceheight = contentheight-contactheight;
        var margintop = (balanceheight)/2;
        if (margintop<0){
            margintop = 0;
        }
        $(".searchfunctionbox ").css({
            "margin-top": margintop
        });
    }
    $(window).resize(function(){
        searchfunction_boxmargin_top();
    });
</script>


<div class="comm_innerbox" >
                <div class="loginpage searchfunctionbox" >
                    <P class="welcome_para" ><strong>Welcome</strong>, select your name or use the search functions below.</P>
                    <ul class="selectlist_ul" >
                        <li>
                            <div class="listdiv_left">
                                <img src="images/user_image1.png" alt="user_image" />
                            </div>
                            <div class="listdiv_right">
                                <h3>Peter <span>Example Person</span></h3>
                                <p class="nodevicemapcls">No device mapped</p>
                            </div>
                        </li>
                        <li>
                            <div class="listdiv_left">
                                <img src="images/user_image1.png" alt="user_image" />
                            </div>
                            <div class="listdiv_right">
                                <h3>Stephan <span>Test Person</span></h3>
                                <p class="devicemapcls">mapped</p>
                            </div>
                        </li>
                        <li>
                            <div class="listdiv_left">
                                <img src="images/user_image1.png" alt="user_image" />
                            </div>
                            <div class="listdiv_right">
                                <h3>Pieter <span>Tryout Person</span></h3>
                                <p class="nodevicemapcls">No device mapped</p>
                            </div>
                        </li>
                        <li>
                            <div class="listdiv_left">
                                <img src="images/user_image1.png" alt="user_image" />
                            </div>
                            <div class="listdiv_right">
                                <h3>Stephan <span>Test Person</span></h3>
                                <p class="nodevicemapcls">No device mapped</p>
                            </div>
                        </li>

                    </ul>

                    <div class="welcomeform">
                        <form>
                            <div class="form_field">
                                <label class="code_label">Code</label>
                                <input type="text" class="transenterclientcode" value="" placeholder="Enter client code" />
                            </div>
                            <div class="form_field">
                                <label class="quest">?</label>
                                <input type="text" value="" class="transsearchclient" placeholder="Search client" />
                            </div>
                            <!-- <div class="form_field">
                                <label class="readicon"></label>
                                <input type="text" value="" placeholder="Read Smartcard" />
                            </div> -->
                            <br/>
                            <div class="form_field">
                                <button class="refresh_btn" >Refresh</button>
                            </div>
                        </form>
                    </div>

                    <div class="clear"></div>
                </div>
            </div>