<script>
$(function(){
    _setPageTitle(GetLanguageText(PAGE_TTL_MANAGE_REPORTS));
    TranslateGenericText();
    /*MK Swiper Init - Staically intiated*/
    //var testSwiper	=	new Swiper(".test-report-swiper",{
    new Swiper(".test-report-swiper",{
        pagination:'.pagination',
        spaceBetween:4
    });
    $('.construction').html(GetLanguageText(EXCP_UNDER_CONSTUCTION_PAGE));
    //maincontent_leftimage();
    //$(window).resize(function(){
    //	maincontent_leftimage();
    //});

    $(".main_left").hide();
});
</script>
<!-- <p class="construction"></p> -->

<div class="reports_page">
    <div class="headerfieldbox">
        <label>Select:</label>
        <div class="field_in_box">
            <input type="text"  alt="" placeholder="Club / Orginasation" />
        </div>
        <div class="field_in_box">
            <input type="text"  alt="" placeholder="Last Name" />
        </div>
        <div class="field_in_box">
            <input type="text" class="blue_bg" alt="" placeholder="Rouquart" />
        </div>
        <div class="clear"></div>
    </div>
    <div class="internal_header">
        <div class="internal_userleft" >
            <span class="use_internalimg" >
                <img src="images/user_image1.png" alt="user_image1" />
            </span>
            <h4>Martine Rouquart</h4>
        </div>
        <ul class="age_weight_box" >
            <li><label>age :</label><strong>43</strong></li>
            <li><label>weight :</label><strong>53kg</strong></li>
        </ul>
        <div class="clear"></div>
    </div>
    <div class="reports_fl_box">
        <ul>
            <li>Credit report</li>
            <li>Index report</li>
            <li class="active_report">MOVESMART.</li>
            <li>EATFRESH!</li>
            <li>MINDSWITCH?</li>
            <li>Management report</li>
            <li>Flexibility</li>
            <li>Tips & Hints</li>
        </ul>
    </div>
    <div class="reports_fr_box">
        <div class="test-report-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="currentfit_box" >
                        <h3 class="comm_h3" >Current Fit-level</h3>
                        <span class="circle_span_count" >2</span>
                        <img src="images/graph_fit.png" alt="graph_fit" />
                    </div>
                    <div class="activity_split_box" >
                        <h3 class="comm_h3" >Activity split-up</h3>
                        <ul class="activity_split_ul" >
                            <li>
                                <div class="activityimg_box" >
                                    <img src="images/activity1.png" alt="activity1" />
                                    <strong>Running</strong>
                                </div>
                                <h4 class="activity_h3_lavel" >65%</h4>
                            </li>
                            <li>
                                <div class="activityimg_box" >
                                    <img src="images/activity4.png" alt="activity4" />
                                    <strong>Swimming</strong>
                                </div>
                                <h4 class="activity_h3_lavel" >5%</h4>
                            </li>
                            <li>
                                <div class="activityimg_box" >
                                    <img src="images/activity2.png" alt="activity2" />
                                    <strong>cycling mtb</strong>
                                </div>
                                <h4 class="activity_h3_lavel" >25%</h4>
                            </li>
                            <li>
                                <div class="activityimg_box" >
                                    <img src="images/activity3.png" alt="activity3" />
                                    <strong>inline skating</strong>
                                </div>
                                <h4 class="activity_h3_lavel" >5%</h4>
                            </li>
                        </ul>
                    </div>
                    <div class="clear" ></div>
                    <div class="training_graph_box">
                        <label class="training_label" >Training</label>
                        <div class="training_inpt_feild" >
                            <label for="training_test_input">Test :</label>
                            <input type="number" id="training_test_input" value="1"  />
                        </div>
                        <div class="training_graph" >
                            <img src="images/training_graph.png" alt="training_graph" />
                        </div>
                    </div>
                </div>
                <!--Sldie Two-->
                <div class="swiper-slide">
                    <div class="currentfit_box" >
                        <h3 class="comm_h3" >Current Fit-level</h3>
                        <span class="circle_span_count" >3</span>
                        <img src="images/graph_fit.png" alt="graph_fit" />
                    </div>
                    <div class="activity_split_box" >
                        <h3 class="comm_h3" >Activity split-up</h3>
                        <ul class="activity_split_ul" >
                            <li>
                                <div class="activityimg_box" >
                                    <img src="images/activity1.png" alt="activity1" />
                                    <strong>Running</strong>
                                </div>
                                <h4 class="activity_h3_lavel" >68%</h4>
                            </li>
                            <li>
                                <div class="activityimg_box" >
                                    <img src="images/activity4.png" alt="activity4" />
                                    <strong>Swimming</strong>
                                </div>
                                <h4 class="activity_h3_lavel" >6%</h4>
                            </li>
                            <li>
                                <div class="activityimg_box" >
                                    <img src="images/activity2.png" alt="activity2" />
                                    <strong>cycling mtb</strong>
                                </div>
                                <h4 class="activity_h3_lavel" >20%</h4>
                            </li>
                            <li>
                                <div class="activityimg_box" >
                                    <img src="images/activity3.png" alt="activity3" />
                                    <strong>inline skating</strong>
                                </div>
                                <h4 class="activity_h3_lavel" >6%</h4>
                            </li>
                        </ul>
                    </div>
                    <div class="clear" ></div>
                    <div class="training_graph_box">
                        <label class="training_label" >Training</label>
                        <div class="training_inpt_feild" >
                            <label for="trainreport">Test :</label>
                            <input type="number"  value="2"  id="trainreport"/>
                        </div>
                        <div class="training_graph" >
                            <img src="images/training_graph.png" alt="training_graph" />
                        </div>
                    </div>
                </div>
                <!--Sldie Three-->
                <div class="swiper-slide">
                    <div class="currentfit_box" >
                        <h3 class="comm_h3" >Current Fit-level</h3>
                        <span class="circle_span_count" >2</span>
                        <img src="images/graph_fit.png" alt="graph_fit" />
                    </div>
                    <div class="activity_split_box" >
                        <h3 class="comm_h3" >Activity split-up</h3>
                        <ul class="activity_split_ul" >
                            <li>
                                <div class="activityimg_box" >
                                    <img src="images/activity1.png" alt="activity1" />
                                    <strong>Running</strong>
                                </div>
                                <h4 class="activity_h3_lavel" >55%</h4>
                            </li>
                            <li>
                                <div class="activityimg_box" >
                                    <img src="images/activity4.png" alt="activity4" />
                                    <strong>Swimming</strong>
                                </div>
                                <h4 class="activity_h3_lavel" >15%</h4>
                            </li>
                            <li>
                                <div class="activityimg_box" >
                                    <img src="images/activity2.png" alt="activity2" />
                                    <strong>cycling mtb</strong>
                                </div>
                                <h4 class="activity_h3_lavel" >20%</h4>
                            </li>
                            <li>
                                <div class="activityimg_box" >
                                    <img src="images/activity3.png" alt="activity3" />
                                    <strong>inline skating</strong>
                                </div>
                                <h4 class="activity_h3_lavel" >10%</h4>
                            </li>
                        </ul>
                    </div>
                    <div class="clear" ></div>
                    <div class="training_graph_box">
                        <label class="training_label" >Training</label>
                        <div class="training_inpt_feild" >
                            <label for="testtarinid">Test :</label>
                            <input type="number" value="3"  id="testtarinid"/>
                        </div>
                        <div class="training_graph" >
                            <img src="images/training_graph.png" alt="training_graph" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="pagination"></div>
        </div>
    </div>
</div>
