<script src="src/controllers/manage-newmachineexceriseprograms.js"></script>
<!--<p class="construction"></p>--->
        <!-- <section> -->
            <div class="headerfield">
                <label for="users_clubs"></label>
                <select id="users_clubs"></select>
            </div>

            <div class="comm_innerbox" >
                <div class="managebox">
                    <div class=" headerfieldbox1 ">
                        <div class="tabsbox machinedetails">
                            <span class="newmachinedet transmachines" onclick="getManageData('ListMachinesData','.managetable','Machines')" >Machines</span>
                            <span class="newmachinedet transexercises" onclick="getManageData('ListMachinesData','.managetable','Exercises')" >Exercises</span>
                            <span class="newmachinedet transactivities" onclick="getManageData('ListMachinesData','.managetable','Activities')" >Activities</span>
                            <span class="newmachinedet transdumbells" onclick="getManageData('ListMachinesData','.managetable','Dumbells')">Dumbells</span>
                            <div class="search_bx1">
                                <input type="text" value="" id="selecrfilterdatavalue" class="transearch" onkeyup="SearchResult('ListMachinesData','.managetable','machine_name')" placeholder="Search" />
                                <button class="searchicon1" ></button>
                            </div>
                        </div>
                        <input type="hidden" value="" id="Serachtypeval" />
                        <ul class="footermenu">
                            <li>
                                <!--<a href="javascript:_movePageTo('manage-newmachinesexerciseprogram',{_tp:'g'})" onclick="imagetype()">-->
                                <a href="javascript:_movePageTo('manage-newmachinesexerciseprogram',{_tp:'g'})">
                                    <img src="images/imageicon.png" alt="imageicon" />
                                    <h4 class="transimages">IMAGES</h4>
                                </a>
                            </li>

                            <li>
                                <a href="javascript:javascript:_movePageTo('manage-newmachinesexerciseprogram',{_tp:'l'})" >
                                    <img src="images/listicon.png" alt="addicon" />
                                    <h4 class="translist">LIST</h4>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" onclick="editMachine()">
                                    <img src="images/editicon.png" alt="editicon" />
                                    <h4 class="transedit">EDIT</h4>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:_movePageTo('manage-listmachines')" >
                                    <img src="images/addicon1.png" alt="addicon1" />
                                    <h4 class="transadd">ADD</h4>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" onclick="deleteMachine()" >
                                    <img src="images/deleteicon.png" alt="deleteicon" />
                                    <h4 class="transdelete">DELETE</h4>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" >
                                    <img src="images/saveicon.png" alt="saveicon" />
                                    <h4 class="transsave">SAVE</h4>
                                </a>
                            </li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                <!--</div>-->
                    <div class="managetable managetablegride">
                        <table cellpadding="0" cellspacing="0">
                            <thead>
                                <tr>
                                    <th class="transselect">select</th>
                                    <th class="transclubn">Club N</th>
                                    <th class="transname">Name </th>
                                    <th class="transbrand">Brand</th>
                                    <th class="transtype">Type</th>
                                    <th class="transgroup">Group</th>
                                    <th class="transsubtype">Subtype</th>
                                    <th class="transimages">Image</th>
                                    <th class="transstatus">Status</th>
                                    <th class="transaction">Action</th>
                                </tr>
                            </thead>
                            <tbody cellpadding="0" cellspacing="0">
                                <tr><td colspan="8"><img src="images/loading.gif"/></td></tr>
                            </tbody>
                        </table>
                    </div>
                <!--</div>--->
                <div class="exercise_gridbox"><!-- display grid and pagination for images --->
                </div>
                <div class="clear"></div>
            </div>
            </div>
            <div class="clear"></div>
<!-- 		</section> -->