<!--<script src="src/controllers/test-selection.js"></script>-->
<script src="src/controllers/cardio-test.js"></script> 
<!--<script src="../../src/controllers/cardio-test.js"></script>-->
<style>
.highcharts-container {
    width: 100%!important;
}
</style>

<script>
    $(function(){
        maincontent_leff_none();
        $(window).resize(function(){
            //maincontent_leff_none();
        });
    });
</script>


<div class="comm_innerbox testsectionpanel" >
    <!--
    <div class="testsection_list" >
        <div class="testsection_header" >
            <span class="userimagepg">
                <img src="images/user_image1.png" alt="user_image1" />
            </span>
            <h4><img src="images/loading.gif"/></h4>
            <label class="test_cout">1</label>
        </div>
        <div class="testborder">
            <div class="pageheader1_fr_field">
                <label class="transagetestcls ageattest">Age at test date</label>
                <input type="number" min="0" value="0" class="mtclsageontest" onkeypress="return _isNumber(event)">
            </div>

            <div class="pageheader1_fr_field">
                <label class="transweighttestcls">Weight on testdate</label>
                <input type="number" min="0" value="0" class="mtclsweightontest" onkeypress="return _isNumber(event)">
            </div>
        </div>
        <div class="borderbottom" >
            <div class="pageheader1_fr_field">
                <label>Start Level</label>
                <input type="text" value="B=55 Watt">
            </div>
            <div class="time_panel">
                <h2 class="colorblue">140</h2>
                <label>RPM</label>
            </div>
            <div class="time_panel">
                <h2 class="">100</h2>
                <label>WATT</label>
            </div>
        </div>
        <div class="borderbottom" >
            <input class="timecout" type="time" value="10:10:88" />
            <button class="coolstartbtn">COOLDOWN</button>
            <div class="time_panel time_panelw1">
                <h2 class="colorred">100</h2>
                <label>HRM</label>
            </div>
        </div>
        <div class="borderbottom" >
            <button class="savebtn"  onclick="saveTestselection1()">Save</button>
            <button class="canclebtn" onclick="cancelTestselection()" >Cancel</button>
        </div>
        <button class="arrowtopbtn"  onclick="testpagetriggerto('manage-cardiotest5')"></button>
    </div>
    <div class="testsection_list" >
        <div class="testsection_header" >
            <span class="userimagepg">
                <!--<img src="images/user_image1.png" alt="user_image1" /> -- >
            </span>
            <!--<h4>Martine Rouqart</h4>-- >
            <label class="test_cout">2</label>
        </div>
        <div class="testborder">
            <div class="pageheader1_fr_field">
                <label class="transagetestcls">Age at test date</label>
                <input type="number" min="0" value="42" onkeypress="return _isNumber(event)">
            </div>

            <div class="pageheader1_fr_field">
                <label class="transweighttestcls">Weight on testdate</label>
                <input type="number"  min="0" value="55 Kg" onkeypress="return _isNumber(event)">
            </div>
        </div>
        <div class="borderbottom" >
            <div class="pageheader1_fr_field">
                <label>Start Level</label>
                <input type="text" value="B=55 Watt">
            </div>
            <div class="time_panel">
                <h2 class="colorblue">140</h2>
                <label>RPM</label>
            </div>
            <div class="time_panel">
                <h2 class="">100</h2>
                <label>WATT</label>
            </div>
        </div>
        <div class="borderbottom" >
            <input class="timecout" type="time" value="10:10:88" />
            <button class="coolstartbtn">START</button>
            <div class="time_panel time_panelw1">
                <h2 class="colorred">100</h2>
                <label>HRM</label>
            </div>
        </div>
        <div class="borderbottom" >
            <button class="savebtn" >Save</button>
            <button class="canclebtn" >Cancel</button>
        </div>
        <button class="arrowtopbtn" onclick="testpagetriggerto('manage-cardiotest5')"></button>
    </div>
    <div class="testsection_list" >
        <div class="testsection_header" >
            <span class="userimagepg">
                <!--<img src="images/user_image1.png" alt="user_image1" />-- >
            </span>
            <!--<h4>Martine Rouqart</h4>-- >
            <label class="test_cout">3</label>
        </div>
        <div class="testborder">
            <div class="pageheader1_fr_field">
                <label class="transagetestcls">Age at test date</label>
                <input type="number" min="0" value="42" onkeypress="return _isNumber(event)">
            </div>

            <div class="pageheader1_fr_field">
                <label class="transweighttestcls">Weight on testdate</label>
                <input type="number" min="0" value="55 Kg" onkeypress="return _isNumber(event)">
            </div>
        </div>
        <div class="borderbottom" >
            <div class="pageheader1_fr_field">
                <label>Start Level</label>
                <input type="text" value="B=55 Watt">
            </div>
            <div class="time_panel">
                <h2 class="colorblue">140</h2>
                <label>RPM</label>
            </div>
            <div class="time_panel">
                <h2 class="">100</h2>
                <label>WATT</label>
            </div>
        </div>
        <div class="borderbottom" >
            <input class="timecout" type="time" value="10:10:88"  />
            <button class="coolstartbtn">START</button>
            <div class="time_panel time_panelw1">
                <h2 class="colorred">100</h2>
                <label>HRM</label>
            </div>
        </div>
        <div class="borderbottom" >
            <button class="savebtn" >Save</button>
            <button class="canclebtn" >Cancel</button>
        </div>
        <button class="arrowtopbtn" onclick="testpagetriggerto('manage-cardiotest5')"></button>
    </div>
    <div class="testsection_list" >
        <div class="testsection_header" >
            <span class="userimagepg">
                <!-- <img src="images/user_image1.png" alt="user_image1" /> -- >
            </span>
            <!--<h4>Martine Rouqart</h4>-- >
            <label class="test_cout">4</label>
        </div>
        <div class="testborder">
            <div class="pageheader1_fr_field">
                <label class="transagetestcls">Age at test date</label>
                <input type="number" min="0" value="42" onkeypress="return _isNumber(event)">
            </div>

            <div class="pageheader1_fr_field">
                <label class="transweighttestcls">Weight on testdate</label>
                <input type="number" min="0" value="55 Kg" onkeypress="return _isNumber(event)">
            </div>
        </div>
        <div class="borderbottom" >
            <div class="pageheader1_fr_field">
                <label>Start Level</label>
                <input type="text" value="B=55 Watt">
            </div>
            <div class="time_panel">
                <h2 class="colorblue">140</h2>
                <label>RPM</label>
            </div>
            <div class="time_panel">
                <h2 class="">100</h2>
                <label>WATT</label>
            </div>
        </div>
        <div class="borderbottom" >
            <input class="timecout" type="time" value="10:10:88" />
            <button class="coolstartbtn">START</button>
            <div class="time_panel time_panelw1">
                <h2 class="colorred">100</h2>
                <label>HRM</label>
            </div>
        </div>
        <div class="borderbottom" >
            <button class="savebtn" >Save</button>
            <button class="canclebtn" >Cancel</button>
        </div>
        <button class="arrowtopbtn" onclick="testpagetriggerto('manage-cardiotest5')"></button>
    </div>
    <div class="clear"></div>
    -->
    <div class="clstemploader">
        <img src="images/loading.gif" alt="loading" />
    </div>

</div>
<div class="manage_test_popup">
    <div id="monitor_testchart">
        <button class="close"  onclick="closeChartPopup()"><</button>
        <!--CONTENT: New -->
        <div class="comm_innerbox clscardiomonitorscreen" >
            <div class="inner_pagebg">
                <div class="inner_content">
                    <div class="pageheader1_box">
                        <div class="pageheader1_leftbox">
                            <span>
                                <img id="memberImage" alt="Loading.." src="images/no_image.png">
                            </span>
                            <h3 class="memberName"><img src="images/loading.gif"/></h3>
                        </div>
                        <div class="pageheader1_rightbox cardio_hdr_field">
                            <div class="pageheader1_fr_field cardio_moni_fld">
                                <label class="transtestdatecls" for="monitor_testdate">Test date</label>
                                <input type="text" id="monitor_testdate" disabled="disabled"/>
                                <!-- -- Need to change the Type to type="date" Later After fixing type="date" issue -- -->
                            </div>
                            <div class="pageheader1_fr_field cardio_moni_fld">
                            <label  class="transtestlevelcls" for="idtestlevels">Test level</label>
                                <select id="idtestlevels" class="blu_input_drop persontestlevel cdbdcmppersontestlevel req-nonzero" disabled tabindex="-1"></select>
                            </div>
                        </div>
                        <div class="pageheader1_rightbox cardio_hdr_field">
                            <div class="pageheader1_fr_field cardio_moni_fld">
                                <label class="transtestoption" for="idconnectedmachinename">Test Option</label>
                                <input type="text" id="idconnectedmachinename" value="Cycle"  disabled="disabled">
                            </div>
                            <div class="pageheader1_fr_field cardio_moni_fld">
                                <label class="transtestequipment" for="idmachine_equipment">Test Equipment</label>
                                <select id="idmachine_equipment" class="blu_input blu_input_drop">
                                    <option selected="selected">Select Equipment</option>
                                </select>
                            </div>
                        </div>
                        <div class="pageheader1_rightbox cardio_hdr_field">
                            <div class="pageheader1_fr_field cardio_moni_fld">
                                <label class="transagetestcls " for="monitor_ageontest">Age at test Date</label>
                                <input type="text" id="monitor_ageontest" value="25" disabled="disabled">
                            </div>
                            <!--
                            -->
                            <div class="pageheader1_fr_field cardio_moni_fld">
                                <label class="transweighttestcls" for="monitor_weightontest">Weight On testdate</label>
                                <input type="text" id="monitor_weightontest" disabled="disabled">
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="graph_time">
                        <!-- <div class="time_panel bordernone pageheader1_fr_field">
                            <h4><label class="transtimecls" for="popup_timer">Time </label><br/><input type="text" id="popup_timer" class="popup_timer" value="00:00:00"><label class="transtestcls">test</label></h4>
                        </div> -->
						 <div class="time_panel">
                            <!--h2 id="cHRM" class="colorred">N/A</h2>
                            <label>HRM</label-->
							<img src="images/cycle-icon.png"/>
                        </div>
                        <div class="time_panel heart">
                            <!--h2 id="cHRM" class="colorred">N/A</h2>
                            <label>HRM</label-->
							<img src="images/heart-icon.png"/>
                        </div>
                        <div class="time_panel ohm">
                            <!--h2 id="cRPM" class="colorblue" >N/A</h2>
                            <label>RPM</label-->
							<img src="images/ohm-icon.png"/>
                        </div>
                        <div class="time_panel">
                            <!--h2 id="cWATT">N/A</h2>
                            <label>WATT</label-->
							<img src="images/time-icon.png"/>
                        </div>
                    </div>
					<div class="showgraph">
						<div class="line" style="margin-top:10px;"><img src="images/bar.png"></div>
						<div class="graph_box" id="monitorchartrpm" style="display:block;height:70px;"></div>
						<div class="line"><img src="images/bar.png"></div>
						<div class="graph_box" id="monitorchart" style="display:none;height:300px;"></div>
					</div>
					<!---->
					<div class="graph_time_right">
						<div class="time_panel">
                            <h2 id="cRPM" class="colorblue" >N/A</h2>
                            <label>RPM</label>
                        </div>
						<div class="time_panel heart">
                            <h2 id="cHRM" class="colorred">N/A</h2>
                            <label>HRM</label>
                        </div>
						<div class="time_panel ohm">
                            <h2 id="cWATT">N/A</h2>
                            <label>WATT</label>
                        </div>


                        <div class="time_panel pageheader1_fr_field">
                            <h4><!-- label class="transtimecls" for="popup_timer">Time </label> --><br/><input type="text" id="popup_timer" class="popup_timer" value="00:00:00"><!-- <label class="transtestcls">test</label> --></h4>
                        </div>
  
                    </div>
					<!---->
                    <div class="clear"></div>
                    <div>
                        <!--<button id="monitor_cooldown" class="cooldown_btn" onclick="coolDownTest()">COOLDOWN</button>-->
                        <button class="coolstartbtn btncooldown_popup" onclick="">START</button>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <input type="hidden" id="monitormember"/>
        <!---->
    </div>
</div>