<script src="src/controllers/manage-memberdetails.js"></script>
<div class="comm_innerbox" style="display:none;" >
                <div class="comm_rightbox">
                    <div class="pageheader1_box" >
                        <span>
                            <img src="images/no_image.png" alt="user_image1" id="memberImage" />
                        </span>
                        <h3 class="memberName"><img src="images/loading.gif"/></h3>
                        <input type="hidden" value="" id="bodycomptostionuserdata" />
                        <input type="hidden" value="" id="idbodycomptiontestdata" />
                        <a href="javascript:movebodycomption()" class="btn newtest transstarnewtest"> START NEW TEST </a>
                        <div class="clear"></div>
                    </div>
                    <input type="hidden" class="user_Heighthidd" value="" />
                    <div class="testpage_ul">
                        <div class="testpage_listbox">
                            <ul>
                                <li><label class="transcrtfitlevel spacelbl">Current FIT level =</label><span class="curntfitnesslevel"> <img src="images/loading.gif"/> </span></li>
                                <li><label class="transimproved spacelbl">Improved </label><span class="imporivedfitlevel spacelbl"><img src="images/loading.gif"/></span><label class="transfitlevel">FIT levels</label></li>
                                <li><label class="transweekoftraining">24 weeks of training</label></li>
                                <li><label class="transstartfitlevel spacelbl">Start FIT level was </label><span class="lastfitlevel"><img src="images/loading.gif"/></span></li>
                            </ul>
                        </div>
                        <div class="testpage_listbox">
                            <ul>
                                <li> <label class="transwght">Weight</label><span class="spacelbl"> =</span><span class="user_weight spacelbl"> <img src="images/loading.gif"/></span><label>kg</label></li>
                                <li><label class="transimproved ">Improved </label> <span class="improvedweight spacelbl"><img src="images/loading.gif"/></span><label>kg</label></li>
                                <li>&nbsp;</li>
                                <li><label class="transstartweight">Start Weight was </label><span class="laststartweight"><img src="images/loading.gif"/></span> <label>kg</label> </li>
                            </ul>
                        </div>
                        <div class="testpage_listbox">
                            <ul>
                                <li>
                                    <label class="transfat">Fat%</label>
                                    <span class="currentfatweight"><img src="images/loading.gif"/></span>
                                    <label>%</label>
                                </li>
                                <li>
                                    <label class="transimproved">Improved </label>
                                    <span class="improvedfatpercent"><img src="images/loading.gif"/></span>
                                    <label>%</label>
                                </li>
                                <li>&nbsp;</li>
                                <li>
                                    <label class="transstartfatwas">Start Fat% was </label>
                                    <span class="lastfatweight"><img src="images/loading.gif"/></span>
                                    <label>%</label>
                                </li>
                            </ul>
                        </div>
                        <div class="testpage_listbox">
                            <ul>
                                <li><label class="fatfreeweight transfatfreeweight">FatFree weight</label> <span class="currfatfreeweight spacelbl"><img src="images/loading.gif"/></span><label>kg</label> </li>
                                <li><label class="transimproved">Improved </label> <span class="improvedfatfreeweight spacelbl"><img src="images/loading.gif"/></span><label>kg</label>  </li>
                                <li>&nbsp;</li>
                                <li><label class="transstartfatwas">Start Fat% was </label> <span class="lastfatfreeweight spacelbl"><img src="images/loading.gif"/></span><label>kg</label> </li>
                            </ul>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <input type="hidden" value="" id="mid" />
                    <input type="hidden" value="" id="testid" />
                    <input type="hidden" value="" id="clubid" />
                    <div class="testboxlist">
                        <div class="testboxlist_option">
                            <!--<img src="images/testicon1.png" alt="testicon1" onclick="redirectopageto('manage-bodycomposition','bodycomposition')" />-->
                            <img src="images/testicon1.png" alt="testicon1" onclick="redirectopageto('manage_bodycomplist','bodycomposition')" />
                            <h3 class="transbodycomp">BODYCOMPOSITION</h3>
                            <div class="testboxlist_field">
                                <label class="transcurrenttest" for="bdcmpcurrenttests">Current Test</label>
                                <input type="number" min="0" value="" id="bdcmpcurrenttests" disabled/>
                            </div>
                            <div class="testboxlist_field" >
                                    <label class="transanalysed" for="bdcmpanalsid">Analysed</label>
                                    <div class="testboxlist_position">
                                    <input type="text" class="transtoanalysed" id="bdcmpanalsid" value="Analysed" disabled/>
                                    <!-- <span>2</span> -->
                                </div>
                            </div>
                            <div class="testboxlist_field" >
                                <label class="transreports" for="reportsid">Reports</label>
                                <div class="testboxlist_position">
                                    <input type="text" value="1 Open" id="reportsid" disabled/>
                                    <!-- <span>2</span> -->
                                </div>
                            </div>
                        </div>
                        <div class="testboxlist_option">
                            <!--<img src="images/testicon2.png" alt="testicon2" onclick="redirectopageto('manage-bodycomposition','flexibility')"/>-->
                            <img src="images/testicon2.png" alt="testicon2" onclick="redirectopageto('manage-flexibilitylist','flexibility')"/>
                            <h3 class="transflexibility">FLEXIBILITY</h3>
                            <div class="testboxlist_field" >
                                <label class="transcurrenttest" for="flexcurrenttests">Current Test</label>
                                <input type="number" min="0" value="" id="flexcurrenttests" disabled/>
                            </div>
                            <div class="testboxlist_field" >
                                    <label class="transanalysed" for="analysflexid">Analysed</label>
                                    <div class="testboxlist_position">
                                    <input type="text" class="transtoanalysed" id="analysflexid" value="Analysed" disabled/>
                                    <!-- <span>2</span> -->
                                </div>
                            </div>
                            <div class="testboxlist_field" >
                                <label class="transreports" for="reportsflexid">Reports</label>
                                <div class="testboxlist_position">
                                    <input type="text" value="2 Open" id="reportsflexid" disabled/>
                                    <!-- <span>2</span> -->
                                </div>
                            </div>
                        </div>
                        <div class="testboxlist_option">
                            <img src="images/testicon3.png" alt="testicon3" onclick="redirectopageto('manage-cardiolist','cardio')"/>
                            <h3 class="transcardioweek">CARDIO WEEK 7</h3>
                            <div class="testboxlist_field" >
                                <label class="transcurrenttest" for="cardiocurrenttests">Current Test</label>
                                <input type="number" min="0" value="" id="cardiocurrenttests" disabled/>
                            </div>
                            <div class="testboxlist_field" >
                                    <label class="transanalysed" for="cardiotest_tobeanalysed">Analysed</label>
                                    <div class="testboxlist_position">
                                    <input type="text" id="cardiotest_tobeanalysed" class="transtoanalysed" value="Analysed" disabled/>
                                    <!--<input id="cardiotest_tobeanalysed" type="text" class="transtready" value="Ready" disabled/>-->
                                    <span id="ctest_na" onclick="moveCardioAnalysis()">0</span>
                                </div>
                            </div>
                            <div class="testboxlist_field" >
                                <label class="transreports" for="cardiotest_analysed">Reports</label>
                                <div class="testboxlist_position">
                                    <input id="cardiotest_analysed" type="text" class="transreadytoprint" value="Ready" disabled/>
                                    <span id="ctest_a" onclick="moveCardioAnalysis()">0</span>
                                </div>
                            </div>
                        </div>

                        <div class="testboxlist_option">
                            <img src="images/testicon4.png" alt="testicon4" onclick="redirectopageto('manage-bodycomposition','strength')"/>
                            <h3 class="transsthfreetraining">STRENGTH FREE TRAINING</h3>
                            <div class="testboxlist_field" >
                                <label class="transcurrenttest" for="strngthcurrentest">Current Test</label>
                                <input type="number" min="0" value=""  id="strngthcurrentest" disabled/>
                            </div>
                            <div class="testboxlist_field" >
                                    <label class="transanalysed" for="strengthanalysid">Analysed</label>
                                    <div class="testboxlist_position">
                                    <input type="text" class="transtready" id="strengthanalysid" value="Ready" disabled/>
                                    <!-- <span>2</span> -->
                                </div>
                            </div>
                            <div class="testboxlist_field" >
                                <label class="transreports" for="strengthreportid">Reports</label>
                                <div class="testboxlist_position">
                                    <input type="text" class="transtoanalysed" value="Analysed" id="strengthreportid" disabled/>
                                    <!-- <span>2</span> -->
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="clear"></div>
            </div>