<script src="src/controllers/manage-messages.js"></script>
<div class="managebox">
    <div class="headerfieldbox">
            <label class="clsselect_label transselect" for="users_club">Select:</label>
            <div class="field_in_box" id="setclubdata">
                <select id="users_club">

                </select>
                <!--<input type="text"  id="clubname_inputfield" placeholder="" value=""/>--->
            </div>
            <div class="field_in_box">
                <label for="selecrfiltervalue" style="display:none"></label>
                <select id="selecrfiltervalue" >
                    <option class="translastname" value="last_name">Last Name</option>
                    <option class="transfirstname" value="first_name">First Name</option>
                    <option class="transmemberid" value="user_id">Member ID</option>
                    <option class="transpersonalid" value="person_id">Personal ID</option>
                    <option class="transgender" value="gender">Gender</option>
                    <option class="transclubname" value="club_name">Club Name</option>
                    <option class="transemail" value="email">E-mail</option>
                </select>
            </div>
            <div class="field_in_box">
                <input type="text" class="blue_bg transsearch" alt="" id="searchinputvalue" onkeyup="getSearchResult('memberListGrid','.managetabledetails')" placeholder="Search" />
            </div>
            <ul class="footermenu">
            <li>
                <a href="#" >
                    <img src="images/searchicon2.png" alt="searchicon" />
                    <h4 class="transsearch">Search</h4>
                </a>
            </li>

            <li>
                <a href="javascript:showContent('sms')" >
                    <img src="images/messagesicon.png" alt="messagesicon" />
                    <h4 class="transnewmsg">New Message</h4>
                </a>
            </li>
        </ul>
            <div class="clear"></div>
        </div>
        <div class="managetable" id="managetabledetails">
            <table cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th class="transmemberid">Member ID</th>
                    <th class="transpersonalid">Personal ID</th>
                    <th class="transfirstname">First Name</th>
                    <th class="translastname">Last Name</th>
                    <th class="transgender">Gender</th>
                    <th class="transcluborg">Club / Org.</th>
                    <th class="transemail">Email</th>
                    <!--<th>Status</th>-->
                    <th class="wth_60 transaction" >Action</th>
                </tr>
            </thead>
            <tbody class="manger_tbl">
                <tr><td colspan="8"><img src="images/loading.gif"/></td></tr>
            </tbody>

            </table>
        </div>
    <div class="messagestabsbox">
        <div class="radiobox_message" onclick="showContent('sms')">
            <span class="radiobox sms">
                <input class="check transsms" name="msgtemplate" type="radio" value="2" placeholder="">
            </span>
            <span class="transsms"> SMS </span><label>2</label>
        </div>
        <div class="radiobox_message" onclick="showContent('email')">
            <span class="radiobox email">
                <input class="check " name="msgtemplate"  type="radio" value="1" placeholder="">
            </span>
            <span class="transemail">E-mail</span> <label>2</label>
        </div>
        <div class="radiobox_message" onclick="showContent('web')">
            <span class="radiobox web">
                <input class="check " name="msgtemplate"  type="radio" value="3" placeholder="">
            </span>
            <span class="transweb">Web</span> <label>1</label>
        </div>
        <div class="radiobox_message" onclick="showContent('internal')">
            <span class="radiobox intnl">
                <input class="check " name="msgtemplate"  type="radio" value="4" placeholder="">
            </span>
            <span class="transinternal">Internal</span> <label>5</label>
        </div>
        <div class="radiobox_message"  onclick="showContent('backoffice')">
            <span class="radiobox bf">
                <input class="check " name="msgtemplate"  type="radio" value="5" placeholder="">
            </span>
            <span class="transbackoffice">Backoffice </span> <label>6</label>
        </div>
    </div>
    <div class="managetable templatecontent_list">
    </div>
    <!-- Content End - List-->
    <!-- Content Start-->
    <div class="templatecontent templatecontent_sms">
        <div class="mess_textarea_box">
        <textarea class="transtext emailinfo" placeholder="Here will be text !"></textarea>
            <p class="comm_para charleft" >250 char left</P>
            <button class="transsendsms" id="messageinfo" onclick="saveEmailInfo(this)">send SMS</button>
            <div class="clear"></div>
        </div>
    </div>
    <!-- Content End - SMS-->
    <!-- Content Start-->
    <div class="templatecontent templatecontent_email">
        <div class="internal_header">
            <div class="internal_userleft" >
                <span class="use_internalimg" >
                    <img src="images/user_image1.png" alt="user_image1" />
                </span>
                <h4 class="transmartinerou">Martine Rouquart</h4>
            </div>
            <input class="template_input transtemplate " value=""  placeholder="Template" />
            <div class="clear"></div>
        </div>

        <div class="attachfiles_box">
            <div class="attachfiles_left">
                <label class="transsubject">subject:</label>
                <input value="Testmail" class="transtestmail" placeholder="Testmail" />
            </div>
            <button class="transfiles">Attach files</button>
            <div class="clear"></div>
        </div>

        <div class="mess_textarea_box">
            <textarea class="transtext emailinfo" placeholder="Here will be text !"></textarea>
            <!-- <p class="comm_para" >112 char left</P> -->
            <button class="transsent emailcls" onclick="saveEmailInfo(this)">send</button>
            <div class="clear"></div>
        </div>
        <p class="comm_para transsendto">Send to</p>
        <div class="messagestabsbox radiosendtobox">
            <div class="radiobox_message bordcolor">
                <span class="radiobox">
                    <input class="check" type="radio" value="" placeholder="">
                </span>
                <span class="transallcoach">ALL COACHES </span>
            </div>
            <div class="radiobox_message">
                <span class="radiobox">
                    <input class="check" type="radio" name="checkname" value="1" placeholder="Password">
                </span>
                <span class="transivo">Ivo Mangelschots</span>
            </div>
            <div class="radiobox_message">
                <span class="radiobox">
                    <input class="check" type="radio" name="checkname" value="2" placeholder="">
                </span>
                <span class="transpetertest">Peter Test</span>
            </div>
            <div class="radiobox_message">
                <span class="radiobox">
                    <input class="check" type="radio" name="checkname" value="3" placeholder="Password">
                </span>
                <span class="transmaxtester">Max Tester</span>
            </div>
            <div class="radiobox_message">
                <span class="radiobox">
                    <input class="check" type="radio" name="checkname" value="4" placeholder="Password">
                </span>
                <span class="transrobprobber">Rob Probeer</span>
            </div>
            </div>
            </div>
            <div class="clear"></div>
            <div class="radiobox_message bordcolor">
                <span class="checkouter">
                    <input class="check" type="radio" value="" placeholder="Password">
                </span>
                <span class="transbackoffice">BACKOFFICE</span>
            </div>
        </div>
    <!-- Content End - SMS-->
    <!-- Content Start-->
    <div class="templatecontent templatecontent_internal">
        <div class="internal_header">
            <div class="internal_userleft" >
                <span class="use_internalimg" >
                    <img src="images/user_image1.png" alt="user_image1" />
                </span>
                <h4>Martine Rouquart</h4>
            </div>
            <input class="template_input transtemplate" value="Template" placeholder="Template" />
            <div class="clear"></div>
        </div>

        <div class="attachfiles_box">
            <div class="attachfiles_left">
                <label class="transubject">subject:</label>
                <input value="" class="transtestmail" placeholder="" />
            </div>
            <button class="transfiles">Attach files</button>
            <div class="clear"></div>
        </div>

        <div class="mess_textarea_box">
            <div class="internal_ctn">
                <img src="images/gymlogo.png" alt="gymlogo" />
                    <p class="comm_para" >Dear Martine,</p><br/>
                    <p class="comm_para" >Can you contact us for a testappointment.</p><br/><br/>
                    <p class="comm_para" >With kind regards,</p><br/>
                    <p class="comm_para" >Ivo Mangelschots <br/>Coach MOVESMART zone Melle<br/>+32 468 19 41 85<br/>coach@gym.com</p>
            </div>
            <!-- <p class="comm_para" >112 char left</P> -->
            <button class="transsendmail" onclick="showContent('list')">send mail</button>
            <div class="clear"></div>
        </div>
    </div>
    <!-- Content End - internal-->
    <!-- Content Start-->
    <div class="templatecontent templatecontent_bf"><!--Temporarily Interanl to Back office-->
        <div class="internal_header">
            <div class="internal_userleft" >
                <span class="use_internalimg" >
                    <img src="images/user_image1.png" alt="user_image1" />
                </span>
                <h4>Martine Rouquart</h4>
            </div>
            <input class="template_input transtemplate" value="Template" placeholder="Template" />
            <div class="clear"></div>
        </div>

        <div class="attachfiles_box">
            <div class="attachfiles_left">
                <label class="transubject">subject:</label>
                <input class="transtestmail1" value="" placeholder="Testmail" />
            </div>
            <button class="transfiles">Attach files</button>
            <div class="clear"></div>
        </div>

        <div class="mess_textarea_box">
            <textarea class="transtext" placeholder="Here will be text !"></textarea>
            <!-- <p class="comm_para" >112 char left</P> -->
            <button class="transsend" onclick="showContent('list')">send</button>
            <div class="clear"></div>
        </div>
        <p class="comm_para transsendto">Send to</p>
        <div class="messagestabsbox radiosendtobox">
            <div class="radiobox_message bordcolor">
                <span class="radiobox">
                    <input class="check" type="radio" value="" placeholder="">
                </span>
                ALL COACHES
            </div>
            <div class="radiobox_message">
                <span class="radiobox">
                    <input class="check" type="radio" value="" placeholder="">
                </span>
                Ivo Mangelschots
            </div>
            <div class="radiobox_message">
                <span class="radiobox">
                    <input class="check" type="radio" value="" placeholder="">
                </span>
                Peter Test
            </div>
            <div class="radiobox_message">
                <span class="radiobox">
                    <input class="check" type="radio" value="" placeholder="Password">
                </span>
                Max Tester
            </div>
            <div class="radiobox_message">
                <span class="radiobox">
                    <input class="check" type="radio" value="" placeholder="Password">
                </span>
                Rob Probeer
            </div>
            <div class="clear"></div>
            <div class="radiobox_message bordcolor">
                <span class="checkouter">
                    <input class="check" type="radio" value="" placeholder="Password">
                </span>
                BACKOFFICE
            </div>
        </div>
    </div>
    <!-- Content End-->
</div>
<div class="clear"></div>