<script src="src/controllers/manage-contact.js"></script>
<script>
    $(document).ready(function(){
        maincontent_leftimage();
    });
</script>
<div class="contact_box">
    <p class="comm_para transcontactus" >Neem contact met ons op</p>
    <div class="contact_left">
        <div id="contactform" class="contact_form">
            <div class="input_field">
                <label class="transname">Name:</label>
                <input type="text" placeholder="Name" value="Ivo Mangelschots" id="name" class="req-nonempty transpname"/>
            </div>
            <div class="input_field">
                <label class="transemail">Email:</label>
                <input type="email" placeholder="Email" id="emailid" class="req-email transpemail"/>
            </div>
            <div class="input_field">
                <label class="transphone">Phone:</label>
                <input type="number" placeholder="Telephone" id="phoneno" class="req-nonempty transtelephone" onkeypress="return _isNumber(event);"/>
            </div>
            <div class="input_field">
                <label class="transsubject">Subject:</label>
                <input type="text" placeholder="enter subject" id="subject" class="req-nonempty transpsubject"/>
            </div>
            <div class="input_field">
                <label class="transmessagesmenu">Message:</label>
                <textarea placeholder="Enquiry" id="message" class="transenquiry"></textarea>
            </div>
            <div class="input_field">
                <button class="submit_btn transsend" id="savedetail" onclick="saveContactFormDetail(this)">Send</button>
                <!--<input type="button" class="submit_btn" id="savedetail" value="Send"/>-->
            </div>
        </div>
    </div>
    <div class="contact_right">
        <p class="comm_para transcontact" >Contact</p>
        <br/>
        <p class="comm_para">MOVESMART.company<br/> Kwelkade 1<br/> 4001 RK Tiel</p>
        <ul>
            <li class="comm_para">&#9679; General info:<br/><a href="#">info@movesmart.company</a></li>
            <li class="comm_para" >&#9679; For support:<br/><a href="#">support@movesmart.company</a></li>
        </ul>
        <p class="comm_para"> Do you need online support?<br/>You can call this number:<br/> +32 (0) 468 19 41 85</p>
    </div>
    <div class="clear"></div>
</div>