<script src="src/controllers/manage-member.js"></script>
<div class="comm_innerbox" >
    <div class="managebox">
        <div class="headerfieldbox">
            <label class="clsselect_label transselect" for="users_club">Select:</label>
            <div class="field_in_box" id="setclubdata">
                <select id="users_club">

                </select>
                <!--<input type="text"  id="clubname_inputfield" placeholder="" value=""/>--->
            </div>
            <div class="field_in_box">
                <label for="selecrfiltervalue" style="display:none"></label>
                <select id="selecrfiltervalue" >
                    <option class="translastname" value="last_name">Last Name</option>
                    <option class="transfirstname" value="first_name">First Name</option>
                    <option class="transmemberid" value="user_id">Member ID</option>
                   <!--  <option class="transpersonalid" value="person_id">Personal ID</option> -->
                    <option class="transgender" value="gender">Gender</option>
                    <!-- <option class="transclubname" value="club_name">Club Name</option> -->
                    <option class="transemail" value="email">E-mail</option>
                </select>
            </div>
            <div class="field_in_box">
                <input type="text" class="blue_bg transsearch" alt="" id="searchinputvalue" onkeyup="getSearchResult('memberListGrid','.managetable')" placeholder="Search" />
            </div>
            <ul class="footermenu">
                <!--
                <li class="invisib_btn">
                    <a href="javascript:void(0)">
                        <img src="images/searchicon.png" alt="searchicon" />
                        <h4 class="transsearch">SEARCH</h4>
                    </a>
                </li>
                 -->

                <!--<li>
                    <a href="javascript:_movePageTo('add-member')" >
                        <img src="images/addicon.png" alt="addicon" />
                        <h4>ADD MEMBER</h4>
                    </a>
                </li>-->
                <!--
                <li class="invisib_btn">
                    <a href="javascript:0">
                        <img alt="addicon" src="images/addicon.png">
                        <h4 class="addmember">ADD MEMBER</h4>
                    </a>
                </li>
                 -->
            </ul>
            <div class="clear"></div>
        </div>

        <div class="managetable">
            <table cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th class="transmemberid">Member ID</th>
                    <!-- <th class="transpersonalid">Personal ID</th> -->
                    <th class="transfirstname">First Name</th>
                    <th class="translastname">Last Name</th>
					<th class="transCoach">Coach</th>
					<th class="transPhone">Phone</th>
                    <th class="transgender">Gender</th>
                    <!-- <th class="transcluborg">Club / Org.</th> -->
                    <th class="transemail">Email</th>
                    <!--<th>Status</th>-->
                    <th class="wth_60 transaction" >Action</th>
                </tr>
            </thead>
            <tbody class="manger_tbl">
                <tr><td colspan="8"><img src="images/loading.gif"/></td></tr>
            </tbody>

            </table>
        </div>
        <div style="display:none;" class="clsmanagememtbs tabsbox tabsbox_boredrnone ">

            <span onclick="getManageMembersData('memberListGrid','.managetable','members_list')" serchlist="members_list" class="clsmngmemtab clickable active transmemberlist" id="memberlist">Member List</span>
            <span onclick="getManageMembersData('memberListGrid','.managetable','ergo_test_todo')" serchlist="ergo_test_todo" class="clsmngmemtab clickable transcardio" id="cardiotest">Cardio test todo</span>
            <span onclick="getManageMembersData('memberListGrid','.managetable','bodycomposition_test_todo')" serchlist="bodycomposition_test_todo" class="clsmngmemtab clickable transbodycomp" id="bodycomp">Bodycomp. test todo</span>
            <span onclick="getManageMembersData('memberListGrid','.managetable','flexibility_test_todo')" serchlist="flexibility_test_todo" class="clsmngmemtab clickable transflexibility" id="flexibilitytest">Flexibility test todo</span>
            <span onclick="getManageMembersData('memberListGrid','.managetable','cardio_to_print_or_send')" serchlist="cardio_to_print_or_send" class="clsmngmemtab clickable transreports" id="reports">Reports to print</span>
            <span onclick="getManageMembersData('memberListGrid','.managetable','to_many_points_this_week')" serchlist="to_many_points_this_week" class="clsmngmemtab clickable transovertraining" id="overtraining">Overtraining</span>
            
        </div>
    </div>
    <div class="clear"></div>
</div>