<script src="src/controllers/manage-viewprofile.js"></script>
<section>
    <div class="register" style="display:block">
        <div class="head1_box">
            <div class="userimage">
                <img src="images/no_image.png" alt="user_image1" id="regusrimg"/>
            </div>
            <h4><strong>Welcome,</strong> <span class="regusername">Martine</span></h4>
            <div class="clear" ></div>
        </div>
        <div class="register compreg-step_two clsregisterstep">
            <div class="register">
                <div class="inpt_bx">
                <input type="text" class="input1 req-nonempty transstreet" id="client_street" placeholder="street" />
                </div>
                <div class="inpt_bx">
                <!--<input type="number" class="input1 req-nonempty transnumber" id="client_number" placeholder="number" onkeypress="return isNumber(event)"/>-->
                <input type="number" class="input1 req-nonempty transnumber" id="client_number" placeholder="number"/>
                </div>
                <div class="inpt_bx_nonmd">
                <!-- <input type="text" class="input1 req-nonempty" id="client_bus" placeholder="Bus"/> -->
                <input type="text" class="input1 transbus" id="client_bus" placeholder="bus"/>
                </div>
                <div class="inpt_bx">
                <!-- <input type="text" class="input1 req-nonempty" id="client_zipcode" placeholder="Zipcode" onkeypress="return isNumber(event)"/> -->
                <input type="number" class="input1 req-nonempty transzipcode" id="client_zipcode" placeholder="zipcode" onkeypress="return _isNumber(event)"/>
                </div>
                <div class="inpt_bx">
                    <span id="client_placetext" class="input1 selectchrbox transplace" >place</span>
                    <label for="client_place" style="display:none"></label>
                    <select class="input1 req-nonzero select_opcity" validate-fail="Please select the place" id="client_place">
                        <option value="0">place</option>
                    </select>
                </div>
                <div class="inpt_bx">
                    <input type="hidden" id="client_placeid"/>
                    <span id="client_countrytext" class="input1 selectchrbox transcountry" >country</span>
                    <label for="client_country" style="display:none"></label>
                    <select class="input1 select_opcity" id="client_country" validate-fail="Please select the country"></select>
                </div>
                <br/>
            </div>
        </div>
        <div class="isclubmedical" style="display:none">
            <div class="register compreg-step_three clsregisterstep">
                <div class="sect_head2" >
                    <span class="fl">Client info</span>
                    <div class="clear"></div>
                </div>
                <div class="inpt_bx">
                <input type="date" id="client_dob" class="input1 req-nonempty" placeholder="birthday"/>
                </div>
                <div class="inpt_bx">
                    <input type="number" id="client_length" class="input1 req-nonempty" placeholder="length" onkeypress="return isNumberDecimal(event)"/>
                </div>
                <div class="inpt_bx">
                <input type="number" id="client_weight" class="input1 req-nonzero" placeholder="weight" onkeypress="return isNumberDecimal(event)"/>
                </div>
                <div class="inpt_bx">
                    <span id="client_professiontext" class="input1 selectchrbox " >select profession</span>
                    <label for="client_profession" style="display:none"></label>
                    <select id="client_profession" class="input1 req-nonempty select_opcity "></select>
                </div>
            </div>
            <div class="register compreg-step_four clsregisterstep">
                <div class="sect_head2" >
                    <span class="fl">MOVE SMART.</span>
                    <div class="clear"></div>
                </div>
                <div class="welcome_box">
                    <p class="text_l" >1. Medical info : </p>
                    <p class="text_l" >Physical activity during exercise my profession.</p>
                    <br/>
                    <br/>
                    <div class="single_radio_box">
                        <span class="radiobox">
                            <input class="labortype" id="labortypeid" type="radio" name="labortype" value="1">
                        </span>
                        <label for="labortypeid">heavy physical labor</label>
                    </div>
                    <div class="single_radio_box">
                        <span class="radiobox">
                            <input class="labortype" id="lightphyslab" type="radio" name="labortype" value="2">
                        </span>
                        <label for="lightphyslab">light physical labor</label>
                    </div>
                    <div class="single_radio_box">
                        <span class="radiobox">
                            <input class="labortype" id="labortypesedentaryjob" type="radio" name="labortype" value="0">
                        </span>
                        <label for="labortypesedentaryjob">sedentary jobs</label>
                    </div>
                    <input type="hidden" id="physicalworktype" value="0" />
                </div>
            </div>
            <div class="register compreg-step_five clsregisterstep" >
                <div class="sect_head2" >
                    <span class="fl">MOVE SMART.</span>
                    <div class="clear"></div>
                </div>
                <div class="welcome_box">
                    <p class="text_l" >1. Medical info : </p>
                    <p class="text_l" >How do you exercise regularly? <br/> (average of the last 6 months)</p>
                    <br/>
                    <br/>
                    <div class="activity_row">
                        <div class="inpt_bx ">
                            <span class="input1 selectchrbox client_ac_select_text " id="client_activity_0text">select activity</span>
                            <label for="client_activity_0" style="display:none"></label>
                            <select id="client_activity_0" class=" client_ac_select client_activity selectbox req-nonzero select_opcity">
                                <option value="0" selected="selected" class="transloadingmsg">loading, please wait..</option>
                            </select>
                        </div>
                        <div class="two_radio_box">
                            <div class="single_radio_box">
                                <span class="radiobox">
                                    <input class="training_freq0" type="radio" name="training_freq" id="actmonth" value="1" row="0"/>
                                </span>
                                <label for="actmonth">monthly</label>
                            </div>
                            <div class="single_radio_box">
                                <span class="radiobox">
                                    <input class="training_freq0" type="radio" name="training_freq" id="actweekly" value="2" row="0"/>
                                </span>
                                <label for="actweekly">weekly</label>
                            </div>
                            <input type="hidden" id="trainingfreq_0" value="1" />
                        </div>

                        <div class="field_box averbox">
                            <label>average time (minutes) </label>
                            <input type="text" id="avgtime_0" value="" placeholder="min" />
                            <div class="clear"></div>
                        </div>
                    </div>
                    <!--<button class="btn1 fr" onclick="addActivityRow()" >add next activity</button>-->
                    <div class="clear"></div>
                </div>
            </div>
            <div class="register compreg-step_six clsregisterstep">
                <div class="sect_head2" >
                    <span class="fl">MOVE SMART.</span>
                    <div class="clear"></div>
                </div>
                <div class="register">
                    <p class="text_l" >1. Medical info : </p>
                    <p class="text_l" >GP info</p>
                    <br/>
                    <div class="inpt_bx" >
                        <input type="text" id="client_doctor_name" class="input1 applyucfirst req-nonempty" placeholder="name gp"/>
                    </div>
                    <div class="inpt_bx" >
                        <input type="text" id="client_doctor_street" class="input1 req-nonempty transstreet" placeholder="street"/>
                    </div>
                    <div class="inpt_bx" >
                        <input type="number" id="client_doctor_doorno" class="input1 req-nonempty" placeholder="number" onkeypress="return _isNumber(event)"/>
                    </div>
                    <div class="inpt_bx_nonmd" >
                        <input type="text" id="client_doctor_bus" class="input1" placeholder="bus"/>
                    </div>
                    <div class="inpt_bx" >
                        <input type="number" id="client_doctor_zipcode" class="input1 req-nonempty" placeholder="zipcode" onkeypress="return _isNumber(event)"/>
                    </div>
                    <div class="inpt_bx" >
                        <span id="client_doctor_placetext" class="input1 selectchrbox" >place</span>
                        <label for="client_doctor_place" style="display:none"></label>
                        <select  class="input1 select_opcity" id="client_doctor_place">
                            <option value="0">city option: enter zipcode</option>
                        </select>
                    </div>
                    <div class="inpt_bx" >
                        <span id="client_doctor_countrytext" class="input1 selectchrbox" >country</span>
                        <label for="client_doctor_country" style="display:none"></label>
                        <select id="client_doctor_country" class="input1 select_opcity">
                            <option value="0">city option: enter zipcode</option>
                        </select>
                    </div>
                    <div class="inpt_bx" >
                        <input type="tel" id="client_doctor_phone" class="input1 req-nonempty" placeholder="Phone" onkeypress="return _isNumber(event)"/>
                    </div>
                    <div class="inpt_bx" >
                        <input type="email" id="client_doctor_email" class="input1 req-email" placeholder="Email"/>
                    </div>
                    <br/>
                </div>
            </div>
            <div class="register compreg-step_seven clsregisterstep" >
                <div class="sect_head2" >
                    <span class="fl">MOVE SMART.</span>
                    <div class="clear"></div>
                </div>
                <div class="welcome_box">
                    <p class="text_l" >1. Medical info : </p>
                    <p class="text_l" >Injury / medical problems</p>
                    <br/>
                    <p class="text_l"  >If you have certain medical problems which we need to be aware (recent injuries, asthma, heart problems, high blood pressure, diabetes, ...) please add them below. If in doubt, it is better to say too much than too little. We advise you to perform a medical examination by a doctor stating any special considerations for your MoveSmart plan can emerge.</p>
                    <div class="textarea_box">
                        <textarea id="injurytext" placeholder="Type Here" ></textarea>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="register compreg-step_eight clsregisterstep">
                <div class="sect_head2" >
                    <span class="fl">MOVE SMART.</span>
                    <div class="clear"></div>
                </div>
                <div class="welcome_box">
                    <p class="text_l" >1. Medical info : </p>
                    <p class="text_l" >Medication</p>
                    <br/>
                    <p class="text_l" >Do you use medication at this time:</p>
                    <div class="two_radio_box">
                        <div class="single_radio_box">
                            <span class="radiobox">
                                <input class="medication" type="radio" id="mediyes" name="haveMedication" value="1">
                            </span>
                            <label for="mediyes">yes</label>
                        </div>
                        <div class="single_radio_box">
                            <span class="radiobox">
                                <input class="medication" type="radio" name="haveMedication" id="havenomedication" value="0">
                            </span>
                            <label for="havenomedication">no</label>
                        </div>
                        <input type="hidden" id="haveMedication" value="0" />
                    </div>
                    <p class="text_l" >If so, which</p>
                    <br/>
                    <div class="textarea_box">
                        <textarea id="medicationDesc" placeholder="type here" ></textarea>
                    </div>
                    <br/>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="register compreg-step_nine clsregisterstep">
                <div class="sect_head2" >
                    <span class="fl">MOVE SMART.</span>
                    <div class="clear"></div>
                </div>
                <div class="welcome_box">
                    <p class="text_l" >1. Medical info : </p>
                    <p class="text_l" >Tests</p>
                    <p class="text_l" >Did you ever undergo a physical stress test?</p>
                    <div class="two_radio_box">
                        <div class="single_radio_box">
                            <span class="radiobox">
                                <input class="streetest" type="radio" value="1" name="haveStressTest" id="yesstresstest">
                            </span>
                            <label for="yesstresstest">yes</label>
                        </div>
                        <div class="single_radio_box">
                            <span class="radiobox">
                                <input class="streetest" type="radio" value="0" name="haveStressTest" id="nostresstest">
                            </span>
                            <label for="nostresstest">no</label>
                        </div>
                        <input type="hidden" id="haveStressTest" />
                    </div>
                    <p class="text_l" >If so, date of this test:</p>
                    <br/>
                    <div class="selectbox">
                        <input type="date" id="stressTestOn" class="input1" placeholder="select testday" />
                    </div>
                    <br/>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="register compreg-step_ten clsregisterstep">
                <div class="welcome_box">
                    <p class="text_l" >1. Medical info : </p>
                    <p class="text_l" >Tests</p>
                    <br/>
                    <p class="text_l" >Do you smoke?</p>
                    <div class="two_radio_box">
                        <div class="single_radio_box">
                            <span class="radiobox">
                                <input class="smoketest" type="radio" value="1" name="haveSmoke" id="yessmoke">
                            </span>
                            <label for="yessmoke">yes</label>
                        </div>
                        <div class="single_radio_box">
                            <span class="radiobox">
                                <input class="smoketest" type="radio" value="0" name="haveSmoke" id="nosmoke">
                            </span>
                            <label for="nosmoke">no</label>
                        </div>
                        <input type="hidden" id="haveSmoke" />
                    </div>
                    <br/>
                    <p class="text_l" >If so, amount of sigarettes/sigares:</p>
                    <br/>
                    <div class="selectbox">
                        <input type="text" id="smokeAmount" class="input1" placeholder="amount : " />
                    </div>
                    <br/>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="register compreg-step_eleven clsregisterstep">
                <div class="sect_head2" >
                    <span class="fl">MOVE SMART.</span>
                    <div class="clear"></div>
                </div>
                <div class="welcome_box">
                    <p class="text_l" >1. Medical info : </p>
                    <p class="text_l" >Tests</p>
                    <p class="text_l" >How do you feel today ?</p>
                    <div class="todayfeel_box">
                        <div class="single_radio_box">
                            <span class="radiobox">
                                <input class="curBodyCondition" type="radio" name="howFeelToday" id="idfeelexellent" value="1" />
                            </span>
                            <label for="idfeelexellent">excellent</label>
                        </div>
                        <div class="single_radio_box">
                            <span class="radiobox">
                                <input class="curBodyCondition" type="radio" name="howFeelToday" id="idfeelgood" value="2" />
                            </span>
                            <label for="idfeelgood">good</label>
                        </div>
                        <div class="single_radio_box">
                            <span class="radiobox">
                                <input class="curBodyCondition" type="radio" name="howFeelToday" id="idfeelaverage" value="3"/>
                            </span>
                            <label for="idfeelaverage">average</label>
                        </div>
                        <div class="single_radio_box">
                            <span class="radiobox">
                                <input class="curBodyCondition" type="radio" name="howFeelToday" id="idfeelpoor"  value="4"/>
                            </span>
                            <label for="idfeelpoor">poor</label>
                        </div>
                        <div class="single_radio_box">
                            <span class="radiobox">
                                <input class="curBodyCondition" type="radio" name="howFeelToday" id="idfeelbad" value="5">
                            </span>
                            <label for="idfeelbad">bad</label>
                        </div>
                        <div class="single_radio_box">
                            <span class="radiobox">
                                <input class="curBodyCondition" type="radio" name="howFeelToday" id="idlightphyslabor" value="6">
                            </span>
                            <label for="idlightphyslabor">light physical labor</label>
                        </div>
                    </div>
                    <input type="hidden" id="howFeelToday" value="0"/>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="register  compreg-step_twelve clsregisterstep">
                <div class="sect_head2" >
                    <span class="fl">MOVE SMART.</span>
                    <div class="clear"></div>
                </div>
                <div class="welcome_box">
                    <p class="text_l" >1. Medical info : </p>
                    <p class="text_l" >Medication</p>
                    <br/>
                    <p class="text_l" >I hereby have read the entered information and declare it for real.</p>
                    <br/>

                    <div class="selectbox">
                        <input type="date" class="input1 req-nonempty" id="entrydate" placeholder="date of entry" />
                    </div>

                    <div class="single_radio_box bordernone backgroundnone">
                        <span class="radiobox">
                            <label for="acceptDeclaration" style="display:none"></label>
                            <input class="declaration" type="radio" id="acceptDeclaration" name="acceptDeclaration" value="1">
                        </span>
                        <label class="marginleftnone" >declare for real and read</label>
                    </div>

                    <p class="text_l" >If so, which</p>
                    <div class="textarea_box">
                        <div class="signaturebox"><img id="signature" width="100%" style="border:1px solid red" src="" /></div>
                        <h4>signature and full name</h4>
                    </div>

                    <br/>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="fixed_btn_box">
        <!-- <button>Save</button><span>or</span> -->   <!-- Ed 20160204 -->
        <!--<button onclick="saveContinueCurrentStep()">next >> </button>-->
        <input type="hidden" id="isclubmedicalinfo" value="">
    </div>
</section>