<script>
    $(document).ready(function(){
        maincontent_leff_none();
        $(window).resize(function(){
            //maincontent_leff_none();
        });
    });
</script>
<div class="managebox">
    <div class="headerfieldbox">
        <label>Select:</label>
        <div class="field_in_box">
            <input type="text"  alt="" placeholder="Club / Orginasation" />
        </div>
        <div class="field_in_box">
            <input type="text"  alt="" placeholder="Last Name" />
        </div>
        <div class="field_in_box">
            <input type="text" class="blue_bg" alt="" placeholder="Rouquart" />
        </div>
        <ul class="footermenu">
            <li>
                <a href="#">
                    <img src="images/searchicon2.png" alt="searchicon" />
                    <h4>Search</h4>
                </a>
            </li>

            <li>
                <a href="javascript:_movePageTo('messages_details')" >
                    <img src="images/messagesicon.png" alt="messagesicon" />
                    <h4>New Message</h4>
                </a>
            </li>
        </ul>
        <div class="clear"></div>
    </div>
    <div class="messagestabsbox" onclick="_movePageTo('messages_details')">
        <div class="radiobox_message">
            <span class="radiobox radiobtn" >
                <input class="check" type="radio" placeholder="Password">
            </span>
            SMS
        </div>
        <div class="radiobox_message" onclick="_movePageTo('messages_internal1')">
            <span class="radiobox">
                <input class="check" type="radio" value="" placeholder="">
            </span>
            E-email
        </div>
        <div class="radiobox_message" onclick="_movePageTo('messages_internal1')">
            <span class="radiobox">
                <input class="check" type="radio" value="" placeholder="">
            </span>
            Web
        </div>
        <div class="radiobox_message" onclick="_movePageTo('messages_internal')">
            <span class="radiobox">
                <input class="check" type="radio" value="" placeholder="">
            </span>
            Internal
        </div>
        <div class="radiobox_message">
            <span class="radiobox">
                <input class="check" type="radio" value="" placeholder="">
            </span>
            Backoffice
        </div>
    </div>

    <div class="mess_textarea_box">
<textarea placeholder="" >Here will be text ! \n The amount of characters should go down to '0'  adn then will give message, 'max. available characters reached'(max 250 characters)</textarea>
        <p class="comm_para" >112 char left</P>
        <button>send SMS</button>
        <div class="clear"></div>
    </div>
</div>
<div class="clear"></div>