<style>
table.machine, th, td {
    border: 1px solid #ccc;
}
</style>

<script src="src/controllers/overview.js"></script>
<div class="consult_bx chks">
        <div class="internal_userleft" style="width: 100%; float: none; margin-top: 15px; ">
            <!-- <span class="use_internalimg">
		  
               <img alt="Loading.." src="images/no_image.png" id="memberImage">
            </span>
			
            <h4 class="memberName"><img src="images/loading.gif"/></h4> -->
			<img alt="Loading.." src="images/strength.png" id="strength_set">
			<a href="javascript:mindStatus()" class="newtest strength" style="float: left;margin-top: 17px;width: 150px;margin-left:10px;">Strength</a>
			<input type="hidden" value="" id="usid">
			 <div class="overview_dropdownformenus" style ="width:23%; float: right;margin-right: 12px;margin-top: 8px;"></div>
        </div>

        <div class="">
            <div class="check_reslt">
			<div class="user_info check_user">
              <label>Name: 	</label> <input type="text" class="strength_input" name="name" id="name" style="background:#fff !important;"/>	
			  <label>Email: 	</label> <input type="text" class="strength_input" name="email" id="email" style="background:#fff !important;"/>
			  <div class="days_view">
			  <label>Week: 	</label> <select name="week" id="week" class="weekend">
			 
			  <option value="">--select week--</option>
			  </select>
			  <input type="text" class="strength_input wt_d" readonly name="weekdate" id="week_date" value="" style="background:#fff !important;color:#000;"/>
			  </div>
			</div>
			<div class="main-info">
			<div class="machine-info" id="show">
		<table class="machine" id="customers">
				<tr>
					<th></th>
					<th></th>
					<th>Number</th>
					<th>Toestel</th>
					<th>Training 1</th>
					<th>Training 2</th>
					<th>Training 3</th>
					<th>Training 4</th>
					<th>Training 5</th>
					<th>Training 6</th>
					<th>Training 7</th>
				</tr>
				<tr>
					<th></th>
					<th colspan="3">Pin position</th>
					<th>up|down</th>
					<th>up|down</th>
					<th>up|down</th>
					<th>up|down</th>
					<th>up|down</th>
					<th>up|down</th>
					<th>up|down</th>
				</tr>
				
		</table>
			<!-- <div class="keep-train">
				<button class="machine_train">Keep training with original values</button>
				<button class="machine_train">Save changes for next training</button>
			</div> -->
			</div>
			<div class="program_data" id="" style="display:none;">
		
				<select id="program" class="listfree progg" style="display:none;">
				<option value="">--select program--</option>
				</select>
				<table id="week_schedule" style="display:none;">
						<tr>
						<td>Week</td>
						<td>Series</td>
						<td>Reps</td>
						<td>Time</td>
						<td>Strength</td>
						<td>Pause</td>
						</tr>
				
				</table>
		
		
		</div>
			<div class="dd machine_pin">
			
				<div class="left_strength_new">
					<div class="incr_dicr">
						<input type="button" class="increment_decrement" onclick="decrementValue1()" id="dic1" value="-" style="display:none;"/>
						<input type="text" class="inc_val" id="new_strength1" value="" style="display:none; color:#000!important;" min="1" value="1" size="4" title="Numeric Only"/>
						<input type="button" class="increment_decrement" onclick="incrementValue1()" value="+" id="inc1" style="display:none;"/>
					</div>
					<div class="incr_dicr">
						<input type="button" class="increment_decrement" onclick="decrementValue2()" value="-" id="dic2" style="display:none;"/>
						<input type="text" class="inc_val" id="new_strength2" value=""  style="display:none;color:#000!important;"/>
						<input type="button" class="increment_decrement" onclick="incrementValue2()" value="+" style="display:none;" id="inc2"/>
					</div>
				</div>
			<div class="all_button">
					<button class="machine_train" id="go_back_to_1_new_strength" onclick="getweek_value();" style="display:none;">Go back to week 1</button><br/>
					<button class="machine_train" id="continue_with_new_strength" onclick="continue_with_new_strength();" style="display:none;">continue with current week</button><br/>
					<button class="machine_train" id="change_future" style="display:none;">Go back to week 1 change future training values</button><br/>
					<button class="machine_train" id="continue_with_current" onclick="continue_with_current_week();" style="display:none;">Continue with current week</button><br/>
					<button class="machine_train" id="go_back_to_1" style="display:none;" onclick="go_back_to_week();">Go back to week 1</button><br/>
					<button class="machine_train" id="start_12_week" onclick ="start_12_week();" style="display:none;">Start 12 week program again</button><br/>
				 <button class="machine_train" onclick="show_Particularprogramweek();">change/show training program</button><br/> 
				<button class="machine_train" onclick="show_weight();" id="show_weight_pin">show weight/pins</button>
		</div>
				<input type="hidden" name="user_id" id="user_id">
			</div>
			</div>
        </div>
		
		
		
</div>
</div>