<script src="src/controllers/manage-memberdetails.js"></script>
<div class="program">
	<div class="internal_userleft" style="width: 100%; float: none; margin-top: 15px; ">
        <span class="use_internalimg">
            <img alt="Loading.." src="images/no_image.png" id="memberImage">
        </span>
	</div>
	<div style="float:left;width:100%;">
		<h3 style="float:left;color:#bb61b7;margin:10px 0 0 0;">Trainingsschema</h3>
	</div>
	<!-- ------------------------------------------------------------------------------- -->
				<div style="border: 1px solid #bb61b7; border-radius: 10px;float: left;width: 100%;">
				<div style="float: left;width: 39%;padding:5px 0 0 5px">
					<div style="float: left;width: 50%;">
						<p>Conditie niveau:</p>
					</div>
					<div id="prglvl" style="float: left;width: 50%;">
						<img  style="width:60%;" src=""> 
					</div>
				</div>
				<div style="float: right;width: 45%;">
					<div style="float: left;width: 100%;margin: 10px 0 5px 0;">
						<p style="float: left;width:150px;margin: 0;">Persoonlijke doelstelling:</p>
						<p id="personalgoal" style="width:150px; float: left;border: 1px solid #bb61b7;border-radius: 15px;margin: 0 0 0 15px;padding: 5px;"></p>
					</div>
					<div style="float: left;width: 100%;margin: 10px 0 5px 0;">
						<p style="float: left;width:150px;margin: 0;">Medische beperking</p>
						<p id="" style="width:150px; float: left;border: 1px solid #bb61b7;border-radius: 15px;margin: 0 0 0 15px;padding: 5px;"></p>
					</div>
					<div style="float: left ;width: 100%;margin: 10px 0 5px 0;">  
						<p style="float: left;width:150px;margin: 0;">IAND - HF:</p>
						<p id="iandhf" style="width:150px; float: left;border: 1px solid #bb61b7;border-radius: 15px;margin: 0 0 0 15px;padding: 5px;"></p>
					</div>
					<div style="float: left;width: 100%;margin: 10px 0 5px 0;">
						<p style="float: left;width:150px;margin: 0;">IAND - P</p>
						<p id="iandp" style="width:150px; float: left;border: 1px solid #bb61b7;border-radius: 15px;margin: 0 0 0 15px;padding: 5px;"></p>
					</div>

				</div>
			</div>
						<div style="border: 1px solid #bb61b7; border-radius: 10px;float: left;width: 94%;margin-top:1%;padding:0 2% 2% 2%">
				<h3 style="width:100%;float:left;color:#bb61b7;margin:10px 0 0 0;">Trainingswaardes</h3>
				<table style="border-collapse:collapse;width: 100%;text-align:center;">
				<tr>
					<th style="width: 25%; border-bottom: 1px solid #bb61b7;padding:5px 0;">% IAND P</th>
					<th style="width: 25%; border-bottom: 1px solid #bb61b7;padding:5px 0;">Doel </th>
					<th style="width: 25%; border-bottom: 1px solid #bb61b7;padding:5px 0;">Fietsen HF</th>
					<th style="width: 25%; border-bottom: 1px solid #bb61b7;padding:5px 0;"> Watt</th>
				</tr>
				<tr>
					<td style="width: 25%;padding:5px 0;">-70%</td>
					<td style="width: 25%;padding:5px 0;">Herstel </td>
					<td id="fietsen_fr" style="width: 25%;padding:5px 0;"></td>
					<td id="watt_fr" style="width: 25%;padding:5px 0;"></td>
				</tr>
				<tr>
					<td style="width: 25%;padding:5px 0;">70%-80%</td>
					<td style="width: 25%;padding:5px 0;">Vetverbranding</td>
					<td id="fietsen_sec" style="width: 25%;padding:5px 0;"></td>
					<td id="watt_sec" style="width: 25%;padding:5px 0;"></td>
				</tr>
				<tr style="">
					<td style="color:#fff;padding:5px 0;width: 25%;background:#AC41A1;border-bottom-left-radius:10px!important;border-top-left-radius:10px!important;">80%-90%</td>
					<td style="color:#fff;padding:5px 0;width: 25%;background:#AC41A1;">Basisuithouding</td>
					<td id="fietsen_thr" style="color:#fff;padding:5px 0;width: 25%;background:#AC41A1;"></td>
					<td id="watt_thr" style="color:#fff;padding:5px 0;width: 25%;background:#AC41A1;border-top-right-radius:10px!important;border-bottom-right-radius: 10px!important;"></td>
				</tr>
				<tr>
					<td style="padding:5px 0;width: 25%;">90%-97%</td>
					<td style="padding:5px 0;width: 25%;">Tempo /weerstand</td>
					<td id="fietsen_frt" style="padding:5px 0;width: 25%;"></td>
					<td id="watt_frt" style="padding:5px 0;width: 25%;"></td>
				</tr>
				</table>
			</div>
	<!-- ------------------------------------------------------------------------------ -->
</div>

