<script src="src/controllers/strength-program.js"></script>
            <div class="comm_innerbox" >
                <div class="managebox">
                    <input type="hidden" value="" id="idstartdate" />
                    <div class="headerfieldbox">
                        <label for="client_name" style="display:none"></label>
                        <input type="text" class="int_nw " id="client_name" disabled />
                        <label for="client_email" style="display:none"></label>
                        <input type="text" class="int_nw mar_left" id="client_email" disabled />
                        <ul class="footermenu">
                            <li>
                                <a href="javascript:void(0)" >
                                    <img src="images/imageicon.png" alt="imageicon" />
                                    <h4 class="transstartweek">STRART 12 WEEK</h4>
                                </a>
                            </li>

                            <li>
                                <a href="javascript:void(0)" onclick="changeSheduleProgram()">
                                    <img src="images/listicon.png" alt="addicon" />
                                    <h4 class="transchangeschdule">CHANGE SCHEDULE</h4>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"  onclick="changeShowStrengthprogram()">
                                    <img src="images/editicon.png" alt="editicon" />
                                    <h4 class="transchangeshow">CHANGE / SHOW</h4>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" onclick = "addMachinetoProgram()">
                                    <img src="images/addicon1.png" alt="addicon1" />
                                    <h4 class="transaddmachine">ADD FUTURE MACHINES</h4>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" onclick = "removeMachienForfeatureTrainign()">
                                    <img src="images/deleteicon.png" alt="deleteicon" />
                                    <h4 class="transremovemachine">REMOVE MACHINE</h4>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" >
                                    <img src="images/saveicon.png" alt="saveicon" />
                                    <h4 class="transremovenext">REMOVE NEXT</h4>
                                </a>
                            </li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    <div class="tabsbox">
                        <span class="transcardio">Cardio test todo</span>
                        <span class="transbodycomp">Bodycomp. test todo</span>
                        <span class="transflexibility">Flexibility test todo</span>
                        <span class="transreports">Reports to print</span>
                        <span class="transovertraining">Overtraining</span>
                    </div>
                    <div class="strengthprogram_hder " >
                        <label class="transstrengthweek" for="idtrainingweeks">Select Week :</label>
                         <select id="idtrainingweeks" class="clsweektraining">
                                <option value="0">1</option>
                                <option value="1">2</option>
                                <option value="2">3</option>
                                <option value="3">4</option>
                                <option value="4">5</option>
                                <option value="5">6</option>
                                <option value="6">7</option>
                                <option value="7">8</option>
                                <option value="8">9</option>
                                <option value="9">10</option>
                                <option value="10">11</option>
                                <option value="11">12</option>
                        </select>
                        <input type="text" class="trainingweekdata" id="trainingweekdata" placeholder="00/00/0000 - 00/00/0000" />
                        <label class="transamttrainingdone">Amount trainings done :</label>
                        <input class="wd_50 trainingsdone disabled" type="number" placeholder="0" value="" disabled="disabled"/>
                        <label class="transslcttraining">selected training program:</label>
                        <span class="clsLastProgramName disabled">Kracht Uithouding 1</span>
                        <input type="hidden" value="" class="clsLastProgramNameHidden"/>
                        <input type="hidden" value="" class="clsLastProgramNameid"/>
                    </div>
                    <div id="strengthOverViewProgram"></div>
                    <!-- <div class="managetable " id="strengthOverViewProgram">
                        <table cellpadding="0" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Select</th>
                                    <th>Number</th>
                                    <th>Toestel</th>
                                    <th>Training 1</th>
                                    <th>Training 2</th>
                                    <th>Training 3</th>
                                    <th>Training 4</th>
                                    <th>Training 5</th>
                                    <th>Training 6</th>
                                </tr>
                            </thead>
                            <tbody cellpadding="0" cellspacing="0">
                                <tr><td colspan="8">No Result Found</td></tr>
                            </tbody>
                        </table>
                    </div> -->

                    <div class="tabsbox">
                        <span class="transtrainingngorgval">keep training with original values </span>
                        <span class="transsavenexttrng">Save Changes for next training</span>
                        <span class="transshowweights">Show Weights / Pins</span>
                    </div>

                </div>
                <div class="clear"></div>
            </div>