/* .exit_link {
    display: none !important;
    } */

.header{
    padding-top: 20px;
    }

.logout_link a {
    border-bottom: 0 !important;
    }

.page_content.centerwidth {
    width: 98% !important;
    /* margin: 85px auto !important; */
    float: none !important;
    }

/* .main_content_bx .page_content {
    margin: 85px auto !important;
    } */
