body{ margin:0; padding:0; font-family:Arial, Helvetica, sans-serif;}
.wrapper{ float:left; width:100%;}
.ipad{ width:100%; margin:auto;}
.daily_Event {background:rgba(0, 0, 0, 0) url("../images/side_bg.png") no-repeat scroll left top / 24% 100%; float: left;/*min-height: 768px;*/ padding: 17px 0 15px 25%; width: 75%;}
.main_content{ float:left; width:100%;}
.main_content { border: 1px solid #1b95ac;border-radius: 13px;float: left; margin: 0 1%;width: 98%;padding-bottom: 10px;}
.main_content > h2 {background: #1b95ac none repeat scroll 0 0; border-radius: 12px 12px 0 0;color: #fff;font-size: 15px;margin: 0 0 12px; padding: 9px 8px;}
.main_content > h2 span { float: right;}
.sec_one{margin: 0 1%;width: 31%;float: left;}
.sl_coach {border: 1px solid #1b95ac;border-radius: 13px;font-size: 15px; height: 37px; margin: 0 1% 17px; text-align: center; width: 98%;}
.main_content.mar { margin-bottom: 18px;}
.times {float: left; margin-right: 4px;width: 45px;}
.rows1 {border-bottom: 1px solid #1b95ac;float: left; padding: 8px 3%; width: 94%;font-size: 12px;}
.btns { background: #1b95ac none repeat scroll 0 0; border-radius: 14px;color: #fff;float: right;font-size: 12px;padding: 6px 8px;}
.text_t > span { float: left;width: 100%; padding:2px 0}
.text_t {float: left;font-size: 12px;width: calc(100% - 100px);}
.bdr {border-bottom: 1px solid #1b95ac;}
.times > span {float: left;padding: 2px 0;}
.times_do{float: left; margin-right: 4px;width: 20px;margin-top: 8px;}
.text_t_do {float: left;font-size: 12px;width: calc(100% - 32px);}
.text_t_do .bdr { border-bottom: 1px solid #1b95ac;float: left;width: 100%;}
.fc-scroller.fc-time-grid-container {height: 446px !important;}
.times_cust{float: left; margin-right: 4px;width: 52px; margin-top: 4px;}  
.text_t_cust{float: left;font-size: 12px;width: calc(100% - 74px);}
.sear_bl {background: #1b95ac none repeat scroll 0 0;border: medium none;height: 22px; padding: 2px 7px; width: 100%; border-radius:15px; color:#fff;}
.alpha_a { float: left; height: 484px;list-style: outside none none;margin: 0; overflow: auto; padding: 0;width: 100%;}
.alpha_a h3 { margin: 3px 0 14px;}
.alpha_a li { border-bottom: 1px solid #1b95ac;font-size: 14px;padding: 11px 0;}
.alpha_a li a { text-decoration:none; color:#363636;}
.to_do { height: 253px; overflow: auto;}





#calendar {max-width: 900px;margin: 0 auto;}
.main_content .fc button { background: rgba(0, 0, 0, 0) none repeat scroll 0 0;border: medium none;box-sizing: border-box;cursor: pointer; font-size: 1em; height: 18px; margin: 0; padding: 0 1px; white-space: nowrap;}
.main_content .fc-toolbar h2 { font-size: 14px;}
.main_content .fc-day-grid.fc-unselectable { display: none;}/*header*/
.main_content .fc th { border-width: 0;}
.main_content .fc-row.fc-widget-header { border: medium none !important;}
.fc-unthemed .fc-divider, .fc-unthemed .fc-list-heading td, .fc-unthemed .fc-popover .fc-header {background: #1b95ac none repeat scroll 0 0;}
.main_content .fc td { border-color: #1b95ac;}
.fc-head-container.fc-widget-header {display: none;}/*weekday*/
/*2-may-2017*/
/*2-may-2017*/
.daily_manual {
    background: rgba(0, 0, 0, 0) url(../images/side_bg.png) no-repeat scroll left top / 24% 100%;
    float: left;
    min-height: 500px;
    padding: 0px 0px 0px 24%;
    width: 75%;}

.main-div{float: left;}
.basic_detail{margin: 0 1%;width: 100%;float: left;}
.manual_entry{margin: 0 1%;width: 100%;}

.manual_entry_top{width: 100%;
    margin-top: 2px;
    border-bottom: 1px solid #4195AC;}
.manual_inputs {
    width: 98%;
    float: left;
    height: 246px;
    border: 1px solid #0095ac !important;
    border-radius: 15px;
}
.left_input {
    width: 50%;
    float: left;
    margin: 30px 0 0 10px;
}

.right_input {
    float: left;
    width: 50%;
    margin: 28px -13px;
}
.button {
    border: none;
    color: #FBFDFC;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 29%;
    margin-left: 81%;
    border-radius: 28px;
}


.footer_center {
        background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px 12px;
    margin-left: 84%;
    margin-top: 244px;
}
 textarea{
	padding-top: 8px;
    padding-bottom: 0px;
	text-align: center;
    color: white;float: left;
    background-color: #4195AC;
}
.textarea1{
	text-align: center;
    color: white;
    background-color: #4195AC;
}
.textarea2{
	
	text-align: center;
    color: white;
    background-color: #4195AC;
}.textarea3{
	text-align: center;
    color: white;
    background-color: #4195AC;
}.textarea4{
	text-align: center;
    color: white;
    background-color: #4195AC;
}
.headder {
    width: 100%;
    float: left;
    height: 100px;
    /*border: 1px solid #0095ac !important;*/
    border-radius: 15px

}

.headder_center {
    margin: 10px 0 0 13px;
    margin-right: 3%;
  /*  border: 1px solid #0095ac !important;*/
    height: 76%;
}
.heder_top{
	width: 100%;
    float: left;
    height: 100px;
    text-align: center;
   /* border: 1px solid #0095ac !important;*/
    /* border-radius: 15px; */
    padding-top: 11px;
    padding-bottom: 0px;}

    .textarea_label {
        width: 151px;
    float: left;
    margin: 8px 5px;
    text-align: right;}

.Lib_area .wtt_label {
    float: left;
    width: 100px;
    padding: 5px 6px;
}

.Lib_area {
    float: left;
    margin-bottom: 10px;
}

span.wtt_label {
    float: left;
    width: 99px;
    padding: 6px 0;
}
span.crt_kuy {
    float: left;
    width: 103px;
}

span.Consult {
    float: left;
    text-align: center;
    width: 811px;}
}
.heder_top h2 {
    margin-top: 21px;
}

.heder_left{
	 background: rgba(0, 0, 0, 0) url(../images/no_image.png) no-repeat scroll left top;
    float: left;
    width: 75px;
    height: 66px;
    margin-left: 6px;
    border: 1px solid #0095ac !important;
    border-radius: 50%;margin-right: 7px;
    background-size: 100%;
}
.heder_right{
	background: rgba(0, 0, 0, 0) url(../images/no_image.png) no-repeat scroll left top;
    float: right;
    width: 75px;
    height: 66px;
    margin-left: 6px;
    border: 1px solid #0095ac !important;
    border-radius: 50%;
    background-size: 100%;
}
.manual_entry_top p {
    padding: 5px 15px;
}


.img_box{

       width: 56px;
    height: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    /* border: 1px solid #0095ac !important; */
}
.text_box{

       margin: 10px 0 0 13px;
   /* border: 1px solid #0095ac !important;*/
    height: 67%;
    width: 25%;
    margin-left: 9%;
    margin-top: -6%;
}
.text_box2{
margin: 10px 0 0 13px;
   /* border: 1px solid #0095ac !important;*/
    height: 68%;
    width: 20%;
    margin-left: 35%;
    margin-top: -7%;
}
.text_box3{
    margin: 10px 0 0 13px;
    /*border: 1px solid #0095ac !important;*/
    height: 58%;
    width: 42%;
    margin-left: 56%;
    margin-top: -7%;
}
.img_box img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid #4195AC;
	margin: 7px 2px;
}

.textlevels {
    background: #4195AC;
    height: 33px!important;
    width: 100px!important;
    color: #fff!important;
    font-size: 16px;
    padding: 5px!important;
}

input[type="text"].textlevels.watt {
    height: 29px!important;
    padding: 0 2%!important;
    width: 90%!important;
	text-align: left;
}

.button_manual {
    border: 1px solid #0095ac;
    color: #0095ac;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 29%;
    margin-left: 81%;
    border-radius: 28px;
    background: #fff;
}


