body{
    /* background-image: url(../images/bodybg.png); */
    background: #fff;
    }

.page_content:after {
    background: rgba(0, 0, 0, 0) url("../images/bodybg.png") no-repeat scroll 0 0 / 100% 100%;
    display: none;
    }

/* .homepage {
    background: url(../images/bg_home.png) no-repeat left bottom;
    } */

/* .movesmart_logo {
    background: #f33361;
    } */

.movesmart_logo h4 {
    color: #fff;
    }

.welcome_para {
    color: #61615f;
    }

.selectlist_ul {
    border: 1px solid #0095ac;
    background: rgba(255,255,255,0.4);
    }

.listdiv_left img {
    border: 1px solid #777677;
    }

.listdiv_right h3 {
    color: #000;
    }

.listdiv_right h3 span{
    color: #0095ac;
    }

.listdiv_right h4{
    color: #000;
    }

.listdiv_right p{
    color: #777677;
    }

.welcomeform label {
    background: #bebdbe;
    border: 1px solid #bebdbe;
    color: #fff;
    }

.welcomeform label:after{
    border: 1px solid #8c8c8c;
    }

.welcomeform input {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #0095ac;
    }

.readicon {
    background: #bebdbe url(../images/readicon.png) no-repeat center center / 50% auto !important;
    }

.refresh_btn {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #0095ac;
    color: #0095ac;
    }

.blackcolor {
    color: #000 !important;
    }

.backbtn {
    /*background: url(../images/back_arrow.png) no-repeat center center / 80% auto;*/
    }

.scanheartbtn {
    border: 1px solid #0095ac;
    color: #0095ac;
    }

.header {
    background: #0095ac;
    }

.logo_right ul li a:after{ 
    background: #fff;
    }

.home {
    background: url(../images/home.png) no-repeat center center;
    }

.login {
    background: url(../images/login.png) no-repeat center center;
    }

.back {
    background: url(../images/back.png) no-repeat center center;
    }

.menu {
    background: url(../images/menu.png) no-repeat center center;
    }

footer{
    background: #75767a;
    }

footer ul li, footer ul li a{
    color: #fff;
    }

.cardiotest {
    background: url(../images/cardiotest.png) no-repeat center center / 100% auto ;
    }

/* .zoomicon {
    background: url(../images/zoomicon.png) no-repeat center center / 100% auto ;
    } */

/* .username_h4 {
    color: #000;
    }

.username_txt {
    color: #f33361;
    }

.agetxt, .weighttxt {
    color: #f33361;
    }
    */
.agetxt span, .weighttxt span {
    color: #000;
    }

/* .cycle_lab {
    color: #f33361;
    } */

/* .watt_para {
    color: #000;
    } */

.inner_content table {
    border-bottom: 1px solid #80aba6;
    }

.time_panel h4 {
    color: #000;
    }

.time_panel {
    border: 1px solid #0095ac;
    background: #fff;
    }

.time_panel h2 {
    color: #000;
    }

.time_panel label {
    color: #000;
    }

.colorred {
    color: #ff0000 !important;
    }

.colorblue {
    color: #2608ff !important;
    }

.cooldown_btn {
    color: #0095ac;
    border: 1px solid #0095ac;
    }

.loginmenu ul li h4 {
    color: #000;
    }
.loginform .field_in_box  input{
    border: 1px solid #59bac9;
    color: #61615f;
    }

.field_in_box  input{
    border: 1px solid #0095ac;
    color: #61615f;
    }

li.tick h4  {
    color: #0095ac !important;
    }

.loginform .field_in_box  label {
    color: #61615f;
    }

.btn {
    border: 1px solid #0095ac;
    color: #61615f;
    background: #fff;
    }

.btn:after {
    background: #0095ac;
    }

.loginform  .btn {
    background: #fff;
    }

.forgot {
    color: #61615f;
    }

.checkouter {
    border: 1px solid #59bac9;
    background: #fff;
    }

.checkouter.checkbtn {
    background: #fff url("../images/checkbtn.png") no-repeat scroll center center / 70% auto;
    }

.headerfieldbox {
    border-bottom: 1px solid #0095ac;
    }

.headerfieldbox .footermenu li h4 {
    color: #000;
    }

.blue_bg{
    color: #fff !important;
    background: #0095ac;
    }

.tabsbox {
    border-bottom: 1px solid  #0095ac;
    }

.tabsbox  span {
    border: 1px solid #0095AC;
    color: #61615f;
    background: #fff;
    }

.tabsbox  span.active {
    border: 1px solid #0095AC;
    color: #fff;
    background: #0095AC;
    }

.managetable {
    /* background: #0095ac; */
    border: 1px solid #0095ac;
    }

.managetable table {
    background: #fff;
    /* border: 1px solid #0095ac; */
    border-right: 0 !important;
    }

.managetable table tr th {
    background: #0095ac;
    color: #fff;
    }

.managetable table tr th:after {
    background: #fff;
    }

.managetable table tr th:last-child:after {
    background: #0095AC;
    }

.managetable table tr td{
    border-left: 1px solid #0095ac;
    border-bottom: 1px solid #0095ac;
    color: #000;
    }

.pagenation button{
    border: 1px solid #0095ac;
    color: #0095ac;
    background: #fff;
    }

.pagenation li{	
    border: 1px solid #0095ac;
    color: #0095ac;
    }

.pagenation li a{
    color: #0095ac;
    }

.pagenation li.active {
    background: #0095ac;
    color: #fff;
    }

.pagenation li.active a{
    color: #fff !important;
    }

.selectbtn {
    border: 1px solid #0095ac;
    color: #0095ac;
    background: #fff;
    }

.pageheader1_box {
    border-bottom: 1px solid #0095ac;
    }

.pageheader1_box span{
    border: 1px solid #0095ac;
    }

.pageheader1_box h3 {
    color: #61615f;
    }

.pageheader1_box .btn {
    background: #fff;
    }

.testpage_listbox ul li {
    color: #61615f;
    }

.testboxlist_option  h3{
    color: #231f20;
    }

.testboxlist_field label  {
    color: #231f20;
    }

.testboxlist_field input  {
    border: 1px solid #0095ac;
    }

.testboxlist_position span {
    /* background: #0095AC; */
    background: #75767A;
    color: #fff;
    }

.pageheader1_fr_field input {
    border: 1px solid #0095ac;
    background-color:#FFF;
    }

.pageheader1_fr_button input {
    border: 1px solid #0095ac;
    background-color:#FFF;
    }

.pageheader1_fr_field label {
    color: #1d1d1b;
    }

.bluebtn {
    background: #0095AC;
    color: #fff;
    }

.testtab_list span {
    color: #1d1d1b;
    border: 1px solid #0095ac;
    background: #fff;
    }

.testtab_list span.active  {
    background: #0095ac !important;
    color: #fff !important;
    }

.bodycom_box_lf {
    border-right: 1px solid #0095ac;
    }

.bodycom_radiobox label {
    color: #1d1d1b;
    }

.radiobox {
    border: 1px solid #0095ac;
    background: #fff;
    }

.radiobtn {
    background: #fff url(../images/radiocheckicon.png) no-repeat center center / 70% auto;
    }

.bodycom_radiobox {
    border-right : 1px solid #0095ac;
    }

.fieldbox3_outer {
    border-bottom: 1px solid #0095ac;
    border-top: 1px solid #0095ac;
    }

.nextsave_outer button {
    background: #fff;
    }

.strengthbox .bodycom_radiobox {
    border: none;
    }

.heartratebox li {
    border-bottom: 1px solid #ccc;
    }

.supmenu, .logmenu {
    border: 1px solid #fff;
    background: #0095ac;
    }

.supmenu li a , .logmenu li a{
    background: #0095ac none repeat scroll 0 0;
    border-bottom: 1px solid rgba(15, 121, 138, 0.6);
    color: #fff;
    }

.timefeild {
    border: 1px solid #0095ac;
    }

.testsection_list {
    border: 1px solid #0095ac;
    background: rgba(255, 255, 255, 0.78);
    }

.testsection_header .userimagepg {
    border: 1px solid #0095ac;
    background: #fff;
    }

.test_cout {
    background: #0095ac;
    color: #fff;
    }

.testborder {
    border-top: 1px solid #0095ac;
    border-bottom: 1px solid #0095ac;
    }

.borderbottom {
    border-bottom: 1px solid #0095ac;
    }

.timecout {
    border: 1px solid #0095ac;
    }

.coolstartbtn {
    border: 1px solid #0095ac;
    background: #fff;
    }

.savebtn, .canclebtn {
    border: 1px solid #0095ac;
    background: #fff;
    }

.arrowtopbtn {
    background: #0095ac url(../images/arrowtop.png) no-repeat center center / 20px auto;
    border: 1px solid #0095ac;
    }

.flexbox {
    border-bottom: 1px solid #0095ac;
    }

.flaxh4  {
    background: #0095ac;
    color: #fff;
    }

.flexleft h5 {
    color: #000;
    }

.flexright h5 {
    color: #000;
    }

#double-label-slider.ui-slider {
    background: #dddddd;
    }
                    
#double-label-slider.ui-slider .ui-slider-handle {
    background: #25daa5;
    }
                    
#double-label-slider.ui-slider .ui-slider-handle.ui-state-hover, 
#double-label-slider.ui-slider .ui-slider-handle.ui-state-focus, 
#double-label-slider.ui-slider .ui-slider-handle.ui-state-active {
    box-shadow: 0 0 0 2px #25daa5;
    }
                                   
#double-label-slider.ui-slider .ui-slider-pip .ui-slider-line {
    background: white;
    box-shadow: 0 0 0 2px #25daa5;
    }

#double-label-slider.ui-slider .ui-slider-pip .ui-slider-label {
    color: #888888;
    }

.double-label-slider.ui-slider .ui-slider-handle {
    background: #0095ac !important;
    }

.double-label-slider.ui-slider {
    /* background: none !important; */ /* Ed 20160206 */
    background: #fff !important;
    border: 1px solid #0095ac !important;
    }

.double-label-slider.ui-slider .ui-slider-handle.ui-state-hover, .double-label-slider.ui-slider .ui-slider-handle.ui-state-focus, .double-label-slider.ui-slider .ui-slider-handle.ui-state-active {
    box-shadow: none !important;
    outline: 0 !important;
    }

.con_lbl li{
    color: #000;
    }

.remarksbox textarea {
    border: 1px solid #0095ac;
    color: #000;
    background: #fff !important;
    }

.tickouter li.tick:after{
    background: url(../images/tickicon.png) no-repeat center center / 80% auto ;
    }

.blu_input {
    background: #0095ac;
    border: 1px solid #0095ac;
    color: #fff;
    }

.blu_input_drop{
    background: #0095ac;
    border: 1px solid #0095ac;
    color: #fff;
    }
.group_checkbox_outer {
    border: 1px solid #0095ac;
    background: #fff;
    }

.group_checkbox_outer ul li {
    border-bottom: 1px solid #0095ac;
    }

/* .group_checkbox_outer ul li:last-child {
    border-bottom: none;
    } */

.group_checkbox_outer p {
    color: #61615f;
    }

.profileimages {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #0095ac;
    }

.profileimages span {
    color: #0095ac;
    }

.two_radiobox {
    border: 1px solid #0095ac;
    background: #fff;
    }

.two_radiobox_inner {
    color: #61615f;
    }

.recapchabox .recapchaimage {
    border: 1px solid #0095ac;
    background: #fff;
    }

.recapchabox input {
    border: 1px solid #0095ac;
    background: #0095ac;
    color: #fff;
    }

.savebtn1 {
    border: 1px solid #0095ac;
    background: #fff;
    color: #61615f;
    }



.page-title {
    color: #fff;
    }

.headh4 {
    color: #61615f;
    }

.feild_fg_inbox input {
    border: 1px solid #0095ac;
    background: #0095ac;
    color: #fff;
    }

.comp_text{
    color: #0095AC;
    }

.savebtn {
    border: 1px solid #0095ac;
    color: #61615f !important;
    background: #fff !important;
    }

.compulsory_text {
    color: #0095ac;
    }

/*MK Added ED to be Edited/Changed*/
.field_in_box select {
    border: 1px solid #0095ac;
    color: #61615f;
    }

.popup {
    background-color: #ffffff;
    border: 1px solid #0095ac;
    box-shadow:6px 7px 0 rgba(0, 0, 0, 0.58);
    -webkit-box-shadow:6px 7px 0 rgba(0, 0, 0, 0.58);
    }

.popupmask{
    background: rgba(0,147,172,0.4);
    }

#userprofile,#memberImage{
    background: #fff;
    }

#cleintimage{
    background: #fff;
    }

.headerfieldbox1 .footermenu li h4 {
    color: #6d6d6d;
    }

.search_bx1 {
    background: #0095ac none repeat scroll 0 0;
    border: 1px solid #0095ac;
    }

.search_bx1 input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #fff;
    }

.search_bx1 .searchicon1 {
    background: url(../images/searchicon1.png)no-repeat center center;
    }

.exercises_listbx ul li{
    border: 2px solid #0095ac;
    }

.exercises_listbx ul li img {
    border-bottom: 1px solid #0095ac;
    }

.exercises_listbx ul li h4 {
    background: #fff;
    color: #000;
    }

.headerfieldbox1  {
    border-bottom: 1px solid #0095ac;
    }

.exercise_bx_iner {
    border: 1px solid #0095ac;
    background: #fff;
    }


.exercise_bx_iner h4 { 
    border-top: 1px solid #0095ac;
    color: #61615f;
    background: #fff;
    }

.exercise_bx_iner textarea {
    border: 0;
    background: none;
    color: #000;
    }

.btn_bx {
    color: #fff;
    background: #0095ac;
    border: 1px solid #0095ac;
    }

.exercise_bx_iner textarea {
    background: none;
    color: #000;
    }

.urlbtn {
    border: 1px solid #0095ac;
    color: #0095ac;
    background: #fff;
    }

.clearbtn {
    border: 1px solid #0095ac;
    color: #0095ac;
    background: #fff;
    }

.popuptitle{
    background-color: #0095ac;
    color: #fff;
    }

.pupopfooter .btn, .pupopfooter  .selectbtn {
    background: #fff;
    }

.weightFat {
    border: 1px solid #0095ac;
    }

a.refresh-icon {
    background-image: url("../images/refresh.png");
    }

.recapchabox .clsrefreshouter{
    background-color: #0095ac;
    }

.construction{
    background-color: rgba(255, 255, 255, 0.75);
    border: 1px solid #0095ac;
    }

.clsselectbox> #usergenderdata {
    color:white !important;
    }

.disabled{
    background-color:#E3E3E3 !important;
    color: #76615f !important;
    }

/*SN added profile pic choose phpto popup*/
.choosephoto_popup {
    background: rgba(0, 0, 0, 0.88);
    }

.choosephoto_popup span.photoicon {
    background: #194DA0 url(../images/photoicon.png) no-repeat center center / 70% auto;
    }

.choosephoto_popup span.galleryicon {
    background: #194DA0 url(../images/photogalery.png) no-repeat center center / 70% auto;
    }

.choosephoto_popup  h2,.infobox_popup  h2{
    color: #ffcb0c;
    }

.hidePg {
    background-color:rgba(0,147,172,0.4);
    }

.tstouter{
    background-color:#000;
    }

.toastbox{
    background: rgba(29, 35, 74, 0.72);
    border: 1px solid #0095ac;
    }

.toastbox p {
    color: #fff;
    }

.verygood_btn {
    background: #fff;
    color: #0095ac !important;
    }

.verygood_btn:hover {
    background: #0095ac;
    color: #fff !important;
    }

.mask-screen{
    background-color:rgba(0,147,172,0.4);
    }

.mask-message{
    border:1px solid #CFCFCF;
    background-color:rgba(29, 35, 74, 0.72);
    color:#fff;
    }

.mess_cont strong {
    color: #fff;
    background: #0095ac;
    }

/*ED UI - 08 Feb 2016
*Input, Select BG SET to white. Disabled field were transparent - Fixed*/
.testboxlist_field input[disabled="disabled"], .testboxlist_field select[disabled="disabled"],.testboxlist_field input:disabled,.profile_three_box input:disabled, .field_in_box input:disabled, input:disabled  {
    background: #e5e5e5 !important;
    color: #000  !important;
    border: 1px solid #767676 !important;
    text-shadow: 0 1px 0 #fff !important;
    -webkit-box-shadow: 0 1px 1px 0 #ccc;
    box-shadow: 0 1px 1px 0 #ccc;
    }

/* ED-SK Changes */	
.autgenclubs input#machinename {
    border: 1px solid #0095ac;
    }

#clubauotgnerateid {
    background: #fff !important;
    color: #0095ac !important;
    border: 1px solid #0095ac !important;
    }

/* SK-ED Changes*/
.popup_new {
    background: #fff none repeat scroll 0 0;
    border: 2px solid #0095ac;
    }

.popup_new input {
    border: 1px solid #0095ac;
    }

.helpvideobox {
    background: #000;
    }

.popup_new_bg {
    background: rgba(255,255,255,0.5);
    }

.popup_new > label {
    color: #0095ac;
    }

/* strength new test */
.int_nw {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #0095ac;
    color: #0095ac;
    }

.t_hd_bg td {
    background: rgba(0, 149, 172, 0.4) !important;
    color : #fff !important;
    }

/* .upbtn {
    background: #44C33B url(../images/upbtn.png) no-repeat center center / 65% auto;
    }

 .downbtn {
    background: #FF8201 url(../images/downbtn.png) no-repeat center center / 65% auto;
    } */

.strengthprogram_hder label {
    color: #61615f;
    }

.strengthprogram_hder input, .strengthprogram_hder select, .strengthprogram_hder span{ 
    color: #61615f;
    border: 1px solid #0095ac;
    }

.st_program_rf ul li {
    color: #808080;
    }

.st_program_rf ul li span { 
    background: #ccc;
    }

.st_program_rf ul li .current_color { 
    background: #ccc;
    border: 1px solid #ccc;
    }

.st_program_rf ul li .new_color { 
    background: #E6B11B;
    border: 1px solid #E6B11B;
    }

.st_program_btn_box button, .st_par_box label, .st_par_box input {
    border: 1px solid #0095ac;
    color: #0095ac;
    background: #fff;
    }

.st_par_box input {
    background: #0095ac !important;
    color: #fff;
    }

.selectmachine_th span {
    background: green;
    }

#double-label-slider.ui-slider .ui-slider-pip.ui-slider-pip-selected .ui-slider-label {
    color: black;
    }

input[type="text"], input[type="number"], input[type="password"], input[type="email"]  {
    background: #0095ac !important;
    color: #fff !important;
    }

#searchinputvalue {
    background: #0095ac !important;
    color: #fff  !important;
    }
.register #gender,.register .selectbox{
    color:#fff;
}
.inpt_bx:after {
    color: #0095ac;
    }
.input1, .selectdropdown {
    background: #0296ad none repeat scroll 0 0;
    border: 1px solid #0296ad;
    color: #fff;
}

input::-webkit-input-placeholder {
    color: #fff !important;
    }
 
input:-moz-placeholder { /* Firefox 18- */
    color: #fff !important;
    }
 
input::-moz-placeholder {  /* Firefox 19+ */
    color: #fff !important;
    }
 
input:-ms-input-placeholder {  
    color: #fff !important;
    }

input[type="text"], input[type="number"], input[type="password"], input[type="email"], select.editableselect  {
    background: #0095ac !important;
    color: #fff !important;
    text-align: center;
    }

#home_menu li a img, .invisib_btn a img, .headerfieldbox .footermenu li a img , .headerfieldbox1 .footermenu li a img {
    border: 1px solid #0095ac !important;
    }
	
/*.check_reslt{ float:left; width:100%; margin-top:12px; border-top:1px solid #1b95ad; font-family:Arial;    padding-top: 15px;}*/
/*18-may-2017*/
.check_reslt {
    float: left;
    width: 100%;
    margin-top: 0px;
    border-top: 1px solid #1b95ad;
    font-family: Arial;
    padding-top: 10px;
}
.left_reslt{ float:left; width:50%;}
.right_reslt{ float:left; width:50%;}
.part_1{ float:left; width:100%;}
.block_a {border: 1px solid #1b95ad;border-radius: 15px;float: left; margin: 1%;width: 47%;height: 274px; overflow-x: hidden; overflow-y: auto;}
.block_a h3 {border-bottom: 1px solid #1b95ad;font-weight: 400;margin: 5px 0; padding-bottom: 5px;text-align: center;}
.block_a p .spwdth {float: right;width: calc(100% - 35px);}
.block_a p {float: left;padding: 0 2%; width: 96%;    margin-bottom: 20px; font-size: 13px;}
.block_a .clo {float: left;margin-bottom: 14px;text-align: center;width: 100%;}
.block_a .clo span {border: 1px solid;border-radius: 14px;padding: 5px 18px;display: inline-block;margin: -7px 0 7px 44px;
float: left;position: relative;z-index: 999;}
.block_a .circle_img {float: left;width: 100%;text-align: center;}
.block_b {border: 1px solid #1b95ad;border-radius: 15px;float: left; margin: 1%;width:98%;height: 274px;}
.block_b h3 {border-bottom: 1px solid #1b95ad;font-weight: 400;margin: 5px 0; padding-bottom: 5px;text-align: center;}
.block_b h4 {text-align: center; margin: 15px 0;}
/*For Android*/
.vertical_tx
{ writing-mode:tb-rl; -webkit-transform:rotate(180deg);-moz-transform:rotate(180deg); -o-transform: rotate(180deg); -ms-transform:rotate(180deg); transform: rotate(180deg); white-space:nowrap; display:block; bottom:0; width:20px; height:auto; margin:0 0 0 10px!important;position: relative!important;}
.vertical_tx.rt
{writing-mode:tb-rl;  -webkit-transform:rotate(-360deg); -moz-transform:rotate(-360deg); -o-transform: rotate(-360deg); -ms-transform:rotate(-360deg); transform: rotate(-360deg); white-space:nowrap; display:block;bottom:0!important; width:20px; margin:0 10px 0 0!important; top:0px!important;height:auto;position: relative!important;}
/*For IOS*/
/*.vertical_tx.rt
{writing-mode:tb-rl;  -webkit-transform:rotate(-270deg); -moz-transform:rotate(270deg); -o-transform: rotate(270deg); -ms-transform:rotate(270deg); transform: rotate(270deg); white-space:nowrap; display:block;bottom:0!important; width:20px; margin:0 10px 0 0!important; top:130px!important;height:auto;position: relative!important;}

.vertical_tx
{ writing-mode:tb-rl; -webkit-transform:rotate(90deg);-moz-transform:rotate(90deg); -o-transform: rotate(180deg); -ms-transform:rotate(180deg); transform: rotate(90deg); white-space:nowrap; display:block; bottom:0; width:20px; height:auto; margin:0 0 0 10px!important;position: relative!important;}
*/
.v_text { float: left;}
.v_text.rt { float: right;}
.four_blk {float: left;width: calc(100% - 138px); margin-bottom: 15px; padding: 0 38px;}
.blk1 span {float: left;height: 60px;width: 100%;}
.blk1.aa > span { background: #a25ca2 none repeat scroll 0 0;}
.blk1.bb > span { background: #e1e030 none repeat scroll 0 0;}
.blk1.cc > span { background: #5a64ab none repeat scroll 0 0;}
.blk1.dd > span { background: #66b3bd none repeat scroll 0 0;}
.four_blk .blk1 { border-color: #ccc;border-style: solid;float: left;width: 47%;}
.four_blk .blk1.aa { border-width: 0 3px 3px 0;padding: 0 4px 4px 0;}
.four_blk .blk1.bb { border-width: 0 0 3px 0px;padding: 0 0 4px 4px;}
.four_blk .blk1.cc { border-width: 0 3px 0 0;padding:4px 4px 0 0 ;}
.four_blk .blk1.dd { border-width: 0 0 0 0px;padding: 4px 0 0 4px;}
.clear_fix{ float:left; white-space:100%;
height:1px;}
.block_c {border: 1px solid #1b95ad;border-radius: 15px;float: left; margin:1%;width:97%;height: 90px;}
.block_c h3 {border-bottom: 1px solid #1b95ad;font-weight: 400;margin: 5px 0; padding-bottom: 5px;text-align: center;}
.block_d {border: 1px solid #1b95ad;border-radius: 15px;float: left; margin:1%;width:97%;height: 120px;}
.block_d h3 {border-bottom: 1px solid #1b95ad;font-weight: 400;margin: 5px 0; padding-bottom: 5px;text-align: center;}
.radio_div {float: left;padding: 2%; width: 96%;}
.cir {background: #d8a41c none repeat scroll 0 0;border-radius: 50%;float: left;height: 32px; margin-right: 12px; width: 32px;}	

.check_reslt span.radiobox.radiobtn {float: left;}
span.lab { margin: 5px 4px 0 2px;float: left; font-size: 14px;}
.image_rest {float: left; width: 20%;}
.right_rest { float: right;width: 78%;}
.image_rest img { width: 100%;}
.image_rest { background: url(../images/bgimage.jpg) no-repeat center center / cover;    position: absolute;
    height: 100%;}
@media (max-width:860px){
.four_blk .blk1 { width: 46%;}		
.right_rest h4 { font-size: 13px;}	
.right_rest h3 {font-size: 16px;}
.block_a p { font-size: 11px;}
.right_rest .radiobox {width: 20px;height: 20px;}
.right_rest .radiobtn { background: #fff url(../images/radiocheckicon.png) no-repeat center center / 54% auto;}
span.lab { margin: 5px 2px 0 2px;font-size: 10px;}
}
.symtext {
    width: 88%;
    margin-bottom: 7%;
    float: left;
    text-align: center;
    margin-top: 5%;
}
/*31-3-2017*/
.strength{
	color: #61615f;
    background: #fff;
    font-size: 20px;	
	
}
img#strength_set {
    height: 45px;
    margin-left: -62px;
}
.strength_input{
height: 40px !important;
    line-height: 40px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    background: #fff !important;
    color: #0095ac !important;
}
.user_info.check_user label {
    margin-left: 34px;
    margin-right: 30px;
}
.check_user .strength_input {
    width: 25%;
    border: 1px solid #ccc;
}

.machine-info {
    float: left;
    width: 77%;
    height: 100px;
}
button.machine_train {
    background: #1b95ad;
    height: 48px;
    width: 140px;
    color: #ffffff;
    font-size: 14px;
    border: none;
    margin: 3px 0;
}
.right {
    //float: right;
    //width: 22%;
    float: right;
    width: 31%;
}
.main-info {
    float: left;
    width: 100%;
    margin-top: 35px;
    margin-left: 30px;
}


table#customers {
    font-size: 15px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
	border-color: grey;
	text-align:center;
}
#customers th {
    padding-top: 11px;
    padding-bottom: 11px;
    background-color: #1b95ad;
    color: white;
    padding-left: 11px;
    padding-right: 4px;
}
.keep-train {
    float: right;
    margin-top: 13px;
}
#name {
    color: #000!important;
	text-align:left;
	    font-size: 13px;
    padding: 0 8px;
}
#week_date {
    color: #000!important;
	text-align:left;
	    font-size: 13px;
    padding: 0 8px;
}
#email {
    color: #000!important;
	text-align:left;
	    font-size: 13px;
    padding: 0 8px;
}
.green{
	background:green!important;
}
.red{
	background:red!important;
}
.weekend {
    height: 30px;
    padding: 0 4px;
}
.wt_d {
    height: 29px!important;
    width: 150px!important;
}
.days_view {
    width: 100%;
    float: left;
    margin-top: 12px;
}
#week_schedule {
    font-size: 15px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border-spacing: 0;
    width: 60%;
    border-color: grey;
    text-align: center;
    border: 1px solid #ccc;
    background: #fff!important;
}
.week_inputs {
    float: left;
    width: 108px;
    text-align: center!important;
}
#week_schedule, th {
    background: #0095ac!important;
}
#week_schedule, td {
    background: white!important;
}
.left_strength_new {
    float: left;
    width: 100px;
}
.all_button {
    float: right;
    width: 167px;
    margin-right: 30px;
}
.incr_dicr {
    margin-bottom: 25px;
    margin-top: 3px;
}
.increment_decrement {
    width: 25px;
    border: 1px solid #ccc;
    height: 28px;
}
.left_strength_new .inc_val {
    width: 31px;
    background: #fff!important;
    border: 1px solid #ccc;
    height: 28px;
}
.machine_pin {
    
    float: right;
    width: 22%;
}
/*Added CSS on 5-5-17*/
.bodycom_two {
    float: left;
}
.nextsave_outer {
    float: right;
    width: 100%;
}
/*Added CSS on 5-5-17*/
.bodycom_two {
    float: left;
}
.nextsave_outer {
    float: right;
    width: 100%;
}
/*Added CSS on 5-11-17*/
.show_dropdownformenu{
    float: right;
    padding: 27px 0;
}

.mul_bttns {
    float: right;
    width: 64%;
    margin-top: -23px;
    margin-bottom: 9px;
}

.show_manageMenus {
    float: right;
    padding-top: 17px;
}

/*.consult_dropdownformenus{
width: 23%;
    float: right;
}*/
.consult_dropdownformenus {
    width: 200px!important;
    float: right;
    margin-right: 10px;
}
.alin_btns{
    float: right;
    margin-top: -28px;
    width: 112px;
    margin-right: 58px;
}
/*.cheak_dropdownformenus{
    width: 22%;
    float: right;
}*/
/*.mind-acty {
    float: right;
    width: 300px;
}*/
.mind-acty {
    float: left;
    width: calc(100% - 40%);
}
.check_result_profile {
    width: 40%;
    float: left;
}
.cheak_dropdownformenus {
    width: 100px;
    float: right;
    margin: 27px 10px 0 0;
}
.mind-actys {
    float: right;
    width: 300px;
    margin-right: 30px;
}
.selectbtn.everydropdown
{
    width: 100px;
    float: right;
}