.welcomeform input:hover{
    border: 1px solid #0095AC;
    color: #0095AC;
    }

/* .form_field:hover label.readicon {
    background: #f33361 url(../images/readicon.png) no-repeat center center / 50% auto !important;
    } */

.selectlist_ul li:hover {
    background: rgba(0, 149, 172, 0.08);
    }

.selectlist_ul li:hover .listdiv_left img {
    border: 1px solid #0095ac;
    }

.form_field:hover label:after {
    border: 1px solid #0095AC;
    }

.form_field:hover label {
    background: #0095AC;
    }

.scanheartbtn:hover {
    background: #0095ac;
    color: #fff;
    border: 1px solid transparent;
    }

.cooldown_btn:hover{
    background: #0095AC;
    color: #fff;
    border: 1px solid transparent;
    }

.loginmenu ul li :hover h4 ,.footermenu li:hover h4 {
    color: #0095ac !important;
    }

.btn:hover {
    color: #fff !important;
    border: 1px solid transparent;
    background: #0095ac !important;
    }

.btn:hover:after  {
    height: 100%;
    }

.forgot:hover {
    color: #0095ac;
    }

.tabsbox  span:hover{
    border: 1px solid #0095AC;
    color: #fff;
    background: #0095AC;
    }

.pagenation button:hover {
    background: #0095ac;
    color: #fff;
    }

.pagenation li:hover {
    background: #0095ac;
    color: #fff;
    }

.pagenation li:hover a{
    color: #fff !important;
    }

.selectbtn:hover {
    background: #0095ac !important;
    color: #fff !important;
    }

.testtab_list span:hover{
    background: #75767a;
    color: #fff;
    }

.supmenu li a:hover , .logmenu li a:hover{
    background: #8ccfda none repeat scroll 0 0;
    color: #0095ac;
    }

.savebtn:hover, .canclebtn:hover,.coolstartbtn:hover {
    background: #0095ac;
    color: #fff;
    }

.headerfieldbox1 .footermenu li:hover h4 {
    color: #24a4b9 !important;
    }

.exercises_listbx ul li:hover h4{
    color :#fff;
    background: #0095ac;
    }

.urlbtn:hover,.clearbtn:hover  {
    background: #0095ac;
    color: #fff;
    }

.choosephoto_popup h2:hover span.photoicon {
    background: #113670 url(../images/photoicon.png) no-repeat center center / 70% auto;
    }

.choosephoto_popup :hover  span.galleryicon {
    background: #113670 url(../images/photogalery.png) no-repeat center center / 70% auto;
    }

h4.uploadMachinedetails:hover{
    cursor: pointer;
    color: #0095ac;
    }

.st_program_btn_box button:hover {
    background: #0095ac;
    color: #fff;
    }

.time_panel {
    border: 1px solid #0095ac;
    background: #fff;
    }

.headerfieldbox .footermenu li:hover h4 {
    color: #0095ac;
    }

.savebtn:hover {
    background: #0095ac !important;
    color: #fff !important;
    }

.refresh_btn:hover {
    background: #0095ac;
    color: #fff;
    }

.savebtn:hover {
    background: #0095ac !important;
    color: #fff !important;
    }

.btn:hover:after  {
    height: 100%;
    }
.savebtn1:hover {
    background: #0095ac;
    color: #fff;
    }